<section>
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/oviajamos-banner.svg"
          loading="lazy">
        <p class="title m-0">Reporte de ventas por salida</p>
      </div>
    </div>
    <div class="progress-container container">
      <div class="row">
        <div class="col-12 mt-3 px-0">
          <div class="card shadow-sm form-progress">
            <div class="card-body text-center client-text-800">
              <h5 class="card-title client-text-800 justify-content-center mt-1 mb-2">
                Cochabamba
                <img src="assets/icons/client/arrow-right-orange.svg"
                  class="mx-2"
                  loading="lazy">
                La Paz
              </h5>
              <h6 class="card-subtitle client-text-800 mb-1 mt-0"> 21:00 - 12/04/2021 </h6>
              <div class="print-passengers-btn">
                <img class="print-btn"
                  src="assets/images/printer.svg"
                  (click)="print()"
                  loading="lazy">
              </div>
            </div>
            <div class="go-back-container d-flex" (click)="backToDepartures()">
              <img src="assets/icons/client/arrow-back-orange-desktop.svg"
                class="d-md-block d-none"
                loading="lazy">
              <img src="assets/icons/client/arrow-back-orange-mobile.svg"
                class="d-md-none d-block"
                loading="lazy">
              <p class="client-text-dark-primary">Volver atrás</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <div class="custom-table-responsive">
          <table class="ovj-departures-table table-responsive-lg mt-0">
            <thead>
              <tr>
                <th class="text-center"> # pasajes </th>
                <th class="client"> Cliente </th>
                <th class="source"> Origen </th>
                <th class="route-arrow"></th>
                <th> Destino </th>
                <th> Total </th>
                <th></th>
              </tr>
            </thead>
            <tbody class="text-secondary">
              <tr class="spacing"></tr>
              <tr *ngFor="let paymentMethod of paymentMethods">
                <td class="text-center"> 1 </td>
                <td class="client"> Cameron Williamson Mamani </td>
                <td class="source"> Cochabamba </td>
                <td class="route-arrow"> > </td>
                <td> La Paz </td>
                <td class="total"> 100 </td>
                <td class="see-detail"> Ver Detalle </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>