@import 'variables';

.monthly-payment {
  padding: 20px 80px;
  .header {
    p {
      font-style: normal;
      margin-bottom: 0;
    }
    .title {
      color: $color-042b63;
      font-size: 24px;
      font-weight: 600;
      line-height: 31px;
      text-align: center;
    }
    .payment-type {
      color: $black;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      margin: 20px 0 5px 0;
    }
    .custom-radio {
      margin-bottom: 3px;
      .custom-control-label {
        cursor: pointer;
      }
    }
  }
  .alert-message {
    text-align: center;
    p {
      color: $color-042b63;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
    }
  }
  .actions {
    display: flex;
    justify-content: center;
    margin: 35px 0 15px 0;
    .ovj-btn {
      height: 33px;
      width: 265px;
    }
  }
}

@media screen and (max-width: $break-small) {
  .monthly-payment {
    padding: 20px 25px;
    .actions {
      .ovj-btn {
        width: 100%;
      }
    }
  }
}