<button type="button" class="close-modal-btn btn btn-default" (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<section class="monthly-payment">
  <div class="header">
    <p class="title"> PAGO </p>
    <p class="payment-type"> Método de pago </p>
    <div class="custom-control custom-radio" *ngFor="let key of monthlyPaymentTypeEnumKeys; let i=index">
      <input type="radio"
        [id]="'monthly-payment-type-'+i"
        class="custom-control-input"
        [checked]="monthlyPaymentTypeSelected === monthlyPaymentTypeEnum[key]"
        (click)="setMonthlyPaymentType(key)">
      <label class="d-flex custom-control-label" [for]="'monthly-payment-type-'+i">
        <p class="mb-0 pl-2"> {{ monthlyPaymentTypeEnum[key] }} </p>
      </label>
    </div>
  </div>
  <app-monthly-payment-form></app-monthly-payment-form>
  <div class="alert-message">
    <p> Verifica que los datos sean correctos, la verificación de su pago se realizará en 48 hrs. </p>
  </div>
  <div class="actions">
    <button class="btn ovj-btn orange circle-border"
      type="button"
      (click)="onSubmit()">
      Pagar servicio
    </button>
  </div>
</section>