<div class="modal-wrapper">
  <div class="content">
    <app-office-data-form></app-office-data-form>    
  </div>
  <div class="actions mb-3">
    <button class="btn ovj-btn" type="button" (click)="action.next(false)" [disabled]="submitting">
      No guardar
    </button>
    <button class="btn ovj-btn" type="button" (click)="onSubmit()" [disabled]="submitting">
      <ng-container *ngIf="!submitting"> Guardar </ng-container>
      <div *ngIf="submitting" class="spinner-border spinner-btn text-light" role="status"></div>
    </button>
  </div>
</div>