<div class="section">
  <app-warehouse-offices-filter [enterprise]="enterprise"></app-warehouse-offices-filter>
  <div class="warehouse-wrapper mb-4">
    <div class="row mt-3">
      <div class="col-lg-7 col-12 pr-lg-0">
        <app-warehouse-packages-table [assignments]="assignments"
          (selectAssignmentEvent)="selectAssignment($event)"
          (checkAssignmentEvent)="checkAssignment($event)"
          (uncheckAssignmentEvent)="uncheckAssignment($event)"
          (checkAllEvent)="checkAll()"
          (uncheckAllEvent)="uncheckAll()">
        </app-warehouse-packages-table>
        <div class="assignments-actions mt-3">
          <button class="btn btn-default ovj-btn secondary"
            *ngIf="checkedAssignments.length === 0">
            Cargar a un vehículo
          </button>
          <button class="btn btn-default ovj-btn primary"
            *ngIf="checkedAssignments.length > 0">
            Cargar a un furgón
          </button>
          <button class="btn btn-default ovj-btn success"
            *ngIf="checkedAssignments.length > 0">
            Cargar a un bus
          </button>
        </div>
      </div>
      <div class="col-lg-5 d-lg-block d-none">
        <div class="unselected-package shadow-sm" *ngIf="!selectedAssignment">
          <img src="assets/images/package-on-way.svg" loading="lazy">
          <p> Selecciona una o más encomiendas a despachar </p>
        </div>
        <div class="assignmentDetail shadow-sm" *ngIf="selectedAssignment">
          <div class="title">
            <p> Información de encomienda </p>
          </div>
          <div class="status mt-2">
            <div class="headers">
              <p> GUÍA: </p>
              <p> ESTADO: </p>
            </div>
            <div class="header-status">
              <p> {{ selectedAssignment.guide }} </p>
              <div class="status-badge">
                <p> {{ selectedAssignment.status }} </p>
              </div>
            </div>
          </div>
          <div class="divider mt-2"></div>
          <div class="total-packages mt-4">
            <p> Total paquetes: </p>
            <p> {{ getTotalPackages(selectedAssignment) }} </p>
          </div>
          <table class="packages-table mt-2">
            <thead>
              <tr>
                <th> Cant. </th>
                <th> Descripción </th>
                <th> Kg </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let package of selectedAssignment.packages">
                <td> {{ package.amount }} </td>
                <td> {{ package.description }} </td>
                <td> {{ package.weight }} </td>
              </tr>
            </tbody>
          </table>
          <div class="observation mt-3">
            <p> Observación: </p>
            <p> {{ selectedAssignment.observation }} </p>
          </div>
          <div class="oviajamos-form mt-0 p-0" autocomplete="off">
            <div class="row">
              <div class="col-12">
                <div class="ovj-form">
                  <label class="ovj-label"> Reportar </label>
                  <input type="text" class="form-control ovj-input">
                </div>
              </div>
            </div>
          </div>
          <div class="package-actions mt-4 mb-4">
            <button class="btn btn-default ovj-btn danger">
              Reportar
            </button>
            <button class="btn btn-default ovj-btn primary">
              Verificar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>