@import 'variables';

.warehouse-wrapper {
  padding: 0 15px;
  .unselected-package {
    align-items: center;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    padding: 25px;
    img {
      height: 200px;
      width: 258px;
    }
    p {
      text-align: center;
      color: $color-333e48;
      font-size: 24px;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      margin-top: 25px;
      margin-bottom: 0;
    }
  }
  .assignments-actions { 
    align-items: center;
    display: flex;
    justify-content: flex-end;
    .ovj-btn {
      height: 45px;
      width: 222px;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
    
  }
  .assignmentDetail {
    background-color: $white;
    border-radius: 10px;
    padding: 15px;
    p {
      font-style: normal;
      margin-bottom: 0;
    }
    .title {
      text-align: center;
      p {
        color: $color-343a40;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
      }
    }
    .status {
      background-color: $color-fff6da;
      border-radius: 8px;
      padding: 8px;
      .headers {
        align-items: center;
        display: flex;
        p {
          color: $black;
          font-size: 12px;
          font-weight: bold;
          line-height: 16px;
          &:first-child {
            width: 70%;
          } 
          &:last-child {
            width: 30%;
          }
        }
      }
      .header-status {
        align-items: flex-end;
        display: flex;
        p {
          color: $color-042b63;
          font-size: 24px;
          font-weight: 500;
          line-height: 24px;
          width: 70%;
        }
        .status-badge {
          width: 30%;
          p {
            background-color: $color-ffc107;
            border-radius: 10px;
            color: $white;
            font-size: 15px;
            font-weight: bold;
            line-height: 24px;
            max-width: 100%;
            min-width: 80%;
            padding: 8px;
            text-align: center;
          }
        }
      }
    }
    .divider {
      border-bottom: 0.5px solid #9ba3a9;;
      height: 1px;
      width: 100%;
    }
    .total-packages {
      align-items: flex-end;
      display: flex;
      p {
        color: $color-666666;
        font-size: 15px;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        &:last-child {
          color: $color-ff533d;
          font-size: 18px;
          font-weight: 500;
          margin-left: 5px;
        }
      }
    }
    table.packages-table {
      width: 100%;
      th {
        color: $color-666666;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        padding: 3px 8px;
      }
      td {
        color: $color-666666;
        font-size: 15px;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        padding: 8px;
      }
      thead {
        tr {
          th {
            background-color: $color-f4f5f8;
          }
        }
      }
      tbody {
        tr {
          border-radius: 4px;
          border: none;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.242);
          td {
            &:first-child {
              border-top-left-radius: 3px !important;
              border-bottom-left-radius: 3px !important;
            }
            &:last-child {
              border-top-right-radius: 3px !important;
              border-bottom-right-radius: 4px !important;
            }
          }
        }
      }
    }
    .observation {
      display: flex;
      align-items: flex-end;
      p {
        color: $color-666666;
        font-size: 15px;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        &:first-child {
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }
    .oviajamos-form {
      .ovj-form {
        .form-control {
          border-radius: 3px;
        }
      }
    }
    .package-actions {
      display: flex;
      flex-direction: column;
      .ovj-btn {
        height: 45px;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}