<div class="row">
  <div class="col-12">
    <div class="top-bar bg-white border px-2 mt-1">
      <form class="oviajamos-form p-0 m-0" [formGroup]="topBarGroup">
        <div class="row justify-content-between align-items-center px-2">
          <div class="col-md-3 pr-0">
            <div class="place-select">
              <div class="place-filter-image">
                <img *ngIf="!filterDepartureForm.source.value"
                  [src]="defaultBusStopImageUrl"
                  class="rounded-circle"
                  loading="lazy">
                <img *ngIf="filterDepartureForm.source.value"
                  [src]="busStopImageUrl"
                  class="rounded-circle"
                  loading="lazy">
              </div>
              <div class="ovj-form">
                <label class="ovj-label">Origen</label>
                <ng-select class="form-control ovj-select sourceSelect"
                  [items]="busStops"
                  bindLabel="name"
                  bindValue="busStopId"
                  formControlName="source"
                  notFoundText="Sin coincidencias"
                  (change)="submit$.next($event)">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex justify-content-between align-items-center top-bar-calendar">
              <button type="button" class="ovj-btn-circle native-size btn btn-default btn-circl top-bar-arrow"
                (click)="prevDay()">
                <img src="assets/icons/semi-arrow-left.svg" loading="lazy">
              </button>
              <div>
                <div class="top-bar-date text-center" (click)="datepicker.api.open()" >
                  <h6 class="day-text font-weight-bold mb-0 mt-1"> {{ capitalize(day) }} </h6>
                  <h5 class="date-text font-weight-bold mb-1">
                    {{ numberDay }} {{ capitalize(month) }} {{ year }}
                  </h5>
                </div>
                <dp-date-picker formControlName="departureDate"
                  (onSelect)="submit$.next($event)"
                  [config]="dpConf"
                  mode="day"
                  theme="dp-material"
                  class="hidden"
                  #datepicker>
                </dp-date-picker>
              </div>
              <button type="button" class="ovj-btn-circle native-size btn btn-default btn-circl top-bar-arrow"
                (click)="nextDay()">
                <img src="assets/icons/semi-arrow-right.svg" loading="lazy">
              </button>
            </div>
          </div>
            <div class="col-md-3">
              <ng-template [ngIf]="ShowAddDepartureButton">
              <button class="btn ovj-btn-add-item add-departure-btn border p-0"
                (click)="addDeparture()">
                <div class="add-item-content d-flex align-items-center justify-content-center">
                  <div class="rounded-circle">
                    <img class="rounded-circle"
                      src="assets/icons/add-icon-2.svg"
                      loading="lazy">
                  </div>
                  <p class="mr-1" >Añadir salida</p>
                </div>
              </button>
              </ng-template>
            </div>
        </div>
      </form>
    </div>
    <div class="mobile-topbar" [formGroup]="topBarGroup">
      <form class="oviajamos-form p-0 m-0" [formGroup]="topBarGroup">
        <div class="row">
          <div class="col-12">
            <div class="input-card">
              <div class="ovj-form w-100">
                <label class="ovj-label">Origen</label>
                <ng-select class="form-control ovj-select sourceSelect"
                  [items]="busStops"
                  bindLabel="name"
                  bindValue="busStopId"
                  formControlName="source"
                  notFoundText="Sin coincidencias"
                  (change)="submit$.next($event)">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-between align-items-center top-bar-calendar">
              <button type="button" class="ovj-btn-circle native-size btn btn-default btn-circl top-bar-arrow"
                (click)="prevDay()">
                <img src="assets/icons/semi-arrow-left.svg" loading="lazy">
              </button>
              <div>
                <div class="top-bar-date text-center" (click)="datepickerMobile.api.open()" >
                  <h6 class="day-text font-weight-bold mb-0 mt-1"> {{ capitalize(day) }} </h6>
                  <h5 class="date-text font-weight-bold mb-1">
                    {{ numberDay }} {{ capitalize(month) }} {{ year }}
                  </h5>
                </div>
                <dp-date-picker formControlName="departureDate"
                  (onSelect)="submit$.next($event)"
                  [config]="dpConf"
                  mode="day"
                  theme="dp-material"
                  class="hidden"
                  #datepickerMobile>
                </dp-date-picker>
              </div>
              <button type="button" class="ovj-btn-circle native-size btn btn-default btn-circl top-bar-arrow"
                (click)="nextDay()">
                <img src="assets/icons/semi-arrow-right.svg" loading="lazy">
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>