<form class="border-light oviajamos-form" autocomplete="off" [formGroup]="busStopGroup">
    <div class="mb-form ovj-input-file">
      <div class="image-circle-container">
        <img [src]="dafaultImage"
          class="view-photo"
          loading="lazy">
        <img class="camera-icon"
          src="assets/icons/camera-icon.svg"
          loading="lazy">
        <input type="file" accept=".png, .jpg, .jpeg" formControlName="imageUrl" (change)="setImage($event)">
      </div>
    </div>
    <div class="text-center mt-4">
      <h6 class="ovj-text-primary">Información de Empresa</h6>
    </div>
   <div class='col-6 d-inline-block'>
     <div class='md-form'>
       <input 
       mdbInput 
       type="text" 
       id="name" 
       class="form-control ovj-input" 
       formControlName="name"
       >       
       <label for="">Position floating <span class="text-danger">*</span></label>
      </div>
   </div>
   <div class='col-6 d-inline-block'>
     <div class='md-form'>
       <input 
       mdbInput 
       type="selector" 
       id="name" 
       class="form-control ovj-input" 
       formControlName="typeCompany"
       >       
       <label for="">Tipo de empresa <span class="text-danger">*</span></label>
    </div>
  </div>
  <div class='col-6 d-inline-block'>
    <div class='md-form'>
      <input 
      mdbInput 
      type="text" 
      id="name"  
      class="form-control ovj-input" 
      formControlName="Social"
      >       
      <label for="">Razón social <span class="text-danger">*</span></label>
    </div>
  </div>
  <div class='col-6 d-inline-block'>
    <div class='md-form'>
      <input 
      mdbInput 
      type="text" 
      id="name" 
      class="form-control ovj-input" 
      formControlName="Nit"
      placeholder="NIT"
      >       
      <label for="">Tipo de empresa <span class="text-danger">*</span></label>
    </div>
  </div>
   <div class="text-center mt-4">
    <h6 class="ovj-text-primary">Representación legal</h6>
   </div>
  <div class='col-6 d-inline-block'>
    <div class='md-form'>
      <input 
      mdbInput 
      type="text" 
      id="name" 
      class="form-control ovj-input" 
      formControlName="name"
      >       
      <label for="">Nombres <span class="text-danger">*</span></label>
    </div>
  </div>
  <div class='col-6 d-inline-block'>
    <div class='md-form'>
      <input 
      mdbInput 
      type="text" 
      id="name" 
      class="form-control ovj-input" 
      formControlName="lasName"
      >       
      <label for="">Apellidos <span class="text-danger">*</span></label>
   </div>
 </div>
 <div class='col-6 d-inline-block'>
   <div class='md-form'>
     <input 
     mdbInput 
     type="text" 
     id="name" 
     class="form-control ovj-input" 
     formControlName="ci"
     >       
     <label for="">CI <span class="text-danger">*</span></label>
   </div>
 </div>
 <div class='col-6 d-inline-block'>
   <div class='md-form'>
     <input 
     mdbInput 
     type="text" 
     id="name" 
     class="form-control ovj-input" 
     formControlName="phone"
     >       
     <label for="">Celular <span class="text-danger">*</span></label>
   </div>
  </div>
  <div class='form-actions-container'>
    <button type="button" class='btn ovj-btn-light '> Volver a inicio</button>
    <button type="button" class='btn ovj-btn-orange-2 '> Guardar</button>
  </div>
</form>