.card {
  display: flex;
  flex-direction: row;
  .template-form-wrapper {
    width: 75%;
    margin-bottom: 4rem;
  }
  .form-actions-container {
    display: flex;
    flex-direction: column;
    padding: 0 3rem 0 1rem;
    width: 25%;
    .btn {
      width: 100%;
    }
  }
}