<section class="monthly-payment container mb-5">
  <div class="header">
    <div class="title mt-2">
      <p> Pagos por servicio </p>
    </div>
  </div>
  <div class="content mt-4">
    <div class="filter row m-0 p-0">
      <div class="status-account col-lg-4 col-12">
        <p> Estado de cuenta, mes de: </p>
        <p> Los pagos se pagan cada primer día de cada mes </p>
      </div>
      <div class="month-selector col-lg-3 col-12 mt-lg-0 mt-3">
        <div class="ovj-month-selector d-flex justify-content-between align-items-center">
          <button type="button" class="ovj-btn-circle native-size btn btn-default btn-circle top-bar-arrow"
            (click)="prevMonth()">
            <i class="icon icon-arrow-outline"></i>
          </button>
          <div>
            <div class="top-bar-date text-center" (click)="datepicker.api.open()" >
              <h5 class="month-text">
                {{ capitalize(month) }}
              </h5>
              <h6 class="year-text"> {{ year }} </h6>
            </div>
            <dp-date-picker class="hidden"
              formControlName="date"
              (onChange)="submit$.next(true)"
              [config]="datePickerConf"
              mode="month"
              theme="dp-material"
              #datepicker>
            </dp-date-picker>
          </div>
          <button type="button" class="ovj-btn-circle native-size btn btn-default btn-circle top-bar-arrow"
            (click)="nextMonth()">
            <i class="icon icon-arrow-outline"></i>
          </button>
        </div>
      </div>
      <div class="bank-info col-lg-4 col-12 mt-lg-0 mt-3">
        <div class="bank">
          <p> Banco: </p>
          <img src="assets/images/bank-bnb.svg"
            loading="lazy">
        </div>
        <div class="propietary">
          <div class="item">
            <p> Razón social </p>
            <p> Norman Apellido </p>
          </div>
          <div class="item">
            <p> Cuenta: </p>
            <p> 645695419846546 </p>
          </div>
        </div>
      </div>
    </div>
    <div class="invoice-download mt-3 px-3">
      <p> Descargar factura: </p>
      <button class="btn ovj-btn orange">
        <i class="icon icon-print"></i>
        Descargar factura
      </button>
    </div>
    <hr>
    <div class="commissions mt-1 px-3">
      <div class="item">
        <div class="type">
          <p> Comisión por venta de pasajes en punto físico </p>
          <p> 1200 pasajes realizados </p>
        </div>
        <div class="value">
          <p> 1000,00 </p>
        </div>
      </div>
      <div class="item">
        <div class="type">
          <p> Comisión por venta de pasajes en línea </p>
          <p> 1400 pasajes realizados </p>
        </div>
        <div class="value">
          <p> 1200,00 </p>
        </div>
      </div>
      <div class="item">
        <div class="type">
          <p> Comisión por encomiendas realizadas </p>
          <p> 3000 encomiendas realizadas </p>
        </div>
        <div class="value">
          <p> 2000,00 </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="to-pay px-3">
      <p> Total a pagar (Bs) </p>
      <p> 4200,00 </p>
    </div>
    <hr>
    <div class="make-payment px-3">
      <div class="header">
        <p class="title"> Realizar pago </p>
        <div class="status warning">
          <p> Pendiente </p>
        </div>
      </div>
      <div class="payment-data row mt-4">
        <div class="detail col-lg-3 col-md-4 col-12">
          <div class="item">
            <p> Fecha de transferencia </p>
            <p> Miecoles 23 de Septiembre </p>
          </div>
          <div class="item">
            <p> N° de transferencia </p>
            <p> 651298181 </p>
          </div>
          <div class="item">
            <p> Nombre de banco de origen </p>
            <p> Banco Nacional de Bolivia </p>
          </div>
        </div>
        <div class="invoice-image col-lg-3 col-md-4 col-12">
          <img src="assets/images/payment-invoice-example.png" loading="lazy">
        </div>
        <div class="comment col-lg-3 col-md-4 col-12">
          <p> Una vez enviado el comprobante de pago está sujeto verificación, puede demorar hasta 48 horas. </p>
        </div>
      </div>
      <div class="upload-data px-3 mt-4 mb-5">
        <p> El pago no ha sido concretado corregir la fecha de comprobante. </p>
        <button class="btn ovj-btn orange mt-2" (click)="monthlyPayment()">
          Subir comprobante de pago
        </button>
      </div>
    </div>
  </div>
</section>