@import 'variables';

.actions {
  padding: 25px 15px;
  .buttons {
    display: flex;
    justify-content: center;
    &:first-child {
      .btn {
        &:first-child {
          background: $white;
          border: 1px solid #FF533D;
          border-radius: 8px;
          color: #2B343D;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
        }
      }
    }
    .btn {
      width: 200px;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .actions {
    .buttons {
      .btn {
        width: 50%;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .actions {
    padding: 20px 15px;
    .buttons {
      flex-direction: column;
      .btn {
        width: 100%;
        &:first-child {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}