<div class="actions">
  <div class="buttons">
    <button class="btn ovj-btn" ngbAutofocus type="button" (click)="action.next(false)">
      Cancelar
    </button>
    <button class="btn ovj-btn primary" type="button" (click)="action.next(true)">
      <i class="icon icon-download"></i>
      Guardar
    </button>
  </div>
</div>