@import 'variables';

.card{
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 7%) !important;
  border-radius: 6px;
  text-align: center;
  .succesful-payment-font {
    font-size: 18px;
    font-style: normal;
    line-height: 12px;
    letter-spacing: 0;
  }
  .succesful-payment-font2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0;
    text-decoration: underline;
    color: #FF6022;
  }
  .succesful-payment-font3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0;
    text-decoration: underline !important;
    color: $color-1763d1;
  }
  .succesful-payment-title {
    font-size: 16px;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 0;
    color: $color-1763d1;
    text-decoration: underline;
  }
  .succesful-payment-font4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    color: $color-1763d1;
  }
  .back-to-home {
    cursor: pointer;
  }
}

@media screen and (max-width: $break-small) {
  .card {
    .btn {
      width: 95%;
    }
    .succesful-payment-font3 {
      font-size: 18px;
    }
    .succesful-payment-font3 {
      color: $color-000042;
      font-size: 18px;
      text-decoration: underline !important;
    }
  }
}