@import 'variables';

.custom-card-info {
  .content-item {
    .principal {
      .item-sub-label {
        margin-bottom: 0;
      }
      .status {
        background-color: $color-f4f5f8;
        border-radius: 8px;
        padding: 10px;
        width: 100%;
        p {
          color: $color-042b63;
          font-size: 18px;
          font-weight: 500;
          line-height: 21px;
        }
        .badge {
          align-items: center;
          border-radius: 16px;
          display: flex;
          height: 55px;
          justify-content: center;
          margin-top: 5px;
          p {
            color: $white;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
          }
          &.warning {
            background-color: $color-ffc107;
          }
          &.info {
            background-color: $color-17a2b8;
          }
          &.success {
            background-color: $color-57c22d;
          }
          &.danger {
            background-color: $color-fb3f4a;
          }
        }
      }
    }
  }
}

.detail {
  .commissions {
    .title {
      color: $color-042b63;
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
      margin-bottom: 20px;
    }
    .item {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      p {
        &:first-child {
          color: $color-343a40;
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
        }
        &:last-child {
          color: $color-868e96;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
    .to-pay {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 30px 0;
      p {
        &:first-child {
          color: $color-343a40;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
        &:last-child {
          color: $color-343a40;
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
  .actions {
    .ovj-btn {
      border-radius: 4px !important;
      font-size: 16px;
      font-weight: 400;
      height: 36px;
      line-height: 24px;
      margin-bottom: 20px;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}