<div class="seat-selection-wrapper">
  <div class="departures-table" *ngIf="false">
    <div class="custom-table-responsive">
      <table>
        <thead>
          <tr>
            <th> Horario </th>
            <th class="text-center"> Carril </th>
            <th class="text-center"> Tipo de flota </th>
            <th class="text-center">
              <img class="mr-1 mb-1"
                src="assets/icons/bus/seat-available-sm.svg"
                loading="lazy">
              Disponibles
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let departure of departures">
            <td> {{ departure.departureDate.departureTime | formatHour2 }} </td>
            <td class="text-center"> {{ departure.lane }} </td>
            <td class="text-cetner"> {{ departure.bus.type }} </td>
            <td class="text-center"> {{ departure.bus.seatingScheme.totalSeats }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="bus">
    <div class="actions">
      <button class="btn ovj-btn-blue-2" type="button">
        Ver Bus
      </button>
      <button class="btn ovj-btn-blue-2 ml-2" type="button">
        Manifiesto
      </button>
    </div>
    <div class="seating-scheme">
      <app-seating-scheme-seat-selection [departure]="selectedDeparture"
        [selectedTickets]="selectedTickets"
        (selectSeatEvent)="selectNewSeat($event)">
      </app-seating-scheme-seat-selection>
    </div>
  </div>
  <div class="seats-info">
    <div class="seats">
      <p> El asiento: <b> {{ selectedTicket.position | seatNumber }} </b> </p>
      <p> Se movera a el asiento seleccionado </p>
      <p> Seleccione el nuevo Asiento </p>
    </div>
    <div class="info-table" *ngIf="false">
      <div class="info-head" *ngIf="false">
        <p> Nombres </p>
        <p> Asientos </p>
      </div>
      <div class="info-body">
        <div class="info-row">
          <div>
            <b class="text-large"> 2 <p> Maria Linares </p> </b>
          </div>
          <div>
            <p class="text-large"> 10 </p>
          </div>
        </div>
      </div>
    </div>
    <div class="move-seat-actions">
      <button class="btn ovj-btn-light" (click)="backToDepartures()">
        ATRÁS
      </button>
      <button class="btn ovj-btn-orange-2" *ngIf="false">
        Guardar
      </button>
    </div>
  </div>
</div>