@import 'variables';

.seat-selection-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
  margin-top: 30px;
  width: 100%;
  .departures-table {
    width: 30%;
    table {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
      width: 100%;
      th, td {
        padding: 3px 6px;
      }
      thead {
        th {
          background: $color-f4f5f8;
          color: $color-042b63;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 24px;
        }
      }
      tbody {
        td {
          color: #666666;
          font-size: 15px;
          font-style: normal;
          font-weight: normal;
          line-height: 24px;
          &:nth-child(3), &:nth-child(4) {
            color: $color-007bff;
          }
        }
      }
    }
  }
  .bus {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    .actions {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      .btn {
        width: 150px;
      }
    }
    ::ng-deep {
      .bus-wrapper {
        .bus-floor {
          .bus-row {
            .bus-column {
              .seat {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  .seats-info {
    width: 30%;
    .seats {
      align-items: center;
      display: flex;
      flex-direction: column;
      p {
        color: $color-042b63;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        margin: 0;
        b {
          font-weight: bold;
          font-size: 22px;
        }
      }
    }
    .info-table {
      margin-top: 10px;
      p {
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
      }
      .info-head {
        display: flex;
        p {
          margin: 0;
          padding: 5px 10px;
          &:first-child {
            width: 75%;
          }
          &:last-child {
            width: 25%;
          }
        }
      }
      .info-body {
        .info-row {
          align-items: center;
          border-radius: 5px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          display: flex;
          margin-bottom: 1px;
          div {
            padding: 5px 20px;
            p {
              color: $color-042b63;
              font-weight: normal;
              font-style: normal;
              font-size: 14px;
              line-height: 18px;
              margin: 0;
            }
            &:first-child {
              b {
                display: flex;
                align-items: center;
                p {
                  margin-left: 8px;
                }
              }
              width: 80%;
            }
            &:last-child {
              background-color: $color-1ac05c;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              text-align: center;
              width: 20%;
              p {
                color: $white;
              }
            }
            .text-large {
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: 31px;
            }
          }
        }
      }
    }
  }
  .move-seat-actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    .btn {
      font-style: normal;
      &:nth-child(1) {
        color: $black;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        margin-bottom: 10px;
      }
      &:nth-child(2) {
        color: $white;
        font-size: 18px;
        font-style: normal;
        font-weight: bold;
        line-height: 23px;
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .seat-selection-wrapper {
    flex-direction: column;
    .bus {
      width: 100%;
    }
    .seats-info {
      margin-top: 25px;
      width: 100%;
    }
  }
}