<form class="container-fluid border-light oviajamos-form" autocomplete="off"> 
  <div class="row justify-content-center ">
    <div class="col-md-8 text-center">
      <h6 class="ovj-form-title">Información del Administrador</h6>
      <img src="assets/images/escudo-seguridad.svg"
        alt="image escudo"
        loading="lazy">
      <p class="ovj-form-title"> Se recomienda usar una contraseña segura,<br> y que no uses en otro sitios.</p>
    </div>
    <div class="col-md-7">
      <div class="ovj-form">
        <label class="ovj-label">Contraseña actual<span class="text-danger">*</span></label>
        <input type="password" class="form-control ovj-input">
      </div>
    </div>

    <div class="col-md-7">
      <div class="ovj-form">
        <label class="ovj-label">Nueva contaseña<span class="text-danger">*</span></label>
        <input type="password" class="form-control ovj-input">
      </div>
    </div>
    
    <div class="col-md-7">
      <div class="ovj-form">
        <label class="ovj-label">Vuelva a escribir la nueva contraseña<span class="text-danger">*</span></label>
        <input type="password" class="form-control ovj-input">
      </div>
    </div>
  </div>
  <br>
  <div class="form-actions-container">
    <button type="button" class="btn ovj-btn-orange-2"> Guardar</button>
  </div>
</form>