<app-departure-list-report *ngIf="!seeingDetail"
  (seeDetailEvent)="seeDetail($event)">
</app-departure-list-report>
<app-client-list-report *ngIf="seeingDetail"
  [departure]="departure"
  (backToDeparturesEvent)="backToDepartures($event)">
</app-client-list-report>