<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <app-client-travel-card *ngFor="let departure of departures"
        [departure]="departure"
        (selectTravelEvent)="selectTravel($event)">
      </app-client-travel-card>
    </div>
  </div>
</div>
