<div class="qr-payment card">
  <div class="card-header">
    <div class="row">
      <div class="col-12 text-center">
        <p>
          Escanea el QR desde la aplicación de tu banco <br> para proceder con el pago
        </p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 text-center">
        <img src="assets/icons/client/qr-lg.svg" loading="lazy">
      </div>
    </div>
    <div class="row offset-md-2 mt-4 mb-2">
      <div class="col-md-5 col-12 pl-md-0">
        <button type="button" class="btn ovj-btn-orange-3 font-weight-bold mb-md-0 mb-2"
          (click)="verifyPayment()"
          mdbWavesEffect>
          Verificar pago
        </button>
      </div>
      <div class="col-md-5 col-12 pl-md-0">
        <button type="button" class="btn ovj-btn-blue font-weight-bold"
          (click)="downloadQr()"
          mdbWavesEffect>
          Descargar QR
        </button>
      </div>
    </div>
  </div>
</div>