@import 'variables';

.footer-section {
  background: $color-042b63;
  min-height: 60px;
  color: $white;
  .social-term-item {
    align-items: center;  
  }
  
  h1, p, span {
    color: $white;
  }
  
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
  }
  
  .oviajamos-logo {
    height: 35px;
    width: 180px;
  }
  &.ovj-admin {
    background: linear-gradient(180deg, #2B343D 43.57%, #3A4651 100%), #042B63 !important;
  }
}