<form class="border-light oviajamos-form m-0 pt-0" autocomplete="disabled" [formGroup]="expressGroup">
  <div class="mt-3">
    <h6 class="ovj-text-primary m-0">Sobre la salida</h6>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ovj-form" [formGroup]="route">
        <label class="ovj-label">Ruta<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select express-travel-route"
          formControlName="routeId"
          notFoundText="Sin coincidencias"
          [ngClass]="{'is-invalid': submitted && route.controls.routeId.errors}">
          <ng-option *ngFor="let travelRoute of travelRoutes" [value]="travelRoute.routeId">
            {{ travelRoute.source.name}} > {{ travelRoute.destination.name }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="route.controls.routeId.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ovj-form">
        <label class="ovj-label">Carril<span class="text-danger">*</span></label>
        <input type="number" class="form-control ovj-input" formControlName="lane"
          [ngClass]="{'is-invalid': submitted && expressForm.lane.errors}"
          (keydown)="numberInputValidator($event)">
        <div class="invalid-feedback" *ngIf="expressForm.lane.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ovj-form" [formGroup]="departureDate">
        <label class="ovj-label">Desde que fecha<span class="text-danger">*</span></label>
        <dp-date-picker class="form-control ovj-picker"
          [config]="datePickerConf"
          mode="day"
          theme="dp-material"
          [minDate]="minDate"
          formControlName="startDate"
          notFoundText="Sin coincidencias"
          placeholder="DD/MM/AAAA"
          [ngClass]="{'is-invalid': submitted && departureDate.controls.startDate.errors}">
        </dp-date-picker>
        <div class="invalid-feedback" *ngIf="departureDate.controls.startDate.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="departureDate.controls.startDate.errors?.minDate">Fecha inválida</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ovj-form" [formGroup]="departureDate">
        <label class="ovj-label">Horarios<span class="text-danger">*</span></label>
        <dp-date-picker class="form-control ovj-picker"
          [config]="datePickerTimeConf"
          theme="dp-material"
          mode="time"
          pickerMode="timePicker"
          formControlName="departureTime"
          placeholder="HH:MM"
          [ngClass]="{'is-invalid': submitted && departureDate.controls.departureTime.errors}">
        </dp-date-picker>
        <div class="invalid-feedback" *ngIf="departureDate.controls.departureTime.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="driver-select ovj-form" [formGroup]="driver">
        <label class="ovj-label">Nombre chófer<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select express-driver"
          [items]="drivers"
          bindValue="driverId"
          bindLabel="fullName"
          notFoundText="Sin coincidencias"
          formControlName="driverId"
          [ngClass]="{'is-invalid': submitted && driver.controls.driverId.errors}">
          <ng-template ng-option-tmp
            let-item="item"
            let-index="index"
            let-search="searchTerm">
            <div class="card shadow-sm">
              <div class="card-body py-1 px-3">
                <div class="driver-content">
                  <img [src]="item.user.imageUrl"
                    class="driver-img rounded-circle"
                    loading="lazy">
                  <p class="ovj-text-dark-primary m-0 pl-1">
                    {{ item.user.name }} {{ item.user.lastName }}
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-select>
        <div class="invalid-feedback" *ngIf="driver.controls.driverId.errors">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ovj-form" [formGroup]="bus">
        <label class="ovj-label">Matrícula<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select express-license-plate"
          [items]="buses"
          bindLabel="licensePlate"
          bindValue="busId"
          formControlName="busId"
          notFoundText="Sin coincidencias"
          [ngClass]="{'is-invalid': submitted && bus.controls.busId.errors}">
          <ng-template ng-option-tmp
            let-item="item"
            let-index="index"
            let-search="searchTerm">
            <div class="d-flex justify-content-between">
              <p class="mb-0"> {{ item.licensePlate }} </p>
              <p class="mb-0"> /{{ item.seatingScheme?.totalSeats }} </p>
            </div>
          </ng-template>
        </ng-select>
        <div class="invalid-feedback" *ngIf="bus.controls.busId.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg">
    <div class="ovj-form no-validation-imgs">
      <label class="ovj-label">Precio<span class="text-danger">*</span></label>
      <input type="number" class="form-control ovj-input" formControlName="price"
        [ngClass]="{'is-invalid': submitted && expressForm.price.errors}"
        (keydown)="numberInputValidator($event)">
      <span class="floating-right-label ovj-text-primary">Bs.</span>
      <div class="invalid-feedback" *ngIf="expressForm.price.errors?.required">Campo obligatorio</div>
    </div>
  </div>
  </div>
  <div class="mt-3">
    <h6 class="ovj-text-primary m-0">Sobre el contratante</h6>
  </div>
  <form autocomplete="off" [formGroup]="departureContractor">
    <div class="row">
      <div class="col-lg-6">
        <div class="ovj-form">
          <label class="ovj-label">Contrato a nombre de: <span class="text-danger">*</span></label>
          <input type="text" class="form-control ovj-input" formControlName="name"
            [ngClass]="{'is-invalid': submitted && departureContractor.controls.name.errors}">
          <div class="invalid-feedback" *ngIf="departureContractor.controls.name.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback" *ngIf="departureContractor.controls.name.errors?.pattern">Ingresé sólo letras</div>
        </div>
      </div>
      <div class="col-lg">
        <div class="ovj-form">
          <label class="ovj-label">Telef. / Celular<span class="text-danger">*</span></label>
          <input type="number" class="form-control ovj-input" formControlName="phoneNumber"
            [ngClass]="{'is-invalid': submitted && departureContractor.controls.phoneNumber.errors}"
            (keydown)="numberInputValidator($event)">
          <div class="invalid-feedback" *ngIf="departureContractor.controls.phoneNumber.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback" *ngIf="departureContractor.controls.phoneNumber.errors?.min">Mínimo 7 números</div>
          <div class="invalid-feedback" *ngIf="departureContractor.controls.phoneNumber.errors?.max">Máximo 12 números</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <div class="ovj-form">
          <label class="ovj-label">Tipo de documento<span class="text-danger">*</span></label>
          <ng-select class="form-control ovj-select"
            formControlName="documentType"
            notFoundText="Sin coincidencias"
            [searchable]="false"
            [ngClass]="{'is-invalid': submitted && departureContractor.controls.documentType.errors}">
            <ng-option *ngFor="let key of documentTypeEnumKeys" [value]="documentTypeEnum[key]">
              {{ documentTypeEnum[key] }}
            </ng-option>
          </ng-select>
          <div class="invalid-feedback" *ngIf="departureContractor.controls.documentType.errors">Campo obligatorio</div>
        </div>
      </div>
      <div class="col-lg">
        <div class="ovj-form">
          <label class="ovj-label">Número de documento<span class="text-danger">*</span></label>
          <input type="text" class="form-control ovj-input" formControlName="documentNumber"
            [ngClass]="{'is-invalid': submitted && departureContractor.controls.documentNumber.errors}">
          <div class="invalid-feedback" *ngIf="departureContractor.controls.documentNumber.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback" *ngIf="departureContractor.controls.documentNumber.errors?.maxlength">Máximo 12 dígitos</div>
          <div class="invalid-feedback" *ngIf="departureContractor.controls.documentNumber.errors?.minlength">Mínimo 5 dígitos</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <p class="ovj-text-sm mb-1">Descripción</p>
        <textarea class="form-control ovj-text-area mb-2" id="textArea" rows="3" formControlName="description"></textarea>
      </div>
    </div>
  </form>
</form>