<div class="modal-wrapper">
  <div class="content">
    <img class="mb-2"
      src="assets/icons/save-notify-orange.svg"
      loading="lazy">
    <p class="title"> Confirmación </p>
    <p class="message">
      Se moverá el boleto #000-00001 <br>
      Confirma los siguientes datos:
    </p>
    <div class="seat-change-info mt-3">
      <div class="prev">
        <div class="seat-img">
          <img src="assets/icons/bus/template/seat-selected.svg" loading="lazy">
          <p> {{ selectedTicket?.position | seatNumber }} </p>
        </div>
        <div class="detail">
          <p> Anterior programación </p>
          <p> Ruta: {{ departure?.route?.source.name }} > {{ departure?.route?.destination.name }} </p>
          <p> Fecha: {{ departure?.departureDate?.startDate | formatDate }} </p>
          <p> Precio: {{ departure?.price }} Bs/asiento. </p>
        </div>
        <div class="arrow-line"></div>
        <i class="ovj-arrow down"></i>
      </div>
      <div class="next">
        <div class="seat-img">
          <img src="assets/icons/bus/template/seat.svg" loading="lazy">
          <p> {{ newTicket?.position | seatNumber }} </p>
        </div>
        <div class="detail">
          <p> Anterior programación </p>
          <p> Ruta: {{ departure?.route?.source.name }} > {{ departure?.route?.destination.name }} </p>
          <p> Fecha: {{ departure?.departureDate?.startDate | formatDate }} </p>
          <p> Precio: {{ departure?.price }} Bs/asiento. </p>
        </div>
      </div>
    </div>
  </div>
</div>