@import 'variables';

.row {
  font-style: normal;
  .main-data {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    .card-body {
      align-items: center;
      display: flex;
      .commission {
        min-height: 40px;
        margin-bottom: 0;
        width: 275px;
        .ticket-start-feature {
          background-color: $color-439623;
        }
        .ticket-content {
          border: 1px solid $ovj-secondary;
          padding: 0;
          div {
            padding: 0 0.25rem;
            &:first-child {
              align-items: center;
              background-color: $color-d4f1d3;
              height: 100%;
              width: 62%;
              p {
                font-size: 18px;
                font-weight: 500;
                line-height: 23px;
              }
            }
            &:last-child {
              border-left: 2px dashed $ovj-secondary;
              display: flex;
              justify-content: center;
              width: 38%;
              p {
                font-size: 24px;
                font-weight: 200;
                line-height: 31px;
              }
            }
          }
        }
        .ticket-end-feature {
          background-color: $color-54bb2c;
        }
      }
      .commission-type {
        align-items: center;
        background-color: $color-f4f5f8;
        border-radius: 10px;
        display: flex;
        height: 34px;
        margin-left: 40px;
        padding: 0 35px;
        p {
          color: $color-2b343d;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
        }
      }
    }
  }
  .sales-in-office {
    .card-header {
      align-items: center;
      background-color: $color-54bb2c;
      box-shadow: none;
      display: flex;
      justify-content: center;
      p {
        color: $white;
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
      }
    }
    .card-body {
      padding: 0.6rem 10px;
      .sold-tickets {
        .ticket-start-feature {
          background-color: $color-54bb2c;
        }
        .ticket-content {
          background-color: $color-f4f5f8;
          height: 66px;
          div {
            display: flex;
            color: $color-042b63;
            height: 100%;
            &:first-child {
              align-items: flex-start;
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
            }
            &:last-child {
              align-items: flex-end;
              font-size: 32px;
              font-weight: 300;
              line-height: 42px;
            }
          }
        }
        .ticket-end-feature {
          background-color: $color-54bb2c;
        }
      }
      .total-sales, .ovj-commission, .company-incomes {
        flex-direction: column;
        align-items: flex-start;
        &>p {
          color: $color-042b63;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
        }
        &>div {
          align-items: flex-end;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          p {
            &:first-child {
              color: $color-92949C;
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
              margin-bottom: 5px;
            }
            &:last-child {
              color: $black;
              font-weight: 300;
              font-size: 28px;
              line-height: 36px;
            }
          }
        }
      }
      .ovj-commission {
        &>div {
          p {
            &:last-child {
              font-weight: 300;
              font-size: 32px;
              line-height: 42px;
            }
          }
        }
      }
      .company-incomes {
        background-color: #d4f1d3;
        &>div {
          p {
            &:last-child {
              font-weight: 500;
              font-size: 28px;
              line-height: 36px;
            }
          }
        }
      }
    }
  }
  .physical-sales-percentage, .sales-by-route, .sales-by-route-office {
    .title-wrapper {
      display: flex;
      justify-content: center;
      p {
        color: $color-042b63;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
      }
    }
  }
  .physical-sales-percentage {
    .card-body {
      .chart-wrapper {
        align-items: center;
        display: flex;
        height: 100%;
        .canvas-wrapper {
          padding: 0.75rem;
          position: relative;
          width: 60% !important;
          .index-info {
            position: absolute;
            left: calc(50% - 89px);
            top: calc(50% - 21px);
            .content {
              align-items: center;
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 180px;
              p {
                color: $color-042b63;
                &:first-child {
                  font-size: 24px;
                  font-weight: 200;
                  line-height: 31px;
                }
                &:last-child {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 18px;
                }
              }
            }
          }
        }
        .chart-info {
          padding-left: 1.5rem;
          width: 40%;
          .ticket-data-item {
            border-radius: 5px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin: 1.5rem 0;
            width: 120px;
            p {
              color:  $color-042b63;
              font-weight: 500;
              font-size: 18px;
              line-height: 26px;
              padding-left: 0.25rem;
            }
            &:first-child {
              .ticket-start-feature, .ticket-end-feature {
                background-color: rgba(0, 0, 0, 0.25);
              }
            }
            &:nth-child(2) {
              .ticket-start-feature, .ticket-end-feature {
                background-color: $color-042b63;
              }
            }
            &:last-child {
              .ticket-start-feature, .ticket-end-feature {
                background-color: $color-54bb2c;
              }
            }
          }
        }
      }
    }
  }
  .sales-by-route {
    .chart-info {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      &>div {
        align-items: center;
        display: flex;
        margin-right: 0.5rem;
        .category-icon {
          border-radius: 6.5px;
          height: 13.4px;
          width: 50px;
        }
        p {
          color: $color-042b63;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          padding-left: 0.3rem;
        }
        &:first-child {
          .category-icon {
            background-color: #92949C;
          }
        }
        &:nth-child(2) {
          .category-icon {
            background-color: $color-54bb2c;
          }
        }
        &:last-child {
          .category-icon {
            background-color: $color-042b63;
          }
        }
      }
    }
    .card-header {
      align-items: center;
      background-color: $color-757575;
      box-shadow: none;
      display: flex;
      justify-content: center;
      padding: 0.5rem 0.75rem !important;
      p {
        color: $white;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
      }
    }
    .card-body {
      .physical-sales-table {
        th, td {
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
          padding: 0.2rem 0.5rem;
          text-align: center;
        }
        thead {
          th {
            background-color: $color-d4f1d3;
            border: none;
            color: $color-042b63;
          }
        }
        tbody {
          tr {
            td:first-child {
              text-align: left;
            }
          }
          .total-table-row {
            border-bottom: 1px solid $ovj-secondary;
            td {
              background-color: $ovj-secondary;
              &:first-child {
                background-color: $white;
              }
            }
          }
        }
      }
    }
  }
  .sales-by-route-office {
    .chart-wrapper {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center !important;
      margin: auto;
      width: 85%;
    } 
  }
  .sales-by-time {
    .card-header {
      align-items: center;
      background-color: $color-757575;
      box-shadow: none;
      display: flex;
      justify-content: center;
      padding: 0.5rem 0.75rem !important;
      p {
        color: $white;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
      }
    }
    .card-body {
      .chart-info {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0.25rem 0 0.75rem 0;
        &>:nth-child(1) {
          color: $color-666666;
          font-size: 12px;
          font-weight: 400;
          line-height: 13px;
          margin-left: 5px;
        }
        &>div {
          align-items: center;
          display: flex;
          margin-right: 0.5rem;
          .category-icon {
            background-color: $color-57c22d;
            border-radius: 6.5px;
            height: 13.4px;
            width: 50px;
          }
          p {
            color: $color-042b63;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            padding-left: 0.3rem;
          }
          &:first-child {
            .category-icon {
              background-color: $color-042b63;
            }
          }
          &:last-child {
            .category-icon {
              background-color: $color-54bb2c;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .row {
    .main-data {
      .card-body {
        flex-direction: column;
        .commission {
          width: 100%;
        }
        .commission-type {
          margin-left: 0;
          margin-top: 15px;
          width: 100%;
          p {
            margin: 0 auto  ;
          }
        }
      }
    }
    .physical-sales-percentage {
      .card-body {
        .chart-wrapper {
          .canvas-wrapper {
            .index-info {
              .content {
                p {
                  &:first-child {
                    font-size: 20px;
                    font-weight: 200;
                    line-height: 27px;
                  }
                  &:last-child {
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 14px;
                  }
                }
              }
            }
          }
          .chart-info {
            padding-left: 0;
          }
        }
      }
    }
    .sales-by-route {
      .chart-info {
        &>div {
          .category-icon {
            width: 40px;
          }
        }
      }
    }
  }
}