@import 'variables';

.container {
  padding: 0;
  max-width: 100%;
}

.ticket-purchase-dropdown {
  background-color: $white;
  position: fixed;
  z-index: 100;
  .dropdown-content {
    .form {
      padding-top: 0.45rem;
      padding-bottom: 0.35rem;
    }
    .ticket-detail {
      h5 {
        color: $color-1763d1 !important;
      }
    }
  }
  .toggleInfoBtn {
    &.showedInfo {
      margin-bottom: 0.5rem !important;
    }
    .view-detail {
      color: $white;
      font-weight: bold;
      margin: 0.25rem 0;
      text-decoration: underline;
    }
  }
  &.detail-dropdown {
    background-color: $color-1763d1;
  }
}

@media screen and(max-width: $break-small) {
  .ticket-purchase-dropdown {
    border-radius: 8px;
    position: fixed;
    width: 100%;
    z-index: 5;
    .dropdown-content {
      margin-top: -5px;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      transition: max-height 0.4s cubic-bezier(0, 1, 0, 1), visibility 0s 0s, opacity 0.1s linear;
      &.show {
        margin-top: 0;
        max-height: 1000px;
        opacity: 1;
        visibility: visible;
        transition: max-height 0.2s ease-in-out, opacity 1s linear, visibility 0s 0s;
      }
    }
  }
}