<section class="page-container">
 <div class="container card client-box-shadow">
   <div class="row">
     <div class="col-12">
       <div class="text-center mt-5">
         <img src="assets/images/client/not-found.svg" loading="lazy">
       </div>
       <div class="message text-center page404-font mt-5">
         <p>No encontramos viajes.<br class="d-md-block d-none">Por favor intenta cambiando tu búsqueda.</p>
       </div>
      </div>
    </div>
  </div>
</section>