@import 'variables';

.admin-home {
  .banner {
    align-items: center;
    display: flex;
    height: 95px;
    justify-content: center;
    position: relative;
    img {
      position: absolute;
      top: 0;
    }
    .title {
      color: $color-3c64b1;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.15px;
      line-height: 24px;
      margin-bottom: 0;
      z-index: 5;
    }
  }
  .cards-section.row {
    margin-top: 50px;
    .col-sm {
      padding: 0 35px;
      .register-card {
        align-items: center;
        background: $white;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.15));
        flex-direction: column;
        height: 100%;
        padding: 25px;
        img {
          height: 50px;
          margin: 7px 0 12px 0;
          width: 50px;
        }
        p {
          margin-bottom: 10px;
          font-style: normal;
        }
        p.topic {
          color: $color-042b63;
          font-size: 24px;
          font-weight: 500;
          line-height: 31px;
          text-align: center;
        }
        p.description {
          color: $color-2b343d;
          font-size: 14px;
          font-weight: normal;
          line-height: 18px;
          text-align: center;
        }
      }
    }
  }
}
