@import 'variables';

.card {
  border-radius: 6px !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 7%) !important;
  .payment-card {
    padding: 1.5rem 2rem;
    p {
      margin: 0;
    }
    .payment-content {
      .img {
        text-align: center;
        width: 30%;
      }
      .info {
        width: 70%;
        .method-type {
          font-size: 1.2rem;
          font-weight: 800;
          justify-content: center;
          margin-bottom: 0.35rem;
        }
        .btn {
          width: 80%;
        }
      }
    }
  }
  &.locked {
    background-color: $color-e9e9e9 !important;
    .payment-card {
      .payment-content {
        .info {
          .method-type {
            p {
              color: $color-bcccdb !important;
            }
          }
          .btn {
            background-color: $color-bcccdb;
            border: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .payment-card {
    padding: 1rem 2rem !important;
    .payment-content {
      .img {
        width: 45% !important;
      }
      .info {
        width: 55% !important;
        .method-type {
          flex-direction: column;
          font-size: 1.25rem;
        }
        .btn {
          display: none;
        }
      }
    }
  }
}