<div class="card mb-3" [ngClass]="{'locked': locked}">
  <div class="payment-card card-body" (click)="onSubmitCard()">
    <div class="payment-content d-flex align-items-center">
      <div class="img">
        <ng-container [ngSwitch]="methodType">
          <img *ngSwitchCase="paymentMethodEnum.QR_PAYMENT"
            src="assets/icons/client/qr-payment.svg"
            loading="lazy">
          <img *ngSwitchCase="paymentMethodEnum.CARD_PAYMENT"
            src="assets/icons/client/card-payment.svg"
            loading="lazy">
        </ng-container>
      </div>
      <div class="info text-center">
        <div class="method-type d-flex">
          <ng-container [ngSwitch]="methodType">
            <p *ngSwitchCase="paymentMethodEnum.QR_PAYMENT" class="client-text-primary mr-md-1">
              Pago por
            </p>
            <p *ngSwitchCase="paymentMethodEnum.CARD_PAYMENT" class="client-text-primary mr-md-1">
              Pago con
            </p>
          </ng-container>
          <ng-container [ngSwitch]="methodType">
            <p *ngSwitchCase="paymentMethodEnum.QR_PAYMENT" class="client-text-orange">
              QR
            </p>
            <p *ngSwitchCase="paymentMethodEnum.CARD_PAYMENT" class="client-text-orange">
              Tarjeta
            </p>
          </ng-container>
        </div>
        <button type="button" class="payment-data-btn ovj-btn-orange-3 btn font-weight-bold"
          (click)="onSubmit()"
          [disabled]="locked"
          mdbWavesEffect>
          Seleccionar
        </button>
        <div class="d-flex justify-content-center mt-md-2 mt-1" *ngIf="methodType === paymentMethodEnum.CARD_PAYMENT && !locked">
          <img class="mr-2" src="assets/icons/client/visa.svg" loading="lazy">
          <img src="assets/icons/client/master-card.svg" loading="lazy">
        </div>
        <div class="d-flex justify-content-center mt-md-2 mt-1" *ngIf="methodType === paymentMethodEnum.CARD_PAYMENT && locked">
          <img class="mr-2"
            src="assets/icons/client/visa-locked.svg"
            loading="lazy">
          <img src="assets/icons/client/master-card-locked.svg" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</div>