<div class="office-status-alert warning">
  <div class="address">
    <img src="assets\icons\warning-notify-black.svg"
      loading="lazy">
    <p> Sucursal: <b> Calle Sucre </b> </p>
  </div>
  <div class="remaining-time">
    <div class="wrapper">
      <p> Llave expira en 2 semanas </p>
      <p> 04/11/2021 </p>
    </div>
  </div>
</div>
<div class="office-status-alert danger">
  <div class="address">
    <img src="assets\icons\warning-notify.svg"
      loading="lazy">
    <p> Sucursal: <b> Ayacucho </b> </p>
  </div>
  <div class="remaining-time">
    <div class="wrapper">
      <p> Llave expira en 1 semana </p>
      <p> 27/10/2021 </p>
    </div>
  </div>
</div>