<section>
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/oviajamos-banner.svg"
          loading="lazy">
        <p class="title m-0"> Llaves de dosificación </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <app-spinner-small *ngIf="loadingCompanies"></app-spinner-small>
        <div class="custom-table-responsive" *ngIf="!loadingCompanies">
          <app-dosage-offices-table [offices]="offices"
            (editOfficeDataEvent)="editOfficeData($event)">
          </app-dosage-offices-table>
        </div>
      </div>
    </div>
  </div>
</section>