<button type="button" class="close-modal-btn btn btn-default" (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="mb-4">
  <div class="row justify-content-center" *ngIf="selectedSeatIndex === null">
    <div class="col-12 ovj-banner">
      <img src="assets/images/oviajamos-banner.svg" loading="lazy">
      <p class="title m-0"> Mover asiento en bus </p>
    </div>
    <div class="bus-template-content">
      <p class="info"> Seleccione el nuevo asiento </p>
      <div class="bus-options">
        <div class="bus">
          <app-seating-scheme-seat-selection [departure]="departure"
            [selectedTickets]="selectedTickets"
            (selectSeatEvent)="selectNewSeat($event)">
          </app-seating-scheme-seat-selection>
        </div>
      </div>
    </div>  
  </div>
  <div class="move-seat-confirmation" *ngIf="selectedSeatIndex !== null && !seatSold">
    <app-move-seat-confirmation [action]="action"
      [departure]="departure"
      [selectedTicket]="selectedTicket"
      [newTicket]="departure.tickets[selectedSeatIndex]">
    </app-move-seat-confirmation>
    <div class="actions">
      <button class="btn ovj-btn" type="button" (click)="selectedSeatIndex = null; seatSold = false">
        Atrás
      </button>
      <button class="btn ovj-btn" type="button" (click)="changeSeat()">
        Cambiar
      </button>
    </div>
  </div>
  <div class="move-seat-confirmation" *ngIf="selectedSeatIndex !== null && seatSold">
    <app-move-busy-seat-confirmation [action]="action"
      [departure]="departure"
      [selectedTicket]="selectedTicket"
      [newTicket]="departure.tickets[selectedSeatIndex]">
    </app-move-busy-seat-confirmation>
    <div class="actions">
      <button class="btn ovj-btn" type="button" (click)="selectedSeatIndex = null; seatSold = false">
        Atrás
      </button>
      <button class="btn ovj-btn" type="button" (click)="changeSeat()">
        Intercambiar
      </button>
    </div>
  </div>
</div>