<section>
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/oviajamos-banner.svg"
          loading="lazy">
        <p class="title m-0"> Configuración empresarial </p>
      </div>
      <div class="col-md-8 offset-md-2 mb-5">
        <div class="card shadow mt-2">
          <app-enterprise-settings-form [enterprise]="enterprise"
            [loadingSettings]="loadingSettings">
          </app-enterprise-settings-form>
          <div class="form-actions-container">
            <button class="btn ovj-btn-light" type="button" [disabled]="submitting" (click)="onDiscard()" *ngIf="false">
              Cancelar
            </button>
            <button class="btn ovj-btn-orange" type="submit" [disabled]="submitting" (click)="onSubmit()">
              <ng-container *ngIf="!submitting"> Guardar </ng-container>
              <div *ngIf="submitting" class="spinner-border spinner-btn text-light" role="status"></div>
              <ng-container [ngSwitch]="submitting">
              </ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>