<section class="ticket-holders">
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/oviajamos-banner.svg"
          loading="lazy">
        <img class="company-image"
          [src]="enterprise.imageUrl"
          loading="lazy">
        <p class="title m-0">Reporte de ventas Bolivar</p>
      </div>
    </div>
    <app-sales-report-top-bar [enterprise]="enterprise"
      (filterSaleEvent)="filterSale($event)">
    </app-sales-report-top-bar>
    <div class="row mt-2">
      <div class="col-12">
        <div class="d-flex lashes-container">
          <div class="sale-lash-container">
            <div class="sale-lash d-flex align-items-center"
              [ngClass]="{'selected': !saleLashSelected}"
              (click)="selectSaleLash()">
              <p class="m-0">Total Ventas</p>
            </div>
          </div>
          <div class="sale-lash-container">
            <div class="sale-lash d-flex justify-content-center align-items-center"
              [ngClass]="{'selected': saleLashSelected === saleTypeEnum.PHYSICAL}"
              (click)="selectSaleLash(saleTypeEnumKeys[0])">
              <div class="d-flex align-items-center">
                <img class="mr-1"
                  src="assets/icons/sales-physical.svg"
                  loading="lazy">
                <p class="m-0">Ventas físicas</p>
              </div>
            </div>
          </div>
          <div class="sale-lash-container">
            <div class="sale-lash d-flex justify-content-center align-items-center"
                [ngClass]="{'selected': saleLashSelected === saleTypeEnum.ONLINE}"
                (click)="selectSaleLash(saleTypeEnumKeys[1])">
              <div class="d-flex align-items-center">
                <img class="mr-1"
                  src="assets/icons/sales-online.svg"
                  loading="lazy">
                <p class="m-0">Ventas online</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 px-0">
          <div class="sale-type-separator"
            [ngClass]="{'physical': saleLashSelected == saleTypeEnum.PHYSICAL,
              'online': saleLashSelected == saleTypeEnum.ONLINE}">
          </div>
        </div>
      </div>
    </div>
    <ng-container [ngSwitch]="saleLashSelected">
      <app-total-sales *ngSwitchCase="undefined || null"
        [enterprise]="enterprise"
        [newSalesDataReport$]=newSalesDataReport$
        (updateSalesDataEvent)="updateSalesData()">
      </app-total-sales>
      <app-physical-sales *ngSwitchCase="saleTypeEnum.PHYSICAL"
        [enterprise]="enterprise"
        [newSalesDataReport$]=newSalesDataReport$
        (updateSalesDataEvent)="updateSalesData()">
      </app-physical-sales>
      <app-online-sales *ngSwitchCase="saleTypeEnum.ONLINE"
        [enterprise]="enterprise">
      </app-online-sales>
    </ng-container>
  </div>
</section>