<!-- baner -->
<div class="container">
  <div class="row">
    <div class="col-md-12 title-container">
      <h1 class="title">Perfil</h1>
    </div>
  </div>

  <div class="row white">
    <div class="col-md-3 list-group-flush activate left-menu pt-3">
      <div>
        <a
          class="menu-item list-group-item list-group-item-action"
          routerLink="info-company"
          (click)="changeOption('info-company')"
          [ngClass]="{
            'color-activation select-element': optionValid('info-company')
          }"
        >
          Información de la empresa</a
        >
      </div>

      <div>
        <a
          class="menu-item list-group-item list-group-item-action"
          routerLink="info-admin"
          (click)="changeOption('info-admin')"
          [ngClass]="{
            'color-activation select-element': optionValid('info-admin')
          }"
        >
          Información del administrador</a
        >
      </div>

      <div>
        <a
          class="menu-item list-group-item list-group-item-action"
          routerLink="change-password"
          (click)="changeOption('change-password')"
          [ngClass]="{
            'color-activation select-element': optionValid('change-password')
          }"
        >
          Cambiar contraseña</a
        >
      </div>
    </div>

    <div class="col-md-9 padding-remove">
          <router-outlet></router-outlet>
        </div>
  </div>
  <!-- segundo menu -->
</div>
