<form class="border-light oviajamos-form" autocomplete="off" [formGroup]="enterpriseGroup">
  <div class="mb-form ovj-input-file">
    <div class="image-circle-container">
      <img [src]="dafaultImage"
        class="view-photo"
        loading="lazy">
      <img class="camera-icon"
        src="assets/icons/camera-icon.svg"
        loading="lazy">
      <input type="file" accept=".png, .jpg, .jpeg" formControlName="imageUrl" (change)="setImage($event)">
    </div>
    <div *ngIf="submitted && enterpriseForm.imageUrl.errors" class="">
      <span *ngIf="enterpriseForm.imageUrl.errors.required" class="ovj-mesage-error">Imagen obligatoria  </span>
    </div>
    <div *ngIf="excededImageSize">
      <span class="ovj-mesage-error">La imagen no debe exceder 2Mb</span>
    </div>
  </div>
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary">Información empresa</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Nombre de empresa<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="name"
          [ngClass]="{'is-invalid': submitted && enterpriseForm.name.errors}">
        <div class="invalid-feedback" *ngIf="enterpriseForm.name.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="enterpriseForm.name.errors?.maxlength">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Tipo de empresa<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          formControlName="type"
          [searchable]="false"
          [ngClass]="{'is-invalid': submitted && enterpriseForm.type.errors}">
          <ng-option *ngFor="let key of enterpriseTypeEnumKeys" [value]="enterpriseTypeEnum[key]">
            {{ enterpriseTypeEnum[key] }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="enterpriseForm.type.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">Razón social<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="businessName"
          [ngClass]="{'is-invalid': submitted && enterpriseForm.businessName.errors}">
        <div class="invalid-feedback" *ngIf="enterpriseForm.businessName.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg">
      <div class="ovj-form">
        <label class="ovj-label">NIT<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="nit"
          [ngClass]="{'is-invalid': submitted && enterpriseForm.nit.errors}">
        <div class="invalid-feedback" *ngIf="enterpriseForm.nit.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="enterpriseForm.nit.errors?.minlength">Mínimo de 7 caracteres</div>
        <div class="invalid-feedback" *ngIf="enterpriseForm.nit.errors?.maxlength">Máximo de 100 caracteres</div>
      </div>
    </div>
  </div>
  <div class="text-left mt-4">
    <h5 class="ovj-text-primary"> Información bancaria </h5>
  </div>
  <ng-container *ngFor="let accountGroup of accountsArray.controls; let i=index; let first=first let last=last">
    <app-bank-account-form
      [accountGroup]="accountGroup"
      [submitted]="submitted"
      [index]="i"
      [first]="first"
      (removeAccountEvent)="removeAccount($event)">
    </app-bank-account-form>
    <div class="row" *ngIf="last">
      <div class="col-lg-6 col-12">
        <button class="bank-account-btn btn ovj-btn-light" type="button" (click)="addBankAccount()">
          <img src="assets/icons/plus-xs.svg" loading="lazy">
          <p> Agregar otra cuenta bancaria </p>
        </button>
      </div>
    </div>
  </ng-container>
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary">Representante legal</h5>
  </div>
  <ng-container [formGroup]="enterpriseForm.legalOrganizer">
    <div class="row">
      <div class="col-lg">
        <div class="ovj-form">
          <label class="ovj-label">Nombres<span class="text-danger">*</span></label>
          <input type="text" class="form-control ovj-input" formControlName="firstName"
            [ngClass]="{'is-invalid': submitted && legalOrganizerForm.firstName.errors}">
          <div class="invalid-feedback" *ngIf="legalOrganizerForm.firstName.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback" *ngIf="legalOrganizerForm.firstName.errors?.minlength">Mínimo de 3 caracteres</div>
          <div class="invalid-feedback" *ngIf="legalOrganizerForm.firstName.errors?.maxlength">Máximo de 100 caracteres</div>
        </div>
      </div>
      <div class="col-lg">
        <div class="ovj-form">
          <label class="ovj-label">Apellidos<span class="text-danger">*</span></label>
          <input type="text" class="form-control ovj-input" formControlName="lastName"
            [ngClass]="{'is-invalid': submitted && legalOrganizerForm.lastName.errors}">
          <div class="invalid-feedback" *ngIf="legalOrganizerForm.lastName.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback" *ngIf="legalOrganizerForm.lastName.errors?.minlength">Mínimo de 3 caracteres</div>
          <div class="invalid-feedback" *ngIf="legalOrganizerForm.lastName.errors?.maxlength">Máximo de 100 caracteres</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <div class="ovj-form">
          <label class="ovj-label">CI<span class="text-danger">*</span></label>
          <input type="text" class="form-control ovj-input" formControlName="documentNumber"
            [ngClass]="{'is-invalid': submitted && legalOrganizerForm.documentNumber.errors}">
          <div class="invalid-feedback" *ngIf="legalOrganizerForm.documentNumber.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback" *ngIf="legalOrganizerForm.documentNumber.errors?.minlength">Mínimo de 5 caracteres</div>
          <div class="invalid-feedback" *ngIf="legalOrganizerForm.documentNumber.errors?.maxlength">Máximo de 12 caracteres</div>
        </div>
      </div>
      <div class="col-lg">
        <div class="ovj-form">
          <label class="ovj-label">Celular<span class="text-danger">*</span></label>
          <input type="number" class="form-control ovj-input" formControlName="phoneNumber"
            [ngClass]="{'is-invalid': submitted && legalOrganizerForm.phoneNumber.errors}"
            (keydown)="numberInputValidator($event)">
          <div class="invalid-feedback" *ngIf="legalOrganizerForm.phoneNumber.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback" *ngIf="legalOrganizerForm.phoneNumber.errors?.min">Mínimo de 7 caracteres</div>
        </div>
      </div>
    </div>
  </ng-container>
</form>