@import 'variables';

.table-title {
  color: $color-042b63;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  margin-top: 1rem;
}

.ovj-reservation-table {
  border-collapse: separate;
  border-spacing: 0 1px;
  width: 100%;
  tr {
    border-radius: 10px;
    height: 50px;
  }
  td {
    position: relative;
    .shadow {
      box-shadow: 0px 3px 4px rgb(0 0 0 / 50%) !important;
      margin: 0 -13px;
      min-height: 1px;
      position: absolute;
      top: -2px;
      width: 100%;
    }
    &:first-child {
      justify-content: center;
      .shadow {
        margin-left: -2px;
        width: 85%;
      }
    }
    &:last-child {
      .shadow {
        margin-right:-8px;
      }
    }
  }
  p {
    font-style: normal;
    margin: 0;
  }
  input[type=checkbox] {
    transform: scale(1.8);
  }
  thead {
    tr {
      th {
        align-items: center;
        background-color: $white;
        padding-top: 2px;
        color: $color-042b63;
        font-size: 18px;
        font-weight: normal;
        line-height: 23px;
        padding-left: 8px;
        padding-right: 8px;
        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 49px;
        }
        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 40px;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        align-items: center;
        background-color: $white;
        color: $color-042b63;
        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
        padding-top: 2px;
        padding-left: 8px;
        padding-right: 8px;
        &:first-child {
          background-color: $color-ffc107;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          color: $black;
          text-align: center;
          width: 49px;
          p {
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
          }
        }
        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 40px;
        }
      }
    }
  }
}