.ticket-container * {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.ticket-container {
  background-color: white;
  font-size: 7.5px;
  padding: 5px 16px;
  width: 168pt !important;
}

.company-title {
  font-size: 0.55rem;
}

.source-title {
  font-size: 0.55rem;
  margin-bottom: 5px;
}

.date {
  margin-top: 5px;
}

.passenger-name {
  margin-bottom: 3px;
}

.detail-table {
  font-size: 0.5rem !important;
}

.total-amount {
  border-bottom: 1px solid black;
  font-size: 0.42rem;
}

.qr-img {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.invoice-detail, .law-info {
  line-height: normal;
}

.no-returns {
  margin: 3px 0;
}

.passengers-table {
  line-height: normal !important;
}

table.passengers-table tr {
  border-bottom: 1px solid black !important;
  border-top: 1px solid black !important;
}

.passengers-table tr td:first-child {
  width: 32px;
}

.passengers-table .position {
  font-size: 1.2rem;
}

.bus-detail-table {
  line-height: normal !important;
  margin: 5px 0;
}

.bus-detail-table .bus-license-plate {
  font-size: 0.58rem;
}

.bus-detail-table .bus-license-plate .license-plate {
  font-size: 0.65rem;
}

.bus-detail-table .bus-type {
  font-size: 0.65rem;
}

.bus-detail-table .bus-floor {
  font-size: 0.62rem;
}

.bus-detail-table .bus-lane {
  font-size: 0.55rem;
}

.destination p:first-child {
  font-size: 0.6rem;
}

.departure-time p:first-child b {
  font-size: 0.6rem;
}