@import 'variables';

.ovj-sales-table {
  border-collapse: separate;
  border-spacing: 0 1px;
  width: 100%;
  tr {
    border-radius: 10px;
    height: 50px;
  }
  td {
    position: relative;
    .shadow {
      box-shadow: 0px 3px 4px rgb(0 0 0 / 50%) !important;
      margin: 0 -13px;
      min-height: 1px;
      position: absolute;
      top: -2px;
      width: 100%;
    }
    &:first-child {
      justify-content: center;
      .shadow {
        margin-left: -2px;
        width: 95%;
      }
    }
    &:last-child {
      .shadow {
        margin-right:-8px;
      }
    }
  }
  p {
    font-style: normal;
    margin: 0;
  }
  thead {
    tr {
      th {
        align-items: center;
        background-color: $color-f4f5f8;
        padding-top: 2px;
        color: $color-042b63;
        font-size: 18px;
        font-weight: normal;
        line-height: 23px;
        padding-left: 8px;
        padding-right: 8px;
        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 30%;
        }
        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        align-items: center;
        background-color: $white;
        color: $color-042b63;
        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
        padding-top: 2px;
        padding-left: 8px;
        padding-right: 8px;
        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 30%;
          p {
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
          }
        }
        &:nth-child(2) {
          width: 150px;
        }
        &:nth-child(3) {
          min-width: 175px;
        }
        &:nth-child(4) {
          width: 150px;
        }
        &:nth-child(5) {
          width: 85px;
        }
        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 50px;
        }
        &.select-seat-message {
          background-color: $white;
          border-radius: 10px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          height: 270px;
          align-items: center;
          justify-content: center;
          .shadow {
            margin-left: -4px;
            width: 99%;
          }
        }
      }
      &.oviajamos-form {
        padding: 0;
        margin: 0;
        .md-form {
          margin: 0 !important;
          input {
            color: $color-042b63;
            font-size: 18px;
            font-weight: normal;
            line-height: 24px;
            margin: 0;
            padding: 0;
          }
        }
        ::ng-deep {
          .md-form {
            margin: 0 !important;
            input {
              color: $color-042b63;
              font-size: 18px;
              font-weight: normal;
              line-height: 24px;
              margin: 2px 0 0 0;
              padding: 0;
            }
            ::ng-deep {
              .ng-select {
                margin-top: -15px;
                .ng-arrow-wrapper {
                  display: none;
                }
              }
              .ng-select-container {
                top: 3px;
              }
              .ng-input {
                top: 11px;
              }
            }
          }
        }
      }
    }
    .btn-group {
      button {
        height: 35px;
        width: 35px;
      }
    }
  }
}
.mobile-confirm-sale {
  display: none;
}

@media screen and (max-width: $break-large) {
  .ovj-sales-table {
    display: none;
  }
  .mobile-confirm-sale {
    display: block;
    .oviajamos-form {
      background-color: $white;
      padding: 12px 15px 5px 15px;
      .md-form {
        margin: 5px 0 8px 0 !important;
      }
    }
  }
}