<div class="custom-table-responsive">
  <table class="ovj-sales-table">
    <thead>
      <tr>
        <th> CI/NIT<span class="text-danger">*</span> </th>
        <th> Nombre<span class="text-danger">*</span> </th>
      </tr>
    </thead>
    <tbody>
      <ng-container [formGroup]="personGroup">
        <tr class="oviajamos-form">
          <td> <div class="shadow"></div>
            <app-passenger-doc-number-filter
              [personGroup]="personGroup"
              [persons]="persons"
              [index]="1001">
            </app-passenger-doc-number-filter>
          </td>
          <td> <div class="shadow"></div>
            <div class="md-form">
              <input mdbInput type="text" id="name" class="form-control ovj-input"
                autocomplete="off" formControlName="name">
            </div>
          </td> 
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<div class="mobile-confirm-sale">
  <div class="oviajamos-form" [formGroup]="personGroup">
    <div class="md-form">
      <app-passenger-doc-number-filter
        [personGroup]="personGroup"
        [persons]="persons"
        [index]="1002"
        [withLabel]="true">
      </app-passenger-doc-number-filter>
    </div>
    <div class="md-form">
      <input mdbInput type="text" id="buyerName" class="form-control ovj-input"
        autocomplete="off" formControlName="name">
      <label for="buyerName" class="ovj-label">NOMBRE<span class="text-danger">*</span></label>
    </div>
  </div>
</div>