@import "variables";

.admin-home {
  .banner {
    align-items: center;
    display: flex;
    height: 95px;
    justify-content: center;
    position: relative;
    .title {
      color: $color-3c64b1;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.15px;
      line-height: 24px;
      margin-bottom: 0;
      z-index: 5;
    }
  }
  .cards-section {
    margin-top: 0px;
    .register-card {
      align-items: center;
      background: $white;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.15));
      flex-direction: column;
      height: max-content;
      min-height: 260px;
      padding: 25px;
      img {
        height: 50px;
        margin: 7px 0 12px 0;
        width: 50px;
      }
      p {
        margin-bottom: 10px;
        font-style: normal;
      }
      p.topic {
        color: $color-042b63;
        font-size: 24px;
        font-weight: 500;
        line-height: 31px;
        text-align: center;
      }
      p.description {
        color: $color-2b343d;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
        text-align: center;
      }
      p.box {
        position: absolute;
        width: 159px;
        height: 34px;
        text-align: center;
        position: relative;
        background: #f4f5f8;
        border: 1px solid #92c7ff;
        box-sizing: border-box;
        border-radius: 5px;
        margin-top: -4px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .remove-padding {
    margin: 0 !important;
    padding: 0 !important;
  }
  .cards-section.row {
    .card-movile-right {
      width: 45%;
      padding: 0;
      margin-right: 1em;
      margin-bottom: 1em;
    }
    .card-movile-left {
      width: 45%;
      padding: 0;
      margin-bottom: 1em;
    }
  }
}
