<section class="admin-home mb-3">
  <div class="row">
    <div class="banner col-12">
      <p class="title">Con Oviajamos puedes:</p>
    </div>
  </div>
  <div class="container remove-padding">
    <div class="cards-section row justify-content-center">
      <div class="col-6 col-lg">
        <div class="register-card" (click)="goTo('bus')">
          <img src="assets/icons/registration.svg"
            loading="lazy" />
          <p class="topic">1. Registrar</p>
          <p class="description">Una sola vez</p>
          <p class="description">Oficinas</p>
          <p class="description box">Administradores</p>
          <p class="description box">Vehículos</p>
          <p class="description box">Chóferes</p>
          <p class="description box">Paradas</p>
          <p class="description box">Rutas</p>
        </div>
      </div>
      <div class="col-6 col-lg">
        <div class="register-card" (click)="goTo('chofer')">
          <img src="assets/icons/next-location.svg"
            loading="lazy" />
          <p class="topic">2. Registrar Salidas</p>
          <p class="description">
            Cuando requiera organice salidas asignando chóferes.
          </p>
        </div>
      </div>
      <div class="col-6 mt-lg-0 mt-3 col-lg">
        <div class="register-card" (click)="goTo('ruta')">
          <img src="assets/icons/presentation.svg"
            loading="lazy" />
          <p class="topic">3. Ventas</p>
          <p class="description">Gestiona ventas fácilmente.</p>
        </div>
      </div>
      <div class="col-6 mt-lg-0 mt-3 col-lg">
        <div class="register-card" (click)="goTo('salida')">
          <img src="assets/icons/next-location.png"
            loading="lazy" />
          <p class="topic">4. Reportes</p>
          <p class="description">Verá informes cuando guste.</p>
        </div>
      </div>
    </div>
  </div>
</section>
