<div class="progress-container container"
  [ngClass]="{'with-ticket-purchase-dropdown': step === 1 || step === 3}">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card client-box-shadow form-progress">
        <div class="card-body text-center client-text-800">          
          <ng-container *ngIf="step === 1">
            <ng-container *ngIf="!ticketPurchaseService.departureSearchParams">
              <h5 class="card-title client-text-800 justify-content-center mt-1 mb-2">
                Todas las salidas
              </h5>
              <h6 class="card-subtitle client-text-800 mb-1 mt-0">
                {{ (filteredDepartures[0]?.departureDate.startDate) | formatDate }}
              </h6>
            </ng-container>
            <ng-container *ngIf="ticketPurchaseService.departureSearchParams">
              <h5 class="card-title client-text-800 justify-content-center mt-1 mb-2"
                *ngIf="filteredDepartures.length > 0">
                {{ filteredDepartures[0].route.source.name }}
                <img src="assets/icons/client/arrow-right-orange.svg"
                  class="mx-2"
                  loading="lazy">
                {{ filteredDepartures[0].route.destination.name  }}
              </h5>
              <h6 class="card-subtitle client-text-800 mb-1 mt-0">
                {{ (filteredDepartures[0]?.departureDate.startDate) | formatDate }}
              </h6>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="step > 1">
            <h5 class="card-title client-text-800 justify-content-center mt-1 mb-2">
              {{ selectedDeparture?.route.source.name }}
              <img src="assets/icons/client/arrow-right-orange.svg"
                class="mx-2"
                loading="lazy">
              {{ selectedDeparture?.route.destination.name  }}
            </h5>
            <h6 class="card-subtitle client-text-800 mb-1 mt-0">
              {{ selectedDeparture?.departureDate.startDate | formatDate }}
            </h6>
          </ng-container>
          <ng-container [ngSwitch]="step">
            <p class="card-text" *ngSwitchCase="1">
              <span class="client-text-orange"> Paso 1: </span> Selecciona tu servicio y horarios
            </p>
            <p class="card-text" *ngSwitchCase="2">
              <span class="client-text-orange"> Paso 2: </span> Selecciona tu(s) asiento(s)
            </p>
            <p class="card-text" *ngSwitchCase="3">
              <span class="client-text-orange"> Paso 3: </span> Llena los datos de los pasajeros
            </p>
            <p class="card-text" *ngSwitchCase="4">
              <span class="client-text-orange"> Paso 4: </span> Llena los siguientes datos
            </p>
            <p class="card-text" *ngIf="false">
              <span class="client-text-orange"> Paso 5: </span> Elige tu método de pago
            </p>
            <p class="card-text" *ngIf="false">
              <ng-container [ngSwitch]="ticketPurchaseService.paymentMethodType">
                <ng-container *ngSwitchCase="paymentMethodTypeEnum.CASH_PAYMENT">
                  <span class="client-text-orange"> Paso 6: </span> Pago en efectivo
                </ng-container>
                <ng-container *ngSwitchCase="paymentMethodTypeEnum.QR_PAYMENT">
                  <span class="client-text-orange"> Paso 6: </span> Escanea el QR y verifica el pago
                </ng-container>
                <ng-container *ngSwitchCase="paymentMethodTypeEnum.CARD_PAYMENT">
                  <span class="client-text-orange"> Paso 6: </span> Llena los datos de la tarjeta
                </ng-container>
              </ng-container>
            </p>
            <p class="card-text" *ngSwitchCase="5">
              <span class="client-text-orange"> Paso 5: </span> Contunúa con el pago
            </p>
            <p class="card-text" *ngSwitchCase="6">
              <span class="client-text-orange"> Paso 6: </span> Descarga tu boleto
            </p>
            <p class="card-text" *ngSwitchCase="7">
              <span class="client-text-orange"> Paso 6: </span> Descarga tu boleto
            </p>
          </ng-container>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngStyle]="{'width': progressPercent}"></div>
        </div>
        <div class="go-back-container d-flex" (click)="goToBack()" *ngIf="step > 1 && step <=5">
          <img src="assets/icons/client/arrow-back-orange-desktop.svg"
            class="d-md-block d-none"
            loading="lazy">
          <img src="assets/icons/client/arrow-back-orange-mobile.svg"
            class="d-md-none d-block"
            loading="lazy">
          <p class="client-text-dark-primary">Volver atrás</p>
        </div>
      </div>
    </div>
  </div>
</div>