<div class="actions-btns">
  <button class="btn ovj-btn-light" type="button" (click)="backToHome()" [disabled]="submitting">
    Volver a inicio
  </button>
  <button class="btn ovj-btn-light" type="button" (click)="back()" [disabled]="submitting" *ngIf="steper.currentStep > 1">
    Atrás
  </button>
  <button class="btn btn-default ovj-btn success submit" type="submit" (click)="onSubmit()" [disabled]="submitting">
    <ng-container *ngIf="!submitting"> Guardar </ng-container>
    <div *ngIf="submitting" class="spinner-border spinner-btn text-light" role="status"></div>
  </button>
  <button class="btn btn-default ovj-btn primary next" type="submit" (click)="onNext()" *ngIf="currentStep < steps" [disabled]="submitting">
    <ng-container *ngIf="!submitting"> Siguiente </ng-container>
    <div *ngIf="submitting" class="spinner-border spinner-btn text-light" role="status"></div>
  </button>
</div>