<form class="oviajamos-client-form travel-search-form py-0 mt-0" autocomplete="off" [formGroup]="travelGroup">
  <div class="row">
    <div class="col-lg-4">
      <div class="md-form">
        <ng-select mdbInput
          id="origin"
          class="form-control ovj-input client bus-stop-filter"
          labelForId="source"
          formControlName="source"
          notFoundText="Sin coincidencias"
          #source>
          <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
            {{ busStop.name}}
          </ng-option>
        </ng-select>
        <img class="input-icon"
          src="assets/icons/client/location.svg"
          loading="lazy">
        <label for="source" class="ovj-label ng-select-label"
          [ngClass]="{'valid': travelForm.source.value && travelForm.source.value.toString().length > 0}"
          (click)="source.open()">
          Origen_<span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="md-form location-input">
        <ng-select mdbInput
          id="destination"
          class="form-control ovj-input client bus-stop-filter"
          labelForId="destination"
          formControlName="destination"
          notFoundText="Sin coincidencias"
          #destination>
          <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
            {{ busStop.name}}
          </ng-option>
        </ng-select>
        <img class="input-icon"
          src="assets/icons/client/location.svg"
          loading="lazy">
        <label for="destination" class="ovj-label ng-select-label"
          [ngClass]="{'valid': travelForm.destination.value && travelForm.destination.value.toString().length > 0}"
          (click)="destination.open()">
          Destino<span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="md-form">
        <input mdbInput type="number" id="availableSeats" class="form-control ovj-input with-icon" formControlName="availableSeats"
          (keydown)="numberInputValidator($event)">
        <img class="input-icon"
          src="assets/icons/client/person.svg"
          loading="lazy">
        <label for="availableSeats" class="ovj-label">Asientos<span class="text-danger">*</span></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 p-0 mt-3 mb-2 d-none">
      <div class="d-flex align-items-center h-100 check-container">
        <input type="checkbox"
          mdbInput
          id="goAndBack"
          class="ovj-client-check"
          formControlName="goAndBack"
          (change)="onCheck()">
        <label class="font-weight-bold ovj-text-sm m-0" for="goAndBack">Ida y vuelta</label>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="dates-row w-100 justify-content-center">
        <div class="go" [ngClass]="{'only': !travelForm.goAndBack.value}">
          <div class="md-form">
            <dp-date-picker mdbInput
              class="ovj-input client with-icon"
              [config]="datePickerConf"
              (onSelect)="setGoValue($event.date)"
              mode="day"
              theme="dp-material"
              id="startDate"
              [minDate]="minDate"
              formControlName="startDate"
              #startDate>
            </dp-date-picker>
            <img class="input-icon"
              src="assets/icons/client/go-date.svg"
              loading="lazy">
            <label for="startDate" class="ovj-label"
              [ngClass]="{'valid': travelForm.startDate.value && travelForm.startDate.value.toString().length > 0}"
              (click)="startDate.api.open()">
              Ida<span class="text-danger">*</span>
            </label>
          </div>
        </div>
        <div class="back" *ngIf="travelForm.goAndBack.value">
          <div class="md-form">
            <dp-date-picker mdbInput
              class="ovj-input client with-icon"
              [config]="datePickerConf2"
              mode="day"
              theme="dp-material"
              id="endDate"
              [minDate]="minDate2"
              formControlName="endDate">
            </dp-date-picker>
            <img class="input-icon"
              src="assets/icons/client/back-date.svg"
              loading="lazy">
            <label for="endDate" class="ovj-label"
              [ngClass]="{'valid': travelForm.endDate.value && travelForm.endDate.value.toString().length > 0}">
              Vuelta<span class="text-danger">*</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
