<div class="modal-data ovj-text-primary">
  <h2 class="m-0"> {{ content.heading }} </h2>
  <p class="description m-0"> {{ content.description }} </p>
</div>
<div class="buttons text-center mb-3 px-3">
  <button type="button"
          class="btn ovj-btn-orange-3 font-weight-bold"
          mdbWavesEffect
          (click)="acepted()">
    <span *ngIf="content.type === 'alert'"> Aceptar </span>
  </button>
</div>