<form class="oviajamos-form warehouse-filter-form px-md-auto pr-md-2 py-0 px-1 mt-0"
  autocomplete="off" [formGroup]="warehouseFilterGroup">
  <div class="filter-inputs">
    <div class="ovj-form">
      <label class="ovj-label">
        DEPARTAMENTO DESTINO<span class="text-danger"></span>
      </label>
      <ng-select class="form-control-gray ovj-input bus-stop-filter"
        formControlName="source"
        notFoundText="Sin coincidencias"
        (close)="filterAssignments()"
        (change)="filterAssignments()">
        <ng-option *ngFor="let key of departamentEnumKeys" [value]="departamentEnum[key]">
          {{ departamentEnum[key]}}
        </ng-option>
      </ng-select>
    </div>
    <div class="ovj-form">
      <label class="ovj-label ng-select-label">
        OFICINA DESTINO<span class="text-danger"></span>
      </label>
      <ng-select class="form-control-green ovj-input bus-stop-filter"
        formControlName="destination"
        (close)="filterAssignments()"
        (change)="filterAssignments()"
        notFoundText="Sin coincidencias">
        <ng-option *ngFor="let office of offices" [value]="office.busStopId">
          {{ office.name}}
        </ng-option>
      </ng-select>
    </div>
    <button class="manifest-btn btn btn-default ovj-btn primary">
      Manifiesto
    </button>
  </div>
</form>