@import 'variables';

.warehouse-filter-form {
  background: white;
  align-items: center;
  display: flex;
  padding-right: 0 10px;
  .filter-inputs {
    .manifest-btn {
      height: 45px;
      margin-left: auto;
      width: 143px;
    }
  }
  .ovj-form {
    margin: 5px 0px 10px 10px !important;
  }
  &.border-bottom {
    border-bottom: 1px solid $color-c4c4c4;
  }
}

@media screen and(max-width: $break-large) {
  .travel-search-form {
    padding: 2px 1.15rem 8px 0.5rem !important;
    &.departureIsSelected {
      display: none;
    }
    .filter-inputs {
      .ovj-form {
        ::ng-deep {
          .ng-select {
            .ng-arrow-wrapper {
              color: #6C757D;
              display: initial !important;
              .ng-arrow {
                margin-top: 17px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .travel-search-form {
    padding: 2px 1.15rem 8px 0.5rem !important;
    .filter-inputs {
      align-items: flex-start;
      flex-direction: column;
      .ovj-form {
        margin: 0.7rem 0.35rem !important;
        width: 100% !important;
      }
      .arrow-wrapper {
        display: none;
      }
    }
  }
}