<br>
<p class="title ovj-form-title"> Datos de Sucursal </p>
<p class="message"> Verifique los datos antes de guardar. </p>
<form class="" autocomplete="off" [formGroup]="officeForm ">
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label"> Actividad económica <span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="economicActivity"
          [ngClass]="{'is-invalid': submitted && getOfficeForm.economicActivity.errors}">
        <div class="invalid-feedback" *ngIf="getOfficeForm.economicActivity.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="ovj-form mb-2">
        <label class="ovj-label"> Número de autorización <span class="text-danger">*</span></label>
        <input type="number" class="form-control ovj-input" formControlName="authorizationNumber"
          [ngClass]="{'is-invalid': submitted && getOfficeForm.authorizationNumber.errors}"
          (keydown)="floatInputValidator($event)">
        <div class="invalid-feedback" *ngIf="getOfficeForm.authorizationNumber.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Fecha límite de emisión<span class="text-danger">*</span></label>
        <dp-date-picker class="form-control ovj-picker"
          [config]="datePickerConf"
          mode="day"
          theme="dp-material"
          [minDate]="minDate"
          formControlName="emissionTimeLimit"
          [ngClass]="{'is-invalid': submitted && getOfficeForm.emissionTimeLimit.errors}">
        </dp-date-picker>
        <div class="invalid-feedback" *ngIf="getOfficeForm.emissionTimeLimit.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="getOfficeForm.emissionTimeLimit.errors?.minDate">Fecha inválida</div>
      </div> 
    </div>
    <div class="col-md-6 col-12">
      <div class="ovj-form mb-2">
        <label class="ovj-label"> Número de factura <span class="text-danger">*</span></label>
        <input type="number" class="form-control ovj-input" formControlName="invoiceNumber"
          [ngClass]="{'is-invalid': submitted && getOfficeForm.invoiceNumber.errors}"
          (keydown)="floatInputValidator($event)">
        <div class="invalid-feedback" *ngIf="getOfficeForm.invoiceNumber.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="ovj-form">
        <label class="ovj-label"> Leyenda/Glosa <span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="gloss"
          [ngClass]="{'is-invalid': submitted && getOfficeForm.gloss.errors}">
        <div class="invalid-feedback" *ngIf="getOfficeForm.gloss.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="row">   
    <div class="col-12">
      <div class="ovj-form">
        <label class="ovj-label"> Llave de dosificación <span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="dosageKey"
          [ngClass]="{'is-invalid': submitted && getOfficeForm.dosageKey.errors}">
        <div class="invalid-feedback" *ngIf="getOfficeForm.dosageKey.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
</form>