<section class="px-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 ovj-banner">
        <p class="title text-light m-0"> Registrar encomienda </p>
      </div>
    </div>
  </div>
  <div class="assignment-wrapper shadow-sm mt-2 mb-4">
    <div class="sender-remitent">
      <div class="custom-card">
        <p class="card-title"> REMITENTE (envía) </p>
        <app-sender-form></app-sender-form>
      </div>
      <div class="custom-card">
        <p class="card-title"> CONSIGNATARIO (recoge) </p>
        <app-receiver-form></app-receiver-form>
      </div>
    </div>
    <div class="assignment-data mt-3">
      <div class="custom-card w-100">
        <p class="card-title"> DATOS DE ENVÍO </p>
        <app-assignment-data-form [enterprise]="enterprise"></app-assignment-data-form>
      </div>
    </div>
    <div class="assignment-detail mt-3">
      <div class="custom-card w-100">
        <p class="card-title"> DETALLE </p>
        <app-assignment-detail></app-assignment-detail>
      </div>
    </div>
    <div class="register-actions mb-5">
      <button class="btn btn-default ovj-btn success"
        (click)="destinationPayment()">
        Pagar en origen
      </button>
      <button class="btn btn-default ovj-btn warning">
        Por pagar
      </button>
      <button class="btn btn-default ovj-btn dark-primary">
        Cotización
      </button>
    </div>
  </div>
</section>