@import 'variables';

.ovj-banner {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  border-radius: 20px;
  max-width: 710px !important;
  min-height: 75px;
  .title {
    color: $color-3c64b1 !important;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    top: 30px;
  }
}

.assignment-wrapper {
  background-color: $white;
  border-radius: 10px;
  padding: 15px;
  .sender-remitent {
    display: flex;
  }
  .custom-card {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 18px 15px;
    width: 50%;
    &:first-child {
      margin-right: 10px;
    }
    .card-title {
      color: $color-042b63;
      font-size: 18px;
      font-style: normal;
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 3px;
    }
  }
  ::ng-deep {
    form {
      .ovj-form {
        label {
          font-size: 13px;
        }
      }
    }
  }
  .register-actions {
    display: flex;
    margin-top: 30px !important;
    .ovj-btn {
      height: 44px;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .assignment-wrapper {
    .sender-remitent {
      flex-direction: column;
      .custom-card {
        width: 100%;
        &:first-child {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
    .register-actions {
      .ovj-btn {
        margin-right: 10px;
        width: 33.33%;
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .assignment-wrapper {
    .register-actions {
      flex-direction: column;
      .ovj-btn {
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}