<div class="container">
  <form class="border-light oviajamos-form movil-padding" autocomplete="off" >    
    <div class="row justify-content-center ">
      <div class="col-md-12 text-center">
        <h6 class="ovj-form-title">Información del Administrador de oficina</h6>
      </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-lg-6 col-12">
          <div class="ovj-form">
            <label class="ovj-label">Nombre<span class="text-danger">*</span></label>
            <input [hidden]='!hiddenInput' type="text" class="form-control ovj-input">
          </div>
          <label [hidden]='hiddenInput' class="ovj-label">Nombres</label>
        </div>

        <div class="col-lg-6 col-12">
          <div class="ovj-form">
            <label class="ovj-label">Apellido<span class="text-danger">*</span></label>
            <input [hidden]='!hiddenInput' type="text" class="form-control ovj-input">
          </div>
          <label [hidden]='hiddenInput' class="ovj-label">Apellido</label>
        </div>

        <div class="col-lg-6 col-12">
          <div class="ovj-form">
            <label class="ovj-label">Ci<span class="text-danger">*</span></label>
            <input [hidden]='!hiddenInput' type="text" class="form-control ovj-input">
          </div>
            <label [hidden]='hiddenInput' class="ovj-label">Ci</label>
        </div>

        <div class="col-lg-6 col-12">
          <div class="ovj-form">
            <label class="ovj-label">Celular<span class="text-danger">*</span></label>
            <input [hidden]='!hiddenInput' type="number" class="form-control ovj-input">
          </div>
            <label [hidden]='hiddenInput' class="ovj-label">Celular</label>
        </div>

        <div class="col-lg-6 col-12">
          <div class="ovj-form">
            <label class="ovj-label">Correo electrónico<span class="text-danger">*</span></label>
            <input [hidden]='!hiddenInput' type="mail" class="form-control ovj-input">
          </div>
            <label [hidden]='hiddenInput' class="ovj-label">Correo electrónico</label>
        </div>
    </div>
    
    <div class="form-actions-container mt-3 mb-3">
      <button [hidden]='!hiddenInput' type="submit" class="btn ovj-btn-orange-2"> Guardar</button>
      <button [hidden]='hiddenInput' type="submit" class="btn ovj-btn-orange-2 " (click)="editInfoAdmin()"> Editar</button>
    </div>
   </form>
</div>