@import 'variables';
.redimention{
  width: 1rem;
  height: 1rem;
}
@media screen and (max-width: $break-small) {
  .movil-padding{
    padding: 0px;
    padding-top: 2rem;
  }
}

.form-actions-container{
  @media screem and(max-width: $break-small){
    padding: initial;
  }
}
