<form autocomplete="off" [formGroup]="departureRecurrencyGroup">
  <p class="ovj-text-xs mt-1 mb-2"> Se repite el: </p>
  <div class="d-flex justify-content-between mb-4">
    <input type="text" hidden>
    <div class="ovj-bg-light-secondary day-item"
      *ngFor="let weekDayKey of weekDaysKeys"
      [ngClass]="{'selected': checkDay(weekDayKey)}"
      (click)="selectDay(weekDayKey)">
      {{ weekDayKey.toUpperCase() }}
    </div> 
  </div>
  <p class="ovj-text-xs mb-2"> Finaliza: </p>
  <div class="row">
    <div class="col-5 align-self-end mb-lg-1 mb-3">
      <div class="custom-control custom-radio">
        <input class="custom-control-input"
          type="radio"
          name="flexRadioDefault"
          id="neverWillFinish"
          (change)="recurencyChecking('never')"
          [checked]="f.recurrency.value == 'never'"
          mdbInput>
        <label class="custom-control-label ovj-text-xs pt-1" for="neverWillFinish">
          Nunca
        </label>
      </div>
    </div>
    <div class="col-7"></div>
  </div>
  <div class="row">
    <div class="col-5 align-self-end">
      <div class="custom-control custom-radio check-container">
        <input class="custom-control-input"
          type="radio"
          name="flexRadioDefault"
          id="endsOnCheck"
          (change)="recurencyChecking('endsOn')"
          [checked]="f.recurrency.value == 'endsOn'"
          mdbInput>
        <label class="custom-control-label ovj-text-xs pt-1" for="endsOnCheck">
          El
        </label>
      </div>
    </div>
    <div class="col-7">
      <div class="md-form">
        <dp-date-picker mcbInput
          class=""
          [config]="dpConf"
          mode="day"
          theme="dp-material"
          id="endsOn"
          [minDate]="minDate"
          formControlName="endsOn">
            </dp-date-picker>
        <label for="endsOn" class="ovj-label ovj-text-sm"
          [ngClass]="{'valid': f.endsOn.value && f.endsOn.value.toString().length > 0}">
          Fecha
        </label>
        <div *ngIf="submitted && f.endsOn.errors" class="">
          <mdb-error *ngIf="f.endsOn.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="f.endsOn.errors.minDate" class="ovj-mesage-error">Fecha Inválida</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5 align-self-end">
      <div class="custom-control custom-radio check-container">
        <input class="custom-control-input"
          type="radio"
          name="flexRadioDefault"
          id="endsAfterCheck"
          (change)="recurencyChecking('endsAfter')"
          [checked]="f.recurrency.value == 'endsAfter'"
          mdbInput>
        <label class="custom-control-label ovj-text-xs pt-1" for="endsAfterCheck">
          Después de
        </label>
      </div>
    </div>
    <div class="col-7">
      <div class="md-form">
        <ng-select mdbInput
          id="endsAfter"
          class="ovj-input"
          labelForId="endsAfter"
          formControlName="endsAfter">
          <ng-option *ngFor="let repeat of repeatTimes" [value]="repeat">
            {{ repeat}}
          </ng-option>
        </ng-select>
        <label for="endsAfter" class="ovj-label ovj-text-sm"
          [ngClass]="{'valid': f.endsAfter.value && f.endsAfter.value.toString().length > 0}">
          Repeticiones
        </label>
        <div *ngIf="submitted && f.endsAfter.errors" class="">
          <mdb-error *ngIf="f.endsAfter.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
  </div>
</form>