<ng-template #customNotification let-notificationData="notification">
  <div class="d-flex justify-content-between w-100">
    <div class="d-flex align-items-start w-100">
      <div class="img-container">
        <ng-container [ngSwitch]="notificationData.icon">
          <i *ngSwitchCase="'save'"
            class="icon icon-save">
          </i>
          <i *ngSwitchCase="'recovered'"
            class="icon icon-save">
          </i>
          <i *ngSwitchCase="'delete'"
            class="icon icon-trash-2">
          </i>
          <i *ngSwitchCase="'serverError'"
            class="icon icon-warning-signal">
          </i>
          <i *ngSwitchCase="'conError'"
            class="icon icon-warning-signal">
          </i>
          <i *ngSwitchCase="'alert'"
            class="icon icon-warning-signal">
          </i>
        </ng-container>
      </div>
      <div class="col px-1">
        <my-custom-alert type="notificationData.type"> {{ notificationData.message }} </my-custom-alert>
        <div class="btn-undo text-center mt-1" *ngIf="notificationData.icon === 'delete'"
          (click)="undoDeleting(notificationData)">
          DESHACER
        </div>
      </div>
    </div>
    <div class="btn-close text-center" (click)="hideNotification(notificationData.id)">
      <i class="icon icon-cross"></i>
    </div>
  </div>
</ng-template>
<notifier-container></notifier-container>