@import 'variables';

.img-container {
  text-align: center;
  width: 60px;
  i.icon {
    font-size: 48px;
  }
}

.btn-close {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 28px;
  justify-content: center;
  margin-top: -6px;
  width: 28px;
}

.btn-undo {
  border: 1px solid $white;
  border-radius: 12px;
  cursor: pointer;
  padding: 0.2rem 0rem;
  width: 100px;
}