<form class="border-light oviajamos-form" autocomplete="disabled" [formGroup]="ticketHolderGroup">
  <div class="mb-form ovj-input-file">
    <div class="image-circle-container">
      <img [src]="dafaultImage"
        class="view-photo"
        loading="lazy">
      <img class="camera-icon"
        src="assets/icons/camera-icon.svg"
        loading="lazy">
      <input type="file" accept=".png, .jpg, .jpeg" formControlName="photo" (change)="setImage($event)">
    </div>
    <div *ngIf="submitted && f.photo.errors" class="">
      <span *ngIf="f.photo.errors.required" class="ovj-mesage-error">Imagen obligatoria  </span>
    </div>
  </div>
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary">Información de boletero</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="names" class="form-control ovj-input" formControlName="names">
        <label for="names" class="ovj-label">Nombres<span class="text-danger">*</span></label>
        <div *ngIf="submitted && f.names.errors" class="">
          <mdb-error *ngIf="f.names.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="secondName" class="form-control ovj-input" formControlName="secondNames">
        <label for="secondName" class="ovj-label">Apellidos<span class="text-danger">*</span></label>
        <div *ngIf="submitted && f.secondNames.errors" class="">
          <mdb-error *ngIf="f.secondNames.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <input type="hidden"
        formControlName="docType">
      <div class="md-form ovj-select">
          <input mdbInput type="text"
            id="docType"
            class="form-control ovj-input-select"
            readonly="true"
            [value]="docType[f.docType.value] || ''"
            (click)="showDocTypeSelect = !showDocTypeSelect; $event.stopPropagation();">
          <img src="assets/icons/ovj-select-arrow-down.svg" loading="lazy">
          <label for="docType" class="ovj-label">Tipo de documento<span class="text-danger">*</span></label>
          <div class="ovj-select-content ovj-text-primary shadow border"
            [ngClass]="{'show': showDocTypeSelect}">
            <a class="dropdown-item"
              *ngFor="let key of docTypeKeys"
              (click)="selectDocType(key); $event.stopPropagation();">
              {{docType[key]}}
            </a>
        </div>
        <div *ngIf="submitted && f.docType.errors" class="">
          <mdb-error *ngIf="f.docType.errors" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="docNumber" class="form-control ovj-input" formControlName="docNumber">
        <label for="docNumber" class="ovj-label">Número de documento<span class="text-danger">*</span></label>
        <div *ngIf="submitted && f.docNumber.errors" class="">
          <mdb-error *ngIf="f.docNumber.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="number" id="cellphone" class="form-control ovj-input" formControlName="cellphone"
          (keydown)="numberInputValidator($event)">
        <label for="cellphone" class="ovj-label">Celular<span class="text-danger">*</span></label>
        <div *ngIf="submitted && f.cellphone.errors" class="">
          <mdb-error *ngIf="f.cellphone.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="f.cellphone.errors.pattern" class="ovj-mesage-error">Valor inválido</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="address" class="form-control ovj-input" formControlName="address">
        <label for="address" class="ovj-label">Dirección<span class="text-danger">*</span></label>
        <div *ngIf="submitted && f.address.errors" class="">
          <mdb-error *ngIf="f.address.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="password" id="password" class="form-control ovj-input" formControlName="password" autocomplete="new-password">
        <label for="password" class="ovj-label">Contraseña<span class="text-danger">*</span></label>
        <div *ngIf="submitted && f.password.errors" class="">
          <mdb-error *ngIf="f.password.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="password" id="secondPassword" class="form-control ovj-input" formControlName="confirmPassword">
        <label for="secondPassword" class="ovj-label">Confirmar contraseña<span class="text-danger">*</span></label>
        <div *ngIf="submitted && f.confirmPassword.errors" class="">
          <mdb-error *ngIf="f.confirmPassword.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="f.confirmPassword.errors.machPassword" class="ovj-mesage-error">La contraseña no coincide</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-center align-items-center mt-2 mb-4">
    <h5 class="ovj-text-primary m-0">Contactos de referencias</h5>
    <img class="ovj-btn-info pl-1"
      src="assets/icons/info-icon.svg"
      loading="lazy"
      (click)="clickingInfo()">
  </div>
  <form-auxiliar-contact *ngFor="let contactForm of contacts.controls; let i=index"
    [contactForm]="contactForm"
    [auxiliarContact]="(ticketHolder) ? ticketHolder.contacts[i] : undefined"
    [submitted]="submitted"
    [indexForm]="i"
    (removeContact)="removeContact($event)">
  </form-auxiliar-contact>
  <button class="btn ovj-btn-add-item border px-2 mb-3"
    (click)="addContact()">
      <div class="add-item-content d-flex align-items-center justify-content-center">
        <div class="rounded-circle">
          <img class="rounded-circle"
            src="assets/icons/add-icon-2.svg"
            loading="lazy">
        </div>
        <p>Añadir un contacto de referencia</p>
      </div>
  </button>
</form>