<div class="modal-content modal-ovj">
  <div class="modal-header">
    <button class="close" ngbAutoFocus aria-label="Close" (click)="activeModal.close()">
      <i class="icon icon-cross"></i>
    </button>
    <h4 class="modal-title" id="myModalLabel">{{title ? title : 'Atencion!'}}</h4>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
</div>