@import 'variables';

.row {
  font-style: normal;
  .total-sales {
    .card-header {
      align-items: center;
      background-color: $color-4d4d4d;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: $white;
      display: flex;
      min-height: 51px;
      position: relative;
      .ticket-separator {
        background: rgba(0, 0, 0, 0.2);
        border-right: 1px dashed black;
        height: 100%;
        left: 0;
        position: absolute;
        width: 45px;
      }
      p {
        font-weight: 300;
        font-size: 20px;
        line-height: 31px;
        margin-left: 41px;
      }
    }
    .card-body {
      .data-item {
        p {
          color: $color-042b63;
          &:first-child {
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
          }
          &:last-child {
            font-size: 32px;
            font-weight: 200;
            line-height: 47px;
          }
        }
      }
    }
  }
  .payment-comment {
    .icon-wrapper {
      align-items: center;
      border-radius: 10px;
      display: flex;
      height: 83px;
      justify-content: center;
      background-color: $color-ff533d;
      i.icon {
        font-size: 45px;
        &::before {
          color: $white;
        }
      }
    }
    .card-body {
      padding: 1rem 1.25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .content {
        .title {
          color: $color-495057;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
        }
        .comment {
          color: $color-666666;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          margin-top: 5px;
        }
      }
      .pay-btn {
        border-radius: 25px;
        background-color: #ff533d;
        color: $white;
        margin-top: 10px;
      }
    }
  }
  .ovj-commission {
    .card-body {
      padding: 1rem 1.25rem;
      .title {
        color: $color-042b63;
        font-size: 21px;
        font-weight: 600;
        line-height: 27px;
      }
      .data-item {
      }
      .total-commission {
        p {
          color: $color-042b63;
          font-weight: 200;
          font-size: 24px;
          line-height: 31px;
        }
      }
      .date-to-pay {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        p {
          &:first-child {
            color: $color-042b63;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            width: 35%;
          }
          &:last-child {
            text-align: end;
            color: #2b343d;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            width: 55%;
          }
        }
      }
      .bank {
        align-items: flex-start;
        background-color: #fefada;
        color: $color-042b63;
        padding: 0.25rem 0.5rem;
        &>p {
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
        }
        &>div {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          p {
            &:first-child {
              font-size: 14px;
              font-weight: 600;
              line-height: 18px;
            }
            &:last-child {
              font-size: 18px;
              font-weight: normal;
              line-height: 23px;
            }
          }
        }
      }
      .account-status {
        display: flex;
        font-style: normal;
        justify-content: space-between;
        p {
          &:first-child {
            color: $color-042b63;
            font-size: 18px;
            font-weight: 600;
            line-height: 23px;
          }
          &:last-child {
            color: #ff533d;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            border: 2px solid #ff533d;
            border-radius: 12px;
            padding: 0.1rem 0.3rem;
          }
        }
      }
      .pay-btn {
        border-radius: 25px;
        background-color: #ff533d;
        color: $white;
      }
    }
  }
  .physical-sales, .online-sales, .sales-by-type {
    .card-header {
      align-items: center;
      box-shadow: none;
      display: flex;
      color: $white;
      font-size: 18px;
      font-weight: 600;
      justify-content: space-between;
      line-height: 23px;
      padding: 0.25rem;
      img {
        height: 40px;
        width: 40px;
      }
    }
  }
  .physical-sales, .online-sales {
    .data-item, .ticket-data-item {
      margin-bottom: 0.4rem;
    }
    .card-header {
      background-color: #54bb2c;;
    }
    .card-body {
      padding: 0.6rem 10px;
      .sold-tickets {
        .ticket-start-feature {
          background-color: $color-4d4d4d;
        }
        .ticket-content {
          background-color: $color-f4f5f8;
          height: 66px;
          div {
            display: flex;
            color: $color-042b63;
            height: 100%;
            &:first-child {
              align-items: flex-start;
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
            }
            &:last-child {
              align-items: flex-end;
              font-size: 32px;
              font-weight: 300;
              line-height: 42px;
            }
          }
        }
      }
      .total-sales, .ovj-commission, .company-incomes {
        flex-direction: column;
        align-items: flex-start;
        &>p {
          color: $color-042b63;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
        }
        &>div {
          align-items: flex-end;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          p {
            &:first-child {
              color: $color-92949C;
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
              margin-bottom: 5px;
            }
            &:last-child {
              color: $black;
              font-weight: 300;
              font-size: 28px;
              line-height: 36px;
            }
          }
        }
      }
      .ovj-commission {
        &>div {
          p {
            &:last-child {
              font-weight: 300;
              font-size: 32px;
              line-height: 42px;
            }
          }
        }
      }
      .company-incomes {
        background-color: #d4f1d3;
        &>div {
          p {
            &:last-child {
              font-weight: 500;
              font-size: 28px;
              line-height: 36px;
            }
          }
        }
      }
    }
  }
  .online-sales {
    .card-header {
      background-color: #1a73e9;
    }
    .card-body {
      .sold-tickets {
        .ticket-start-feature, .ticket-end-feature {
          background-color: #1a73e9;
        }
        .ticket-content {
          background-color: #d1e2ff;
        }
      }
      .company-incomes {
        background-color: #d1e2ff;
      }
    }

  }
  .sales-by-type {
    .card-header {
      background-color: $color-4d4d4d;
      height: 48px;
      justify-content: center;
    }
    .card-body {
      padding: 1rem 1.5rem;
      .chart-wrapper {
        align-items: center;
        display: flex;
        height: 100%;
        .canvas-wrapper {
          padding: 0.75rem;
          position: relative;
          width: 60% !important;
          .index-info {
            position: absolute;
            left: calc(50% - 89px);
            top: calc(50% - 21px);
            .content {
              align-items: center;
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 180px;
              p {
                color: $color-042b63;
                &:first-child {
                  font-size: 24px;
                  font-weight: 200;
                  line-height: 31px;
                }
                &:last-child {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 18px;
                }
              }
            }
          }
        }
        .chart-info {
          width: 40%;
          &>div {
            align-items: center;
            display: flex;
            margin: 1.5rem 0;
            .info-circle {
              border-radius: 50%;
              height: 20px;
              width: 20px;
            }
            p {
              color: $color-042b63;
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
              padding-left: 0.5rem;
            }
            &:first-child {
              .info-circle {
                background-color: $color-54bb2c;
              }
            }
            &:last-child {
              .info-circle {
                background-color: $color-3880ff;
              }
            }
          }
        }
      }
    }
  }
  .sales-by-time {
    .card-header {
      align-items: center;
      background-color: $color-4d4d4d;
      box-shadow: none;
      color: $white;
      display: flex;
      height: 48px;
      justify-content: center;
      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
      }
    }
    .card-body {
      .chart-info {
        position: relative;
        &>p {
          bottom: 5px;
          color: #666666;
          font-size: 12px;
          font-weight: normal;
          left: 6px;
          line-height: 13px;
          position: absolute;
        }
        .chart-item-info {
          align-items: center;
          display: flex;
          justify-content: center;
          &>div {
            align-items: center;
            display: flex;
            padding-right: 0.75rem;
            .total-sales-icon {
              background-color: $color-042b63;
              border-radius: 50%;
              height: 35px;
              width: 35px;
            }
          }
          img {
            height: 35px;
            width: 35px;
          }
          p {
            color: $color-042b63;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            padding-left: 0.25rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .row {
    .sales-by-time {
      .card-body {
        .chart-info {
          .chart-item-info {
            &>div {
              padding-right: 0.25rem;
              img, .total-sales-icon {
                height: 18px;
                width: 18px;
              }
              p {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}