<div class="row">
  <div class="col-12">
    <div class="top-bar bg-white border px-2 mt-1">
      <form class="oviajamos-form p-0 m-0" [formGroup]="topBarGroup">
        <div class="row justify-content-between align-items-center px-2">
          <div class="col-md-4">
            <div class="place-select d-flex align-items-center">
              <div class="ovj-form w-100">
                <label class="ovj-label">Rutas</label>
                <ng-select class="form-control ovj-select travel-route-select"
                  formControlName="travelRoute"
                  notFoundText="Sin coincidencias"
                  (change)="submit$.next(true)">
                  <ng-option *ngFor="let travelRoute of travelRoutes" [value]="travelRoute">
                    {{ travelRoute.source.name }} >  {{ travelRoute.destination.name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ovj-month-selector d-flex justify-content-between align-items-center">
              <button type="button" class="ovj-btn-circle native-size btn btn-default btn-circle top-bar-arrow"
                (click)="prevMonth()">
                <i class="icon icon-arrow-outline"></i>
              </button>
              <div>
                <div class="top-bar-date text-center" (click)="datepicker.api.open()" >
                  <h5 class="month-text">
                    {{ capitalize(month) }}
                  </h5>
                  <h6 class="year-text"> {{ year }} </h6>
                </div>
                <dp-date-picker class="hidden"
                  formControlName="departureDate"
                  (onChange)="  submit$.next(true)"
                  [config]="dpConf"
                  mode="month"
                  theme="dp-material"
                  #datepicker>
                </dp-date-picker>
              </div>
              <button type="button" class="ovj-btn-circle native-size btn btn-default btn-circle top-bar-arrow"
                (click)="nextMonth()">
                <i class="icon icon-arrow-outline"></i>
              </button>
            </div>
          </div>
          <div class="col-md-4" *ngIf="false">
            <div class="ovj-form w-100" >
              <label class="ovj-label">Por boletero</label>
              <ng-select class="form-control ovj-select"
                formControlName="ticketOffice"
                notFoundText="Sin coincidencias"
                (change)="submit$.next(true)">
                <ng-option *ngFor="let ticketOffice of ticketOffices" [value]="ticketOffice.id">
                  {{ ticketOffice.name }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="office-select d-flex align-items-center">
              <div class="ovj-form w-100">
                <label class="ovj-label"> Sucursal </label>
                <ng-select class="form-control ovj-select office-select"
                  formControlName="office"
                  notFoundText="Sin coincidencias"
                  (change)="submit$.next(true)">
                  <ng-option *ngFor="let office of offices" [value]="office.officeId">
                    {{ office.name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>