@import 'variables';

.top-bar {
  border-radius: 8px;
  font-size: 0.9rem;
  .place-select, .office-select {
    height: 68px;
    .place-filter-image {
      height: 45px;
      width: 45px;
    }
    .ovj-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1rem 0;
      width: calc(100% - 55px);
      .ovj-label {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 0;
      }
    }
  }
  .add-departure-btn {
    height: 55px;
  }
}