@import 'variables';

.md-form {
  ng-select {
    ::ng-deep {
      margin-top: -11px;
      .ng-arrow-wrapper {
        display: none;
      }
      .ng-dropdown-panel {
        width: 500px;
        .select-item {
          display: flex;
          p {
            &:first-child {
              width: 35%;
            }
            &:last-child {
              width: 65%;
            }
          }
        }
      }
      .ng-spinner-loader {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .md-form {
    ng-select {
      ::ng-deep {
        .ng-dropdown-panel {
          width: 100%;
        }
        .select-item {
          display: flex;
          flex-direction: column;
          p {
            &:first-child {
              width: 100%;
            }
            &:last-child {
              width: 100%;
            }
          }
        }
      }
    }
  }
}