<div class="md-form" [formGroup]="personGroup" #selectForm>
  <ng-select mdbInput
    [id]="'documentNumberSelect'+index"
    type="number"
    class="ovj-input documentNumberSelect"
    formControlName="documentNumber"
    [labelForId]="'passengerDoc'+index"
    [items]="persons"
    [loading]="loading"
    loadingText="Cargando..."
    bindValue="documentNumber"
    bindLabel="documentNumber"
    notFoundText="Sin coincidencias"
    (blur)="loading = false; clearInput()"
    (search)="documentNumberOnChanges($event)"
    (change)="setPassengerData($event)"
    (focus)="setValueOnInput()"
    #documentNumberSelect>
    <ng-template ng-option-tmp
      let-item="item"
      let-index="index">
      <div class="select-item">
        <p class="mb-0"> {{ item.documentNumber }} </p>
        <p class="mb-0"> {{ item.name }} </p>
      </div>
    </ng-template>
  </ng-select>
  <label [for]="'passengerDoc'+index" class="ovj-label ng-select-label"
    [ngClass]="{'valid': personGroup.controls.documentNumber.value?.toString().length > 0}"
    *ngIf="withLabel"
    (click)="documentNumberSelect.open()">
    CI<span class="text-danger">*</span>
  </label>
</div>