@import 'variables';
.page-error-container {
  min-height: 100vh !important;
  background-color: $ovj-secondary;
}

.font-404 {
  font-family: $roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #333333;
  text-align: right;
}

.font-404-small {
  font-family: $roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.15px;
  color: #333333;
  text-align: right;
}

.center {
  align-items: center;
  justify-content: center;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  vertical-align: middle;
}

.div1 {
  height: 300px;
}

.div2 {
  height: 300px;
}

.element {
  height: 100vh !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
