<form class="col-lg mt-4 px-0" autocomplete="off" [formGroup]="onlineCommissionGroup">
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <ng-select mdbInput
          id="onlineCommissionType"
          class="ovj-input"
          labelForId="onlineCommissionType"
          formControlName="type"
          #onlineCommissionTypeSelect>
          <ng-option *ngFor="let key of commissionTypeEnumKeys" [value]="commissionTypeEnum[key]">
            {{ commissionTypeEnum[key] }}
          </ng-option>
        </ng-select>
        <label for="onlineCommissionType" class="ovj-label ng-select-label"
          [ngClass]="{'valid': onlineCommissionForm.type.value?.toString().length > 0}"
          (click)="onlineCommissionTypeSelect.open()">
          Tipo de operación <span class="text-danger">*</span>
        </label>
        <div *ngIf="submitted && onlineCommissionForm.type.errors" class="">
          <mdb-error *ngIf="onlineCommissionForm.type.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="number" id="onlineCommisionValue" class="form-control ovj-input" formControlName="value"
          autocomplete="no" (keydown)="numberInputValidator($event)">
        <label for="onlineCommisionValue" class="ovj-label">Valor<span class="text-danger">*</span></label>
        <div *ngIf="submitted && onlineCommissionForm.value.errors" class="">
          <mdb-error *ngIf="onlineCommissionForm.value.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <ng-select mdbInput
          id="onlineCommissionOperationType"
          class="ovj-input"
          labelForId="onlineCommissionOperationType"
          formControlName="operationType"
          #onlineCommissionOperationTypeSelect>
          <ng-option *ngFor="let key of commissionOperationTypeEnumKeys" [value]="commissionOperationTypeEnum[key]">
            {{ commissionOperationTypeEnum[key] }}
          </ng-option>
        </ng-select>
        <label for="onlineCommissionOperationType" class="ovj-label ng-select-label"
          [ngClass]="{'valid': onlineCommissionForm.operationType.value?.toString().length > 0}"
          (click)="onlineCommissionOperationTypeSelect.open()">
          Tipo de comisión<span class="text-danger">*</span>
        </label>
        <div *ngIf="submitted && onlineCommissionForm.operationType.errors" class="">
          <mdb-error *ngIf="onlineCommissionForm.operationType.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="number" id="targetAmount" class="form-control ovj-input" formControlName="targetAmount"
          autocomplete="no" (keydown)="numberInputValidator($event)">
        <label for="targetAmount" class="ovj-label">Cantidad objetivo</label>
        <div *ngIf="submitted && onlineCommissionForm.targetAmount.errors" class="">
        </div>
      </div>
    </div>
  </div>
</form>