<section class="ticket-holders">
  <div class="container mb-4">
    <div class="row mt-2">
      <div class="col-12">
        <div class="custom-table-responsive">
          <app-filtered-sale-departures-table [departures]="departures"
            [modifying]="modifying"
            [loadingDepartures]="loadingDepartures"
            [initialized]="initialized"
            (selectDepartureEvent)="selectDeparture($event)"
            (setStatusEvent)="setStatus($event)">
          </app-filtered-sale-departures-table>
        </div>
      </div>
    </div>
  </div>
</section>