.driver-select {
  ::ng-deep {
    .ng-option {
      padding: 0 0.2rem !important;
      .card {
        border-radius: 12px;
        margin-bottom: 0.2rem !important;
        .card-body {
          .driver-content {
            align-items: center;
            display: flex;
            .driver-img {
              height: 45px;
              position: unset;
              width: 45px !important;
            }
          }
        }
      }
      &:first-child {
        .card {
          margin-top: 0.15rem !important;
        }
      }
      &.ng-option-disabled {
        margin: 0.5rem;
      }
    }
  }
}