<app-spinner-small *ngIf="!loggedUser"></app-spinner-small>
<ng-container *ngIf="loggedUser">
  <div class="d-flex admin-main-container">
    <app-sidebar [loggedUser]="loggedUser"
      (sidebarItemEvent)="navigateToSection($event)"
      (burgerEvent)="burgerEvent($event)">
    </app-sidebar>
    <div class="admin-dashboard-container">
      <app-navbar [loggedUser]="loggedUser"
        (burgerEvent)="burgerEvent($event)">
      </app-navbar>
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-admin-footer [loggedUser]="loggedUser"></app-admin-footer>
  <app-notifier></app-notifier>
</ng-container>
<div id="absolute-spinner">
  <div class="wrapper">
    <div class="spinner-border" role="status"></div>
  </div>
</div>