@import 'variables';

.admin-main-container {
  background-color: $color-f2f2f2;
  min-height: 100vh !important;
  ::ng-deep {
    * {
      font-family: 'IBM Plex Sans';
    }
  }
}

#absolute-spinner {
  display: none;
  width: 100;
  .wrapper {
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    .spinner-border {
      bottom: calc(50% - 75px);
      color: $color-1763d1;
      height: 75px;
      position: absolute;
      top: calc(50% - 75px);
      width: 75px;
    }
  }
}
