<section class="admin-home mb-3">
  <div class="container">
    <div class="row">
      <div class="banner col-12 mb-3">
        <img src="assets/images/background-admin-home.svg"
          loading="lazy">
        <p class="title">Gestiona fácil</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 px-md-3 py-md-2 px-2 py-1">
        <div class="oviajamos-admin-card" (click)="goTo('parada')">
          <div class="oviajamos-card-body">
            <i class="icon icon-plus mb-3"></i>
            <p class="text mb-1">Añadir Paradas</p>
          </div>
          <div class="oviajamos-card-footer">
            <p class="text ml-md-3">Paradas</p>
            <div class="circle">
              <span>1</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 px-md-3 py-md-2 px-2 py-1">
        <div class="oviajamos-admin-card" (click)="goTo('bus')">
          <div class="oviajamos-card-body">
            <i class="icon icon-plus mb-3"></i>
            <p class="text mb-1">Añadir buses</p>
          </div>
          <div class="oviajamos-card-footer">
            <p class="text ml-md-3">Buses</p>
            <div class="circle">
              <span>1</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 px-md-3 py-md-2 px-2 py-1">
        <div class="oviajamos-admin-card" (click)="goTo('ruta')">
          <div class="oviajamos-card-body">
            <i class="icon icon-plus mb-3"></i>
            <p class="text mb-1">Añadir ruta</p>
          </div>
          <div class="oviajamos-card-footer">
            <p class="text ml-md-3">Rutas</p>
            <div class="circle">
              <span>1</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 px-md-3 py-md-2 px-2 py-1">
        <div class="oviajamos-admin-card" (click)="goTo('boletero')">
          <div class="oviajamos-card-body">
            <i class="icon icon-plus mb-3"></i>
            <p class="text mb-1">Añadir boleteros</p>
          </div>
          <div class="oviajamos-card-footer">
            <p class="text ml-md-3">Boleteros</p>
            <div class="circle">
              <span>1</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 px-md-3 py-md-2 px-2 py-1">
        <div class="oviajamos-admin-card" (click)="goTo('chofer')">
          <div class="oviajamos-card-body">
            <i class="icon icon-plus mb-3"></i>
            <p class="text mb-1">Añadir chóferes</p>
          </div>
          <div class="oviajamos-card-footer">
            <p class="text ml-md-3">Chóferes</p>
            <div class="circle">
              <span>1</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 px-md-3 py-md-2 px-2 py-1">
        <div class="oviajamos-admin-card">
          <div class="oviajamos-card-body">
            <i class="icon icon-plus mb-3"></i>
            <p class="text mb-1">Sin rutas no hay ventas</p>
          </div>
          <div class="oviajamos-card-footer">
            <p class="text ml-md-3">Ventas</p>
            <div class="circle">
              <span>1</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="false">
      <div class="col-6 px-md-3 py-md-2 px-2 py-1">
        <div class="oviajamos-admin-card">
          <div class="oviajamos-card-body">
            <i class="icon icon-plus mb-3"></i>
            <p class="text mb-1">Añadir transporte</p>
          </div>
          <div class="oviajamos-card-footer">
            <p class="text ml-md-3">Transporte</p>
            <div class="circle">
              <span>1</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 px-md-3 py-md-2 px-2 py-1">
        <div class="oviajamos-admin-card">
          <div class="oviajamos-card-body">
            <i class="icon icon-plus mb-3"></i>
            <p class="text mb-1">Añadir horarios</p>
          </div>
          <div class="oviajamos-card-footer">
            <p class="text ml-md-3">Horarios</p>
            <div class="circle">
              <span>1</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>