@import 'variables';

.admin-home {
  .banner {
    align-items: center;
    display: flex;
    height: 95px;
    justify-content: center;
    position: relative;
    img {
      position: absolute;
    }
    .title {
      color: $color-3c64b1;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.15px;
      line-height: 24px;
      margin-bottom: 0;
      margin-left: 40px;
      z-index: 5;
    }
  }
  .oviajamos-admin-card {
    cursor: pointer;
  }
}
