<form class="oviajamos-client-form container px-0 py-1" autocomplete="off" [formGroup]="cardDataGroup">
  <div class="row">
    <div class="col-12">
      <div class="md-form">
        <input mdbInput type="text" id="cardpropietary" class="form-control ovj-input with-icon" formControlName="cardpropietary">
        <img class="input-icon mr-1"
          src="assets/icons/client/person-2.svg"
          loading="lazy">
        <label for="cardpropietary" class="ovj-label">
          Nombre del titular
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="md-form">
        <input mdbInput type="number" id="cardNumber" class="form-control ovj-input with-icon" formControlName="cardNumber"
          (keydown)="numberInputValidator($event)">
          <img class="input-icon"
            src="assets/icons/client/card.svg"
            loading="lazy">
        <label for="cardNumber" class="ovj-label"> Datos de la tarjeta </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <p class="text-primary font-weight-bold mt-1 ml-1"> Fecha de vencmiento </p>
    </div>
    <div class="col-5">
      <p class="text-primary font-weight-bold mt-1 ml-1"> CVC </p>
    </div>
  </div>
  <div class="row">
    <div class="col-7 pr-0">
      <div class="expireDate">
        <div class="month">
          <div class="md-form">
            <input mdbInput type="number" id="expireMonth" class="form-control ovj-input" formControlName="expireMonth"
              (keydown)="numberInputValidator($event)">
            <label for="expireMonth" class="ovj-label"> Mes </label>
          </div>
        </div>
        <div class="year">
          <div class="md-form">
            <input mdbInput type="number" id="expireYear" class="form-control ovj-input" formControlName="expireYear"
              (keydown)="numberInputValidator($event)">
            <label for="expireYear" class="ovj-label"> Año </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 pl-2">
      <div class="md-form">
        <input mdbInput type="number" id="cvc" class="form-control ovj-input" formControlName="cvc"
          (keydown)="numberInputValidator($event)">
        <label for="cvc" class="ovj-label"> Código de seg. </label>
      </div>
    </div>
  </div>
</form>