<form class="col-lg mt-4 px-0" autocomplete="off" [formGroup]="legalOrganizerGroup">
  <div class="text-center mb-2">
    <h5 class="ovj-form-title">Información del responsable legal</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="fullName" class="form-control ovj-input" formControlName="name">
        <label for="fullName" class="ovj-label">Nombre del responsable legal<span class="text-danger">*</span></label>
        <div *ngIf="submitted && legalOrganizerForm.name.errors" class="">
          <mdb-error *ngIf="legalOrganizerForm.name.errors.minlength" class="ovj-mesage-error">Mínimo de 3 caracteres</mdb-error>
          <div *ngIf="!legalOrganizerForm.name.errors.minlength">
            <mdb-error *ngIf="legalOrganizerForm.name.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
            <mdb-error *ngIf="legalOrganizerForm.name.errors.pattern" class="ovj-mesage-error">Ingresé sólo letras</mdb-error>
            <mdb-error *ngIf="legalOrganizerForm.name.errors.maxlength" class="ovj-mesage-error">Máximo de 100 caracteres</mdb-error>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <ng-select mdbInput
          id="documentType"
          class="ovj-input"
          labelForId="documentType"
          formControlName="documentType"
          #documentType>
          <ng-option *ngFor="let key of documentTypeEnumKeys" [value]="documentTypeEnum[key]">
            {{ documentTypeEnum[key] }}
          </ng-option>
        </ng-select>
        <label for="documentType" class="ovj-label ng-select-label"
          [ngClass]="{'valid': legalOrganizerForm.documentType.value && legalOrganizerForm.documentType.value.toString().length > 0}"
          (click)="documentType.open()">
          Tipo de documento<span class="text-danger">*</span>
        </label>
        <div *ngIf="submitted && legalOrganizerForm.documentType.errors" class="">
          <mdb-error *ngIf="legalOrganizerForm.documentType.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="documentNumber" class="form-control ovj-input" formControlName="documentNumber">
        <label for="documentNumber" class="ovj-label">Número del documento<span class="text-danger">*</span></label>
        <div *ngIf="submitted && legalOrganizerForm.documentNumber.errors" class="">
          <mdb-error *ngIf="legalOrganizerForm.documentNumber.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="legalOrganizerForm.documentNumber.errors.pattern" class="ovj-mesage-error">Ingresé sólo letras</mdb-error>
          <mdb-error *ngIf="legalOrganizerForm.documentNumber.errors.minlength" class="ovj-mesage-error">Mínimo de 5 caracteres</mdb-error>
          <mdb-error *ngIf="legalOrganizerForm.documentNumber.errors.maxlength" class="ovj-mesage-error">Máximo de 12 caracteres</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="number" id="phoneNumber" class="form-control ovj-input" formControlName="phoneNumber"
               (keydown)="numberInputValidator($event)">
        <label for="phoneNumber" class="ovj-label">Celular<span class="text-danger">*</span></label>
        <div *ngIf="submitted && legalOrganizerForm.phoneNumber.errors" class="">
          <mdb-error *ngIf="legalOrganizerForm.phoneNumber.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="legalOrganizerForm.phoneNumber.errors.min" class="ovj-mesage-error">Mínimo de 7 caracteres</mdb-error>
          <mdb-error *ngIf="legalOrganizerForm.phoneNumber.errors.max" class="ovj-mesage-error">Máximo de 12 caracteres</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="address" class="form-control ovj-input" formControlName="address">
        <label for="address" class="ovj-label">Dirección<span class="text-danger">*</span></label>
        <div *ngIf="submitted && legalOrganizerForm.address.errors" class="">
          <mdb-error *ngIf="legalOrganizerForm.address.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="legalOrganizerForm.address.errors.minlength" class="ovj-mesage-error">Mínimo de 3 caracteres</mdb-error>
          <mdb-error *ngIf="legalOrganizerForm.address.errors.maxlength" class="ovj-mesage-error">Máximo de 255 caracteres</mdb-error>
        </div>
      </div>
    </div>
  </div>
</form>