<form class="oviajamos-form m-0 p-0" autocomplete="off" [formGroup]="assignmentDataGroup">
  <div class="custom-row">
    <div class="custom-col">
      <div class="ovj-form">
        <label class="ovj-label"> Departamento Origen <span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select office-filter"
          formControlName="source"
          notFoundText="Sin coincidencias"
          [ngClass]="{'is-invalid': submitted && assignmentDataForm.source.errors}">
          <ng-option *ngFor="let key of departmentEnumKeys" [value]="departmentEnum[key]">
            {{ departmentEnum[key] }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="assignmentDataForm.source.errors?.required">Campo obligatorio</div>
      </div>
      <div class="ovj-form">
        <label class="ovj-label"> Oficina Origen <span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select office-filter"
          formControlName="sourceOffice"
          notFoundText="Sin coincidencias"
          [ngClass]="{'is-invalid': submitted && assignmentDataForm.sourceOffice.errors}">
          <ng-option *ngFor="let office of offices" [value]="office.officeId">
            {{ office.name }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="assignmentDataForm.sourceOffice.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="custom-col">
      <div class="ovj-form">
        <label class="ovj-label"> Departamento Destino <span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select office-filter"
          formControlName="destination"
          notFoundText="Sin coincidencias"
          [ngClass]="{'is-invalid': submitted && assignmentDataForm.destination.errors}">
          <ng-option *ngFor="let key of departmentEnumKeys" [value]="departmentEnum[key]">
            {{ departmentEnum[key] }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="assignmentDataForm.destination.errors?.required">Campo obligatorio</div>
      </div>
      <div class="ovj-form">
        <label class="ovj-label"> Oficina Destino <span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select office-filter"
          formControlName="destinationOffice"
          notFoundText="Sin coincidencias"
          [ngClass]="{'is-invalid': submitted && assignmentDataForm.destinationOffice.errors}">
          <ng-option *ngFor="let office of offices" [value]="office.officeId">
            {{ office.name }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="assignmentDataForm.destinationOffice.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
</form>