<div class="container mt-3 pb-3">
  <div class="payment-card card">
    <div class="row w-100 m-0">
      <div class="col-md-7 col-12 pr-md-1 px-0">
        <div class="card-header d-flex justify-content-between">
          <h6 class="client-text-primary"> Detalle del boleto </h6>
        </div>
        <div class="card-body mb-md-2 pb-0 px-md-5 px-0 pt-0">
          <div class="passenger-info mt-3 mb-2">
            <div class="client">
              <div class="mb-1">
                <p class="client-text-primary ovj-text-xs client-text-800"> Cliente </p>
                <p class="client-text-dark-primary client-text-large line-text client-text-500">
                  {{ paymentMethod?.ticketBuyer.person.name }}
                </p>
              </div>
            </div>
            <div class="document-number">
              <div class="mb-1">
                <p class="client-text-primary ovj-text-xs client-text-800">Documento de identidad </p>
                <p class="client-text-dark-primary client-text-large line-text client-text-500">
                  {{ paymentMethod?.ticketBuyer.person.documentNumber }}
                </p>
              </div>
            </div>
          </div>
          <div class="travel-info-3 mt-3">
            <div class="info-row">
              <div class="go">
                <div class="mb-1">
                  <p class="client-text-primary ovj-text-xs client-text-800"> Partida </p>
                  <p class="client-text-dark-primary client-text-large line-text client-text-500">
                    {{ selectedDeparture?.departureDate.departureTime | formatHour2 }}
                  </p>
                </div>
              </div>
              <div class="time">
                <div class="d-flex align-items-center ml-2 h-100">
                  <img src="assets/icons/client/arrow-right-orange-lg-mobile.svg" loading="lazy">
                </div>
              </div>
              <div class="back">
                <div class="mb-1">
                  <p class="client-text-primary ovj-text-xs client-text-800"> Llegada Aprox. </p>
                  <p class="client-text-dark-primary client-text-large line-text client-text-500"> Estimando... </p>
                </div>
              </div>
            </div>
            <div class="info-row">
              <div class="go">
                <div>
                  <p class="client-text-primary ovj-text-xs client-text-800"> Terminal de </p>
                  <p class="client-text-orange client-text-800">
                    {{ selectedDeparture?.route.source.name }}
                  </p>
                </div>
              </div>
              <div class="time">
                <div *ngIf="false">
                  <p class="client-text-primary ovj-text-xs client-text-800"> Duración </p>
                  <p class="client-text-dark-primary client-text-large line-text client-text-500"> --:-- h </p>
                </div>
              </div>
              <div class="back">
                <div>
                  <p class="client-text-primary ovj-text-xs client-text-800"> Terminal de </p>
                  <p class="client-text-orange client-text-800">
                    {{ selectedDeparture?.route.destination.name }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr class="line-divider">
          <div class="seats-info">
            <div class="info-row" *ngFor="let ticketPaid of paymentMethod?.ticketBuyer.person.ticketsPaid">
              <div class="seat">
                <p class="client-text-primary ovj-text-xs client-text-800"> Asiento </p>
                <p class="client-text-dark-primary client-text-large line-height client-text-500">
                  {{ (ticketPaid.position < 10) ? ('0'+ticketPaid.position) : ticketPaid.position }}
                </p>
              </div>
              <div class="passenger">
                <p class="client-text-primary ovj-text-xs client-text-800"> Pasajero </p>
                <p class="client-text-dark-primary client-text-large line-height client-text-500">
                  {{ ticketPaid.passengerName }}
                </p>
              </div>
            </div>
          </div>
          <div class="price-info">
            <p class="back-to-home client-text-dark-primary client-text-large client-text-800" (click)="backToHome()">
              Volver a inicio
            </p>
            <div class="d-flex mr-5">
              <p class="client-text-primary font-weight-bold"> Total:&nbsp; </p>
              <p class="client-text-dark-primary client-text-500">
                {{ paymentMethod?.amountPaid }}bs
              </p>
            </div>
          </div>
        </div>
        <div class="suggestion-message py-2 mt-md-2 mt-1 d-none">
          <p class="client-text-dark-primary client-text-500 text-center">
            Usted será recogido de la parada "<b>nombre</b>" a horas <b>10:00</b> aprox.<br>
            Se le recomienda estar presente una hora antes.
          </p>
        </div>
      </div>
      <div class="col-md-5 col-12 pl-md-1 mb-md-0 mb-0 text-center blue-square">
        <div class="mb-3 mt-3 px-3 text-qr">
          <h6 class="client-text-800 mt-1">Se te pedirá que muestres <br> el Código QR al momento de abordar </h6>
        </div>
        <div class="mb-3">
          <img src="assets/images/client/qr-code.svg" loading="lazy">
        </div>
        <div class="d-md-block d-none">
          <button type="button" class="payment-data-btn ovj-btn-orange-3 btn font-weight-bold mb-3"
            (click)="downloadTicket()"
            disabled="true"
            mdbWavesEffect>
            Descargar detalle
          </button>
        </div>
      </div>
      <div class="donwload-ticket-mobile col-12 d-md-none d-block text-center">
        <button type="button" class="payment-data-btn ovj-btn-orange-3 btn mt-3 mb-1"
          (click)="downloadTicket()"
          disabled="true"
          mdbWavesEffect>
          Descargar detalle
        </button>
        <div class="d-flex justify-content-center">
          <p class="client-text-dark-primary client-text-large client-text-800 mt-1 mb-3" type="submit" (click)="backToHome()">
            Volver a inicio
          </p>
        </div>
      </div>
    </div>
  </div>
</div>