<div class="custom-table-responsive">
  <table class="warehouse-packages-table">
    <thead>
      <tr>
        <th> GUÍA </th>
        <th> Paquetes </th>
        <th> Departamento destino </th>
        <th> Oficina destino </th>
        <th> Total Bs. </th>
        <th>
          <input type="checkbox" class="header-package-checkbox"
            (click)="$event.stopPropagation()"
            (change)="checkAll($event)">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="assignment-row" *ngFor="let assignment of assignments"
        [ngClass]="{'selected': selectedAssignment?.guide === assignment.guide}"
        (click)="selectAssignment(assignment)">
        <td> {{ assignment.guide }} </td>
        <td> {{ getTotalPackages(assignment) }} </td>
        <td> {{ assignment.sourceDepartment }} </td>
        <td> {{ assignment.destinationOffice }} </td>
        <td> {{ assignment.weight }} </td>
        <td>
          <input type="checkbox" class="package-checkbox"
            (click)="$event.stopPropagation()"
            (change)="checkAssignment($event, assignment)">
        </td>
      </tr>
    </tbody>
  </table>
</div>