<form autocomplete="off" [formGroup]="userGroup">
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary">Información del Administrador</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="userName" class="form-control ovj-input" formControlName="name">
        <label for="userName" class="ovj-label">Nombres<span class="text-danger">*</span></label>
        <div *ngIf="submitted && userForm.name.errors" class="">
          <mdb-error *ngIf="userForm.name.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="userForm.name.errors.maxlength" class="ovj-mesage-error">Máximo de 100 caracteres</mdb-error>
          <mdb-error *ngIf="userForm.name.errors.pattern" class="ovj-mesage-error">Ingresé sólo letras</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="lastName" class="form-control ovj-input" formControlName="lastName">
        <label for="lastName" class="ovj-label">Apellidos<span class="text-danger">*</span></label>
        <div *ngIf="submitted && userForm.lastName.errors" class="">
          <mdb-error *ngIf="userForm.lastName.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="userForm.lastName.errors.maxlength" class="ovj-mesage-error">Máximo de 100 caracteres</mdb-error>
          <mdb-error *ngIf="userForm.lastName.errors.pattern" class="ovj-mesage-error">Ingresé sólo letras</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="number" id="phone" class="form-control ovj-input" formControlName="phone"
          (keydown)="numberInputValidator($event)">
        <label for="phone" class="ovj-label">Celular<span class="text-danger">*</span></label>
        <div *ngIf="submitted && userForm.phone.errors" class="">
          <mdb-error *ngIf="userForm.phone.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="userForm.phone.errors.min" class="ovj-mesage-error">Mínimo 7 dígitos</mdb-error>
          <mdb-error *ngIf="userForm.phone.errors.max" class="ovj-mesage-error">Máximo 12 dígitos</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="email" id="email" class="form-control ovj-input" formControlName="email">
        <label for="email" class="ovj-label">Correo Electrónico<span class="text-danger">*</span></label>
        <div *ngIf="submitted && userForm.email.errors" class="">
          <mdb-error *ngIf="userForm.email.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="userForm.email.errors.email" class="ovj-mesage-error">Correo inválido</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="password" id="password" class="form-control ovj-input" formControlName="password" autocomplete="new-password">
        <label for="password" class="ovj-label">Contraseña<span class="text-danger">*</span></label>
        <div *ngIf="submitted && userForm.password.errors" class="">
          <mdb-error *ngIf="userForm.password.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="userForm.password.errors.minlength" class="ovj-mesage-error">Mínimo de 8 caracteres</mdb-error>
          <mdb-error *ngIf="userForm.password.errors.maxlength" class="ovj-mesage-error">Máximo de 24 caracteres</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="password" id="confirmPassword" class="form-control ovj-input" formControlName="confirmPassword">
        <label for="confirmPassword" class="ovj-label">Confirmar contraseña<span class="text-danger">*</span></label>
        <div *ngIf="submitted && userForm.confirmPassword.errors" class="">
          <mdb-error *ngIf="userForm.confirmPassword.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="userForm.confirmPassword.errors.machPassword" class="ovj-mesage-error">La contraseña no coincide</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</form>