@import 'variables';

.seating-schema-wrapper {
  display: flex;
  flex-direction: column;
  .bus-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    button {
      width: 50%;
    }
  }
  .bus-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    .bus-floor {
      .bus-row {
        .bus-column {
          .seat {
            img, p {
              animation: fadeIn 0.2s;
              -webkit-animation: fadeIn 0.2s;
              -moz-animation: fadeIn 0.2s;
              -o-animation: fadeIn 0.2s;
              -ms-animation: fadeIn 0.2s;
            }
            cursor: pointer;
            .disabled-icon {
              bottom: 0;
              height: 21px;
              right: 0;
              position: absolute;
              width: 21px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .seating-schema-wrapper {
    .bus-actions {
      button {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}