<app-spinner *ngIf="ticketPurchaseService.loadingSteperContent"></app-spinner>
<div class="container mt-3" *ngIf="!ticketPurchaseService.loadingSteperContent">
  <div class="payment-card card && !paymentError">
    <div class="row pb-2">
      <div class="col-md-6 col-12 pr-md-1 mb-md-0 mb-2">
        <div class="client-text-800 card-header d-flex justify-content-between pb-1">
          <p class="title client-text-primary client-text-large"> Detalle del boleto </p>
          <div class="d-md-flex align-items-end d-none">
            <span class="client-text-primary"> Total a pagar:&nbsp; </span>
            <p class="client-text-dark-primary">
              {{ (selectedDeparture?.price * selectedSeats?.length) }}bs
            </p>
          </div>
        </div>
        <div class="client-text-500 card-body mb-md-2 pb-0">
          <div class="ticket-info d-flex justify-content-between align-items-center">
            <p class="mr-1"> Pasaje de ida </p>
            <div class="d-flex align-items-center">
              <p class="client-text-primary">
                {{ selectedDeparture?.route.source.name }}
              </p>
              <img class="mx-2"
                src="assets/icons/client/arrow-right-orange-sm.svg"
                loading="lazy">
              <p class="client-text-primary"> {{ selectedDeparture?.route.destination.name }} </p>
            </div>
            <p class="client-text-primary ml-1"> {{ selectedDeparture?.price }}bs </p>
          </div>
          <div class="travel-info-2 mt-3">
            <div class="info-row">
              <p class="client-text-primary client-text-small client-text-800"> Saliendo </p>
              <p class="client-text-dark-primary client-text-large"> {{ selectedDeparture?.departureDate.startDate | formatDate2 }} </p>
            </div>
            <div class="info-row pl-2">
              <p class="client-text-primary client-text-small client-text-800"> Hora </p>
              <p class="client-text-dark-primary client-text-large"> {{ selectedDeparture?.departureDate.departureTime | formatHour }} </p>
            </div>
            <div class="info-row d-flex">
              <div class="divider my-auto"></div>
              <div>
                <p class="client-text-primary client-text-small client-text-800"> Terminal de </p>
                <p class="client-text-orange client-text-800">
                  {{ selectedDeparture?.route.source.name }}
                </p>
              </div>
            </div>
          </div>
          <div class="travel-info-3 mt-3">
            <div class="info-row">
              <div class="go">
                <div class="mb-1">
                  <p class="client-text-primary client-text-small client-text-800"> Partida </p>
                  <p class="client-text-dark-primary client-text-large">
                    {{ selectedDeparture?.departureDate.departureTime }}
                  </p>
                </div>
              </div>
              <div class="time">
                <div class="d-flex align-items-center ml-2 h-100">
                  <img src="assets/icons/client/arrow-right-orange-lg-mobile.svg" loading="lazy">
                </div>
              </div>
              <div class="back">
                <div class="mb-1">
                  <p class="client-text-primary client-text-small client-text-800"> Llegada Aprox. </p>
                  <p class="client-text-dark-primary client-text-large"> Estimando... </p>
                </div>
              </div>
            </div>
            <div class="info-row">
              <div class="go">
                <div>
                  <p class="client-text-primary client-text-small client-text-800"> Terminal de </p>
                  <p class="client-text-orange client-text-800">
                    {{ selectedDeparture?.route.source.name }}
                  </p>
                </div>
              </div>
              <div class="time">
                <div *ngIf="false">
                  <p class="client-text-primary client-text-small client-text-800"> Duración </p>
                  <p class="client-text-dark-primary client-text-large client-text-large line-height"> --:-- h </p>
                </div>
              </div>
              <div class="back">
                <div>
                  <p class="client-text-primary client-text-small client-text-800"> Terminal de </p>
                  <p class="client-text-orange client-text-800">
                    {{ selectedDeparture?.route.destination.name }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="travel-info-2 mt-2">
            <div class="info-row">
              <p class="client-text-primary client-text-small client-text-800"> Llegando </p>
              <p class="client-text-dark-primary client-text-large"> -- de ---- ---- </p>
            </div>
            <div class="info-row pl-2">
              <p class="client-text-primary client-text-small client-text-800"> Hora </p>
              <p class="client-text-dark-primary client-text-large"> --:-- pm </p>
            </div>
            <div class="info-row d-flex">
              <div class="divider my-auto"></div>
              <div>
                <p class="client-text-primary client-text-small client-text-800"> Terminal de </p>
                <p class="client-text-orange client-text-800"> {{ selectedDeparture?.route.destination.name }} </p>
              </div>
            </div>
          </div>
          <hr class="line-divider">
          <div class="seats-info">
            <div class="info-row" *ngFor="let ticket of tickets">
              <div class="seat">
                <p class="client-text-primary client-text-small client-text-800"> Asiento </p>
                <p class="client-text-dark-primary client-text-large line-height"> {{ getSeatPosition(ticket.position) }} </p>
              </div>
              <div class="passenger">
                <p class="client-text-primary client-text-small client-text-800"> Pasajero </p>
                <p class="client-text-dark-primary client-text-large line-height"> {{ ticket.person.name }} </p>
              </div>
            </div>
          </div>
          <hr class="line-divider d-md-none d-block">
          <div class="price-info d-md-none">
            <div class="d-flex mr-5">
              <p class="client-text-primary font-weight-bold"> Total:&nbsp; </p>
              <p class="amount client-text-dark-primary client-text-large">
                {{ (selectedDeparture?.price * selectedSeats?.length) }}bs
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 pl-md-1 mb-md-0 mb-0">
        <div class="text-center mt-3 px-3">
          <h6 class="client-text-dark-primary client-text-dark-primary client-text-800 mt-4">
            Llena los siguientes datos para realizar tu pago
          </h6>
        </div>
        <app-payment-data-form [ticketBuyerGroup]="ticketBuyerGroup"></app-payment-data-form>
        <div class="d-flex justify-content-end px-4 my-3">
          <button type="button" class="payment-data-btn ovj-btn-orange-3 btn font-weight-bold mb-1"
            (click)="onSubmit()"
            mdbWavesEffect>
            Continuar
          </button>
        </div>
      </div>
    </div>
    <div class="suggestion-message py-2 mt-md-2 mt-1 mb-4" *ngIf="false">
      <p class="client-text-dark-primary client-text-500 text-center">
        Usted será recogido de la parada "<b>nombre</b>" a horas <b>10:00</b> aprox.<br>
        Se le recomienda estar presente una hora antes.
      </p>
    </div>
  </div>
  <app-payment-error *ngIf="paymentError"
    [paymentMethod]="paymentMethod"
    (retryEvent)="retry($event)">
  </app-payment-error>
</div>