@import 'variables';

.admin-main-container {
  background-color: #f2f2f2;
  min-height: 100vh !important;
  ::ng-deep {
    * {
      font-family: 'IBM Plex Sans';
    }
  }
}

.working-banner {
  align-items: center;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  min-height: 60vh;
  padding: 50px 30px;
  .title, .detail {
    align-items: center;
    display: flex;
    justify-content: center;
    p {
      color: $color-042b63;
      font-style: normal;
      margin-bottom: 0;
      font-weight: normal;
      font-size: 36px;
      line-height: 24px;
    }
  }
  .image-banner {
    margin: 60px auto;
    width: 667px;
  }
}