<div class="payment-error card">
  <div class="card-body">
    <div class="row">
      <div class="col-12 text-center">
        <img class="mt-5"
          src="assets/icons/client/warning-lg.svg"
          loading="lazy">
        <ng-container [ngSwitch]="paymentMethod">
          <p *ngSwitchCase="paymentMethodEnum.QR_PAYMENT" class="client-text-primary client-text-800 mt-4">
            Ocurrió un error al momento de escanear el QR.
            <br class="d-md-block d-none">
            intente de nuevo
          </p>
          <p *ngSwitchCase="paymentMethodEnum.CARD_PAYMENT" class="client-text-primary client-text-800 mt-4">
            Ocurrió un error al momento de realizar el pago.
            <br class="d-md-block d-none">
            Por favor intenta nuevamente
          </p>
        </ng-container>
        <button type="button" class="btn ovj-btn-orange-3 mb-5"
          (click)="retry()"
          mdbWavesEffect>
          Reintentar
        </button>
      </div>
    </div>
  </div>
</div>