<form class="oviajamos-client-form travel-search-form px-md-auto pr-md-2 py-0 px-5 mt-0" autocompl  ete="off" [formGroup]="travelGroup">
  <div class="d-md-none d-none p-0 mt-2 mb-2 mr-1">
    <div class="check-container d-flex align-items-center h-100">
      <input type="checkbox"
        id="goAndBack"
        class="ovj-client-check"
        [checked]="travelForm.goAndBack.value"
        (click)="checkGoAndBack()">
      <label class="font-weight-bold ovj-text-sm m-0" for="goAndBack">Ida y vuelta</label>
    </div>
  </div>
  <div class="desktop-inputs">
    <div class="md-form">
      <ng-select mdbInput
        id="source"
        class="form-control ovj-input client bus-stop-filter"
        labelForId="source"
        formControlName="source"
        notFoundText="Sin coincidencias"
        #source>
        <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
          {{ busStop.name}}
        </ng-option>
      </ng-select>
      <img class="input-icon"
        src="assets/icons/client/location.svg"
        loading="lazy">
      <label for="source" class="ovj-label ng-select-label" [ngClass]="{'valid': travelForm.source.valid}"
        (click)="source.open()">
        Origen<span class="text-danger">*</span>
      </label>
    </div>
    <div class="md-form location-input">
      <ng-select mdbInput
        id="destination"
        class="form-control ovj-input client bus-stop-filter"
        labelForId="destination"
        formControlName="destination"
        notFoundText="Sin coincidencias"
        #destination>
        <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
          {{ busStop.name}}
        </ng-option>
      </ng-select>
      <img class="input-icon"
        src="assets/icons/client/location.svg"
        loading="lazy">
      <label for="destination" class="ovj-label ng-select-label" [ngClass]="{'valid': travelForm.destination.valid}"
        (click)="destination.open()">
        Destino<span class="text-danger">*</span>
      </label>
    </div>
    <div class="md-form">
      <input mdbInput type="number" id="availableSeats" class="form-control ovj-input with-icon" formControlName="availableSeats"
        (keydown)="numberInputValidator($event)">
        <img class="input-icon"
          src="assets/icons/client/person.svg"
          loading="lazy">
      <label for="availableSeats" class="ovj-label">Asientos<span class="text-danger">*</span></label>
    </div>
    <div class="md-form d-md-block d-none">
      <dp-date-picker mdbInput
        class="ovj-input client with-icon"
        [config]="datePickerConf"
        (onSelect)="setGoValue($event.date)"
        mode="day"
        theme="dp-material"
        id="startDate1"
        [minDate]="minDate"
        formControlName="startDate"
        #startDate1>
      </dp-date-picker>
      <img class="input-icon"
        src="assets/icons/client/go-date.svg"
        loading="lazy">
      <label for="startDate1" class="ovj-label"
        [ngClass]="{'valid': travelForm.startDate.value && travelForm.startDate.value.toString().length > 0}"
        (click)="startDate1.api.open()">
        Ida<span class="text-danger">*</span>
      </label>
    </div>
    <div class="md-form d-md-block d-none" *ngIf="travelForm.goAndBack.value">
      <dp-date-picker mdbInput
        class="ovj-input client with-icon"
        [config]="datePickerConf2"
        (onSelect)="setBackValue($event.date)"
        mode="day"
        theme="dp-material"
        id="endDate1"
        [minDate]="minDate2"
        formControlName="endDate"
        #endDate1>
      </dp-date-picker>
      <img class="input-icon"
        src="assets/icons/client/back-date.svg"
        loading="lazy">
      <label for="endDate1" class="ovj-label"
        [ngClass]="{'valid': travelForm.endDate.value && travelForm.endDate.value.toString().length > 0}"
        (click)="endDate1.api.open()">
        Vuelta<span class="text-danger">*</span>
      </label>
    </div>
  </div>
  <div class="mobile-inputs">
    <div class="p-0 mt-3 mb-2 d-md-none d-none">
      <div class="d-flex align-items-center h-100 check-container">
        <input type="checkbox"
          id="goAndBack2"
          class="ovj-client-check"
          [checked]="travelForm.goAndBack.value"
          (click)="checkGoAndBack()">
        <label class="font-weight-bold ovj-text-sm m-0" for="goAndBack2">Ida y vuelta</label>
      </div>
    </div>
    <div class="go-and-back d-md-none d-flex">
      <div class="md-form">
        <dp-date-picker mdbInput
          class="ovj-input client with-icon"
          [config]="datePickerConf"
          (onSelect)="setGoValue($event.date)"
          mode="day"
          theme="dp-material"
          id="startDate2"
          [minDate]="minDate"
          formControlName="startDate"
          #startDate2>
        </dp-date-picker>
        <img class="input-icon"
          src="assets/icons/client/go-date.svg"
          loading="lazy">
        <label for="startDate2" class="ovj-label"
          [ngClass]="{'valid': travelForm.startDate.value && travelForm.startDate.value.toString().length > 0}"
          (click)="startDate2.api.open()">
          Ida<span class="text-danger">*</span>
        </label>
      </div>
      <div class="md-form back" *ngIf="travelForm.goAndBack.value">
        <dp-date-picker mdbInput
          class="ovj-input client with-icon"
          [config]="datePickerConf2"
          (onSelect)="setBackValue($event.date)"
          mode="day"
          theme="dp-material"
          id="endDate2"
          [minDate]="minDate2"
          formControlName="endDate"
          #endDate2>
        </dp-date-picker>
        <img class="input-icon"
          src="assets/icons/client/back-date.svg"
          loading="lazy">
        <label for="endDate2" class="ovj-label"
          [ngClass]="{'valid': travelForm.endDate.value && travelForm.endDate.value.toString().length > 0}"
          (click)="endDate2.api.open()">
          Vuelta<span class="text-danger">*</span>
        </label>
      </div>
    </div>
  </div>
</form>