@import 'variables';

.travel-search-form {
  align-items: center;
  display: flex;
  padding-right: 1rem;
  .check-container {
    justify-content: flex-start !important;
    label {
      white-space: nowrap;
    }
  }
  .desktop-inputs {
    align-items: center;
    display: flex;
    width: 100%;
    .md-form {
      width: 25%;
      .form-control {
        margin-bottom: 0;
      }
    }
  }
  .mobile-inputs {
    .go-and-back {
      .md-form {
        width: 100%;
        &.back {
          margin-left: 0.75rem !important;
        }
      }
    }
  }
  .md-form {
    margin: 0.8rem 0.35rem !important;
  }
}

@media screen and (max-width: $break-small) {
  .travel-search-form {
    flex-direction: column;
    .check-container {
      justify-content: center !important;
    }
    .desktop-inputs {
      flex-direction: column;
      .md-form {
        width: 100%;
      }
    }
    .mobile-inputs {
      align-items: center;
      flex-direction: column;
      width: 100%;
    }
    .md-form {
      margin: 0.8rem 0 !important;
    }
  }
}
