.oviajamos-form {
  .row {
    .form-check {
      display: flex;
      margin-bottom: 10px !important;
      .seating-scheme {
        align-items: center;
        display: flex;
        filter: invert(45%) sepia(75%) saturate(4265%) hue-rotate(209deg) brightness(106%) contrast(102%) !important;
        flex-direction: column;
        justify-content: center;
        position: relative;
        p {
          font-style: normal;
          margin: 0;
          &:nth-child(2) {
            font-size: 24px;
            font-weight: 300;
            line-height: 24px;
            position: absolute;
            top: 28px;
          }
          &:nth-child(3) {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            position: absolute;
            top: 52px;
          }
        }
      }
    }
    .seating-scheme-selection {
      position: relative;
      .mdb-error {
        bottom: 32px;
        position: absolute;
        width: 100%;
      }
    }
  }
}

.assigned-driver-title {
  padding: 0.8rem 1rem;
  .assigned-driver-check {
    width: 18px;
    height: 18px;
  }
}

.driver-select {
  ::ng-deep {
    .ng-option {
      padding: 0 0.2rem !important;
      .card {
        border-radius: 12px;
        margin-bottom: 0.2rem !important;
        .card-body {
          .driver-content {
            img {
              height: 45px;
              width: 45px !important;
            }
          }
        }
      }
      &:first-child {
        .card {
          margin-top: 0.15rem !important;
        }
      }
      &.ng-option-disabled {
        margin: 0.5rem;
      }
    }
  }
}

.view-more-templates {
  cursor: pointer;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  +img {
    cursor: pointer;
  }
}

[type=radio]:checked{
  +img {
    filter: invert(45%) sepia(75%) saturate(4265%) hue-rotate(209deg) brightness(106%) contrast(102%);
  }
}

.hidden-driver-select {
  max-height: 0;
  opacity: 0;
  visibility: none;
}