<form class="border-light oviajamos-form" autocomplete="off" [formGroup]="busGroup">
  <div class="mb-form ovj-input-file">
    <div class="image-circle-container">
      <img [src]="defaultImage"
        class="view-photo"
        loading="lazy">
      <input type="file" accept=".png, .jpg, .jpeg" formControlName="imageUrl" (change)="setImage($event)">
    </div>
    <img src="assets/icons/camera-icon.svg"
      class="view-photo-camera"
      loading="lazy">
    <div *ngIf="excededImageSize">
      <span class="ovj-mesage-error">La imagen no debe exceder 2Mb</span>
    </div>
  </div>
  <div class="text-center mt-4">
    <h6 class="ovj-form-title">Información del Automóvil</h6>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Tipo móvil<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          formControlName="type"
          notFoundText="Sin coincidencias"
          [searchable]="false"
          [ngClass]="{'is-invalid': submitted && busForm.type.errors}">
          <ng-option *ngFor="let key of busTypeEnumKeys" [value]="busTypeEnum[key]">
            {{ busTypeEnum[key] }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="busForm.type.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg-6 col-12" *ngIf="false">
      <div class="ovj-form" [formGroup]="busBrand">
        <label class="ovj-label">Marca/Modelo<span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          formControlName="busBrandId"
          [searchable]="false"
          notFoundText="Sin coincidencias"
          [ngClass]="{'is-invalid': submitted && busForm.busBrandId.errors}">
          <ng-option *ngFor="let brand of busBrands" [value]="brand.busBrandId">
            {{ brand.name }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="busBrand.controls.busBrandId.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Matrícula/Placa<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="licensePlate"
          [ngClass]="{'is-invalid': submitted && busForm.licensePlate.errors}">
        <div class="invalid-feedback" *ngIf="busForm.licensePlate.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="busForm.licensePlate.errors?.maxlength">Máximo 8 cáracteres</div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="false">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">No. Seguro<span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="insuranceNumber"
          [ngClass]="{'is-invalid': submitted && busForm.insuranceNumber.errors}">
        <div class="invalid-feedback" *ngIf="busForm.insuranceNumber.errors?.required">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12 pt-2">
      <div class="seating-scheme-selection">
        <div class="w-100 mb-1">
          <label for="seats mb-0" class="ovj-label text-left">Esquema de asientos</label>
        </div>
        <div class="form-check p-0 mb-1">
          <img class="view-more-templates mr-2"
            src="assets/icons/bus/template/view-more-templates.svg"
            loading="lazy"
            (click)="busTemplates()">
          <div class="seating-scheme selected" *ngIf="selectedSeatingScheme">
            <img src="assets/icons/bus/template/template-wrapper.svg" loading="lazy">
            <p class="seats"> {{ selectedSeatingScheme.totalSeats }} </p>
            <p class="seats-label"> Asientos </p>
          </div>
        </div>
        <div *ngIf="submitted && !selectedSeatingScheme" class="div">
          <div *ngIf="!selectedSeatingScheme" class="ovj-mesage-error">Seleccione una plantilla</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="row">
        <div class="col-12">
          <div class="ovj-form">
            <label class="ovj-label">Estado<span class="text-danger">*</span></label>
            <ng-select class="form-control ovj-select"
              formControlName="status"
              notFoundText="Sin coincidencias"
              [searchable]="false"
              [ngClass]="{'is-invalid': submitted && busForm.status.errors}">
              <ng-option *ngFor="let key of busStatusEnumKeys" [value]="busStatusEnum[key]">
                {{ busStatusEnum[key] }}
              </ng-option>
            </ng-select>
            <div class="invalid-feedback" *ngIf="busForm.status.errors?.required">Campo obligatorio</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form-bus-propietary [busPropietaryGroup]="busForm.busPropietary"
    [busPropietary]="(bus) ? bus.busPropietary : undefined"
    [submitted]="submitted">
  </form-bus-propietary>
</form>