<div class="modal-wrapper">
  <div class="content">
    <app-office-data-form [office]="office"
      [enterprise]="enterprise">
    </app-office-data-form>
  </div>
  <div class="actions mt-1 mb-3">
    <button class="btn ovj-btn light-blue-bordered"
      type="button"
      [disabled]="submitting"
      (click)="action.next(false)">
      No Guardar
    </button>
    <button class="btn ovj-btn primary"
      type="button"
      [disabled]="submitting"
      (click)="onSubmit()">
      <ng-container *ngIf="!submitting"> Guardar </ng-container>
      <div *ngIf="submitting" class="spinner-border spinner-btn text-light" role="status"></div>
    </button>
  </div>
</div>