
<table class="ovj-departures-table mt-0 mb-5">
  <thead>
  <tr>
    <th *ngFor="let col of colsTable; let index=index">
      {{col.name}}
    </th>
  </thead>
  <tbody class="text-secondary">
    <tr class="spacing"></tr>
    <tr class="spinner-row" *ngIf="loadingDepartures">
      <td colspan="7" class="init-view client-box-shadow">
        <app-spinner-small></app-spinner-small>  
      </td>
    </tr>
    <ng-container *ngIf="!loadingDepartures">
      <tr *ngIf="!initialized">
        <td colspan="7" class="init-view client-box-shadow">
          <div>
            <img src="assets/images/charco_location_map.svg" loading="lazy">
            <p>Por favor ingrese un <b>ORIGEN</b> para ver las salidas</p>
          </div>
        </td>
      </tr>
      <ng-container *ngIf="initialized">
        <tr *ngFor="let i=index; let departure of departures | paginate: {id: 'pag', itemsPerPage: 7, currentPage: pageActual}"
          class="departure-item"
          (click)="selectDeparture(departure, $event)">
          <td class="text-center">
            {{ (departure.departureDate?.departureTime) ? (departure.departureDate.departureTime | formatHour2) : '-' }}
          </td>
          <td class="text-center">
            {{ (departure.order) ? departure.order : '-' }}
          </td>
          <td>
            <div class="route-container d-flex align-items-center">
              <img class="rounded-circle mr-1"
                [src]="departure.route?.destination?.imageUrl"
                *ngIf="false"
                loading="lazy">
              {{ departure.route.source.name }}
              {{ (departure.route.intermediateRoutes.length > 0) ? ' >...> ' : ' > ' }}
              {{ departure.route.destination.name }}
            </div>
          </td>
          <td class="text-center"> {{ departure.bus.type }} </td>
          <td class="text-center"> {{ departure.price }} Bs. </td>
          <td class="text-center">
            {{ getDepartureAvailableSeats(departure) }}/{{ departure.tickets.length }}
          </td>
          <td class="text-center td-dropdown" *ngIf="!whitoutStatusOptions">
            <div class="btn-group" mdbDropdown>
              <button mdbDropdownToggle type="button" class="dep-status-btn btn btn-default bg-white"
                [ngClass]="{'on-way': departure.status === departureStatusEnum.WAITING,
                  'boarding': departure.status === departureStatusEnum.ABORDING,
                  'canceled': departure.status === departureStatusEnum.CANCELED,
                  'leaved': departure.status === departureStatusEnum.CLOSED,
                  'disabled': modifying.includes(departure.departureId)}"
                  (click)="$event.preventDefault(); $event.stopPropagation()">
                <img class="mr-1"
                  src="assets/icons/arrow-down-dark-blue.svg"
                  loading="lazy">
                {{ departure.status }}
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="setStatus(departure, departureStatusEnumKeys[0]); $event.preventDefault()">
                  En espera
                </a>
                <a class="dropdown-item" (click)="setStatus(departure, departureStatusEnumKeys[1]); $event.preventDefault()">
                  Abordando
                </a>
                <a class="dropdown-item" (click)="setStatus(departure, departureStatusEnumKeys[3]); $event.preventDefault()">
                  Salió
                </a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" (click)="setStatus(departure, departureStatusEnumKeys[2]); $event.preventDefault()">
                  Cancelado
                </a>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
<div class="mobile-sale-departures mt-2 mb-5">
<app-spinner-small class="mobile" *ngIf="loadingDepartures"></app-spinner-small>  
  <ng-container *ngIf="!loadingDepartures">
    <div class="default-content mt-2" *ngIf="!initialized">
      <img src="assets/images/charco_location_map.svg" loading="lazy">
      <p>Por favor ingrese un <b>ORIGEN</b> para ver las salidas</p>
      <div class="default-message">
      </div>
    </div>
    <ng-container *ngIf="initialized">
      <div class="departure-card"
        *ngFor="let i=index; let departure of departures | paginate: {id: 'pag', itemsPerPage: 7, currentPage: pageActual}"
        [ngClass]="{'leaved-departure': departure.status === departureStatusEnum.CLOSED,
          'canceled-departure': departure.status === departureStatusEnum.CANCELED}"
        (click)="selectDeparture(departure, $event)">
        <div class="departure-data">
          <div class="type-time">
            <p>
              {{ (departure.departureDate?.departureTime) ? (departure.departureDate.departureTime | formatHour2) : '-' }}
            </p>
          </div>
          <div class="price">
            <p> {{ departure.price }} Bs. </p>
          </div>
        </div>
        <div class="travel-route">
          <p>
            {{ departure.route.source.name }}
            {{ (departure.route.intermediateRoutes.length > 0) ? ' >...> ' : ' > ' }}
            {{ departure.route.destination.name }}
          </p>
        </div>
        <div class="bus-type">
          <p> {{ departure.bus.type }} </p>
        </div>
        <div class="options">
          <div class="actions">
            <button type="button" class="dep-status-btn btn btn-default bg-white"
              [ngClass]="{'on-way': departure.status === departureStatusEnum[departureStatusEnumKeys[0]],
                'boarding': departure.status === departureStatusEnum.ABORDING,
                'canceled': departure.status === departureStatusEnum.CANCELED,
                'leaved': departure.status === departureStatusEnum.CLOSED,
                'disabled': modifying.includes(departure.departureId)}"
              (click)="departureStatus(departure); $event.preventDefault(); $event.stopPropagation()">
              <img class="mr-1"
                src="assets/icons/arrow-down-dark-blue.svg"
                loading="lazy">
              {{ departure.status }}
            </button>
          </div>
          <div class="seating-scheme">
            <img src="assets/icons/bus/seat-sm.svg" loading="lazy">
            <p class="ml-1"> {{ departure.bus.seatingScheme.totalSeats }} Asientos </p>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>