@import 'variables';

.ovj-departures-table {
  border-spacing: 0px 1px;
  thead {
    height: 40px;
    tr {
      th {
        color: rgba(0, 0, 0, 0.57);
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 24px;
        padding: 0 0.75rem;
        &:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        &:nth-child(2) {
          text-align: center;
        }
        &:nth-child(4) {
          text-align: center;
        }
        &:nth-child(5) {
          text-align: center;
        }
        &:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          text-align: center;
        }
      }
    }
  }
  tbody {
    tr {
      color: $color-666666;
      height: 44px !important;
      font-size: 15px;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      .init-view {
        padding: 0;
        &>div {
          align-items: center;
          background-color: $white;
          color: $color-042b63;
          display: flex;
          flex-direction: column;
          height: 70vh !important;
          justify-content: center;
          font-size: 24px;
          font-style: normal;
          font-weight: normal;
          line-height: 24px;
          padding: 0 0 1rem 0 !important;
          p {
            margin: 1rem 0;
          }
        }
      }
      td {
        background-color: $color-f4f5f8 !important;
        border-radius: 0;
        height: 44px !important;
        &:first-child {
          border-bottom-left-radius: 7px;
          border-top-left-radius: 7px;
          width: 85px;
        }
        &:nth-child(2) {
          width: 85px;
        }
        &:nth-child(3) {
          min-width: 380px;
        }
        &:nth-child(4) {
          min-width: 85px;
        }
        &:nth-child(5) {
          width: 85px;
        }
        &:nth-child(6) {
          width: 85px;
        }
        &:last-child {
          border-bottom-right-radius: 7px;
          border-top-right-radius: 7px;
          min-width: 120px;
          width: 175px !important;
          .dep-status-btn {
            height: 30px;
          }
          .dropdown-menu {
            margin-top: -2px;
          }
        }
      }
      &.spacing {
        height: 1px !important;
        background-color: transparent;
      }
      &.departure-item {
        cursor: pointer;
      }
    }
    .route-container {
      img {
        height: 30px;
        width: 30px;
      }
    }
    .spinner-row {
      height: 70vh !important;
      min-height: 40vh;
    }
  }
}
.mobile-sale-departures {
  display: none;
  .default-content {
    align-items: center;
    background: $white;
    border-radius: 8px;
    display: flex;
    height: 55vh;
    justify-content: center;
    flex-direction: column;
    margin-top: -7%;
    min-height: 40vh;
    padding: 5px 10px;
    img {
      margin-bottom: 5px;
      width: 178px;
    }
    p {
      color: $color-042b63;
      font-size: 24px;
      font-weight: normal;
      line-height: 24px;
      margin-bottom: 0;
      text-align: center;
    }
  }
  .departure-card {
    background-color: $white;
    border: 1px solid $color-e1e1e1;
    cursor: pointer;
    font-style: normal;
    padding: 12px 11px;
    p {
      margin-bottom: 0;
    }
    .departure-data {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      .type-time {
        align-items: center;
        color: $color-666666;
        display: flex;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
      }
      .price {
        color: $color-666666;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
      }
    }
    .travel-route {
      color: $color-666666;
      font-size: 18px;
      font-weight: normal;
      line-height: 24px;
    }
    .bus-type {
      color: $color-666666;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 8px;

    }
    .options {
      align-items: center;
      display: flex;
      justify-content: space-between;
      .actions {
        button {
          background: $white;
          border: 1px solid #DCE9FB;
          border-radius: 10px;
          height: 31px;
          font-size: 12px;
          font-style: normal;
          font-weight: normal;
          line-height: 16px;
          padding: 2px 18px;
          &.boarding {
            background-color: $ovj-success !important;
            border: 1px solid $color-65c46a;
          }
          &.canceled {
            background-color: inherit !important;
            border: 1px solid $color-666666;
          }
          &.leaved {
            background-color: $color-dce9fb !important;
            border: 1px solid $color-3880ff;
          }
          &.on-way {
            background-color: $color-ffec3d !important;
            border: 1px solid $color-e8b209;
          }
        }
      }
      .seating-scheme {
        align-items: center;
        color: $color-666666;
        display: flex;
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
}
app-spinner-small {
  ::ng-deep{
    .spinner-container{
      min-height: 35vh;
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: $break-large) {
  .ovj-departures-table {
    display: none;
  }
  .mobile-sale-departures {
    display: block;
  }
}