@import 'variables';

.oviajamos-form {
  .bus-data {
    .row-form {
      display: flex;
      &>div {
        &:first-child {
          padding-right: 1rem;
          width: 50%;
        }
        &:nth-child(2) {
          display: flex;
          width: 50%;
          &>div {
            &:first-child {
              padding-right: 1rem;
              width: 20%;
            }
            &:nth-child(2) {
              width: 80%;
              &.columns {
                width: 25%;
              }
            }
          }
        }
      }
      .status-info {
        display: flex;
        .seat-item {
          align-items: center;
          background-color: $white;
          border-radius: 5px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          cursor: pointer;
          display: flex;
          flex-direction: column;
          height: 71px;
          margin-right: 0.25rem;
          width: 63px;
          &:last-child {
            margin-right: 0;
          }
          &.selected {
            background-color: $color-dce9fb;
          }
          .img-wrapper {
            height: 51px;
            display: flex;
            align-items: center;
          }
          p {
            color: $color-333e48;
            font-size: 13px;
            font-style: normal;
            font-weight: normal;
            line-height: 17px;
            margin: 0;
          }
        }
      }
      .total-seats-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        filter: invert(45%) sepia(75%) saturate(4265%) hue-rotate(209deg) brightness(106%) contrast(102%) !important;
        p {
          font-style: normal;
          margin: 0;
          position: absolute;
          &:nth-child(2) {
            top: 24px;
            font-weight: 300;
            font-size: 24px;
            line-height: 24px;
          }
          &:nth-child(3) {
            text-align: center;
            top: 49px;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
  }
  .seating-scheme {
    display: flex;
    margin-top: 5rem;
  }
}