<form class="border-light oviajamos-form" autocomplete="off" [formGroup]="seatingSchemeGroup">
  <div class="bus-data">
    <div class="row-form">
      <div class="ovj-form bus-name">
        <label class="ovj-label"> Nombre de bus <span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="busName"
          [ngClass]="{'is-invalid': submitted && seatingSchemeForm.busName.errors}">
        <div class="invalid-feedback" *ngIf="seatingSchemeForm.busName.errors?.required">Campo obligatorio</div>
      </div>
      <div>
        <div class="ovj-form floors">
          <label class="ovj-label">Pisos<span class="text-danger">*</span></label>
          <ng-select class="form-control ovj-select"
            formControlName="floorsAmount"
            notFoundText="Sin coincidencias"
            [searchable]="false"
            [ngClass]="{'is-invalid': submitted && seatingSchemeForm.floorsAmount.errors}">
            <ng-option *ngFor="let key of floorNumbersEnumKeys" [value]="floorNumbersEnum[key]">
              {{ floorNumbersEnum[key] }}
            </ng-option>
          </ng-select>
          <div class="invalid-feedback" *ngIf="seatingSchemeForm.floorsAmount.errors?.required">Campo obligatorio</div>
        </div>
        <div class="total-seats-info">
          <img src="assets/icons/bus/template/template-wrapper.svg" loading="lazy">
          <p class="total-seats"> {{ seatingSchemeForm.totalSeats.value }} </p>
          <p class="total-text"> Total <br> asientos </p>
        </div>
      </div>
    </div>
    <div class="row-form">
      <div class="status-info">
        <div class="seat-item" (click)="selectElementType('t')"
          [ngClass]="{'selected': selectedElementType === 't'}">
          <div class="img-wrapper">
            <img src="assets/icons/bus/template/tv.svg" loading="lazy">
          </div>
          <p> TV </p>
        </div>
        <div class="seat-item" (click)="selectElementType('0')"
          [ngClass]="{'selected': selectedElementType === '0'}">
          <div class="img-wrapper">
            <img src="assets/icons/bus/template/seat-info.svg" loading="lazy">
          </div>
          <p> Asiento </p>
        </div>
        <div class="seat-item" (click)="selectElementType('e')"
          [ngClass]="{'selected': selectedElementType === 'e'}">
          <div class="img-wrapper">
            <img src="assets/icons/bus/template/hall-dark.svg" loading="lazy">
          </div>
          <p> Pasillo </p>
        </div>
        <div class="seat-item" (click)="selectElementType('s')"
          [ngClass]="{'selected': selectedElementType === 's'}">
          <div class="img-wrapper">
            <img src="assets/icons/bus/template/steps.svg" loading="lazy">
          </div>
          <p> Gradas </p>
        </div>
      </div>
      <div>
        <div class="ovj-form rows" *ngIf="false">
          <label class="ovj-label"> Filas <span class="text-danger">*</span></label>
          <input type="number" class="form-control ovj-input" formControlName="rows"
            [ngClass]="{'is-invalid': submitted && seatingSchemeForm.rows.errors}">
          <div class="invalid-feedback" *ngIf="seatingSchemeForm.rows.errors?.required">Campo obligatorio</div>
        </div>
        <div class="ovj-form columns" *ngIf="false">
          <label class="ovj-label"> Columnas <span class="text-danger">*</span></label>
          <input type="number" class="form-control ovj-input" formControlName="columns"
            [ngClass]="{'is-invalid': submitted && seatingSchemeForm.columns.errors}">
          <div class="invalid-feedback" *ngIf="seatingSchemeForm.columns.errors?.required">Campo obligatorio</div>
        </div>
      </div>
    </div>
  </div>
  <div class="seating-scheme">
    <app-seating-scheme-form [selectedElementType]="selectedElementType"
      [seatingSchemeGroup]="seatingSchemeGroup"
      [refreshTotalSeats]="refreshTotalSeats">
    </app-seating-scheme-form>
  </div>
</form>