<div class="options-modal">
  <div class="options-header">
    <p> Acciones </p>
    <button class="btn btn-default" aria-label="Close" (click)="action.next(false)">
      <i class="icon icon-cross"></i>
    </button>
  </div>
  <div class="content">
    <div class="item" (click)="delete()">
      <div class="icon-container">
        <i class="icon icon-trash"></i>
      </div>
      <p> Eliminar Salida </p>
    </div>
    <div class="item" (click)="moveTomorrow()">
      <div class="icon-container">
        <img src="assets/icons/move-departure-tomorrow.svg" loading="lazy">
      </div>
      <p> Mover a mañana </p>
    </div>
    <div class="item" (click)="edit()">
      <div class="icon-container">
        <i class="icon icon-edit"></i>
      </div>
      <p> Editar salida </p>
    </div>
  </div>
</div>