<div class="row">
  <div class="col-12">
    <div class="card-report main-data card">
      <div class="card-body">
        <div class="increase-data">
          <div class="commission ticket-data-item">
            <div class="ticket-start-feature"><div class="feature"></div></div>
            <div class="ticket-content">
              <div class="d-flex">
                <p> Incremento: </p>
              </div>
              <div class="d-flex">
                <p> {{ enterprise.onlineSalesCommissions[0].value }}% </p>
              </div>
            </div>
            <div class="ticket-end-feature"></div>
          </div>
          <div class="commission-type">
            <p> Tipo de comisión: {{ enterprise.onlineSalesCommissions[0].type }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-lg-5 col-12 pr-lg-2">
    <div class="card-report sales-online card">
      <div class="card-header">
        <p> Ventas en línea </p>
      </div>
      <div class="card-body">
        <div class="ticket-data-item sold-tickets">
          <div class="ticket-start-feature"><div class="feature"></div></div>
          <div class="ticket-content">
            <div>
              <p> Pasajes vendidos </p>
            </div>
            <div>
              <p> 302 </p>
            </div>
          </div>
          <div class="ticket-end-feature"></div>
        </div>
        <div class="data-item total-sales">
          <p> Total Ventas </p>
          <div>
            <p> Bs. </p>
            <p> 15100.00 </p>
          </div>
        </div>
        <div class="data-item ovj-commission">
          <p> Comisión 1.5% Oviajamos </p>
          <div>
            <p> Bs. </p>
            <p> 226.50 </p>
          </div>
        </div>
        <div class="data-item company-incomes">
          <p> Ingreso Empresa </p>
          <div>
            <p> Bs. </p>
            <p> 14873.50 </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-12 pl-lg-2 mt-lg-0 mt-3">
    <div class="card-report online-sales-percentage card">
      <div class="sales-by-time card-report card">
        <div class="card-header">
          <p> Total ventas en línea realizadas en el tiempo </p>
        </div>
        <div class="card-body">
          <div class="chart-info">
            <p> Bs </p>
            <div>
              <div class="category-icon"></div>
              <p> Ventas en línea </p>
            </div>
            <div></div>
            <div *ngIf="false">
              <div class="category-icon"></div>
              <p> Total ventas </p>
            </div>
          </div>
          <div class="canvas-wrapper">
            <canvas #salesByTimeCanvas class="chart-canvas" height="100%"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3 mb-5">
  <div class="col-12">
    <div class="sales-by-route card-report card">
      <div class="card-header">
        <p> Ventas en línea realizadas por parada </p>
      </div>
      <div class="card-body">
        <div class="custom-table-responsive mt-1">
          <table class="physical-sales-table table mb-0">
            <thead>
              <th> Precio de Pasajes </th>
              <th> N° Pasajes vendidos </th>
              <th> Total Venta (Bs) </th>
              <th> Comisión 1.5% Oviajamos (Bs) </th>
              <th> Ingreso Empresa (Bs) </th>
            </thead>
            <tbody>
              <tr *ngFor="let dataRow of dataTable">
                <td> {{ dataRow.route }} </td>
                <td> {{ dataRow.ticketsSold }} </td>
                <td> {{ dataRow.totalSale }} </td>
                <td> {{ dataRow.ovjCommission }} </td>
                <td> {{ dataRow.companyAmount }} </td>
              </tr>
              <tr class="total-table-row">
                <td></td>
                <td> {{ totalTicketsSold }} </td>
                <td> {{ totalAmount }} </td>
                <td> {{ totalOvjCommission }} </td>
                <td> {{ totalCompanyAmount }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3" *ngIf="false">
  <div class="col-lg-6 col-12 pr-lg-2">
    <div class="sales-by-route card-report card">
      <div class="card-body">
        <div class="title-wrapper">
          <p> Ventas realizadas por ruta </p>
        </div>
        <div class="chart-info">
          <div>
            <div class="category-icon"></div>
            <p> 50Bs </p>
          </div>
          <div>
            <div class="category-icon"></div>
            <p> 75Bs </p>
          </div>
          <div>
            <div class="category-icon"></div>
            <p> 80Bs </p>
          </div>
        </div>
        <div class="chart-wrapper">
          <canvas #salesByRouteCanvas class="chart-canvas" height="270px"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12 pl-lg-2 mt-lg-0 mt-3">
    <div class="sales-by-route-office card-report card">
      <div class="card-body">
        <div class="title-wrapper">
          <p> Ventas realizadas por ruta (en línea) </p>
        </div>
        <div class="chart-wrapper">
          <canvas #salesByRouteOfficeCanvas class="chart-canvas" height="270px"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row my-3" *ngIf="false">
  <div class="col-12">
    <div class="title-wrapper">
      <p> Procentaje ventas en línea </p>
    </div>
    <div class="chart-wrapper">
      <div class="canvas-wrapper">
        <canvas #physicalSalesCanvas class="chart-canvas" height="270px"></canvas>
        <div class="index-info">
          <div class="content">
            <p> 45745,00 </p>
            <p> Total ventas físicas </p>
          </div>
        </div>
      </div>
      <div class="chart-info">
        <div class="ticket-data-item">
          <div class="ticket-start-feature"><div class="feature"></div></div>
          <div class="ticket-content">
            <p> 50,00 Bs </p>
          </div>
          <div class="ticket-end-feature"></div>
        </div>
        <div class="ticket-data-item">
          <div class="ticket-start-feature"><div class="feature"></div></div>
          <div class="ticket-content">
            <p> 75,00 Bs </p>
          </div>
          <div class="ticket-end-feature"></div>
        </div>
        <div class="ticket-data-item">
          <div class="ticket-start-feature"><div class="feature"></div></div>
          <div class="ticket-content">
            <p> 80,00 Bs </p>
          </div>
          <div class="ticket-end-feature"></div>
        </div>
      </div>
    </div>
  </div>
</div>