<div class="card shadow-sm mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-12 px-lg-0">
        <div class="d-lg-none d-block px-lg-3">
          <div class="d-flex travel-header">
            <div class="col-lg-8 col-7 align-self-center client-text-dark-primary client-text-large lineheight client-text-800">
              Trans. Copacabana S.A.
            </div>
            <div class="col-lg-2 col-3 p-0">
              <p class="ovj-text-xs client-text-primary client-text-800"> Tipo de bus </p>
              <p class="client-text-dark-primary client-text-large line-height client-text-500"> Leito </p>
            </div>
            <div class="col-lg-2 col-2 px-lg-2 p-0">
              <p class="ovj-text-xs client-text-primary client-text-800"> Precio </p>
              <p class="client-text-dark-primary client-text-large line-height client-text-500"> 70bs </p>
            </div>
          </div>
        </div>
        <div class="px-lg-5">
          <div class="travel-info px-lg-0 d-flex px-2 mt-3">
            <div class="col-lg-2 col-4 pl-lg-0">
              <div class="departure">
                <div>
                  <p class="ovj-text-xs client-text-primary client-text-800"> Partida </p>
                  <p class="client-text-dark-primary client-text-large line-height client-text-500"> 07:00 </p>
                </div>
                <div class="divider"></div>
                <div class="px-auto">
                  <p class="ovj-text-xs client-text-primary client-text-800"> Terminal de </p>
                  <p class="client-text-orange client-text-800"> Cochabamba </p>
                </div>
              </div>
            </div>
            <div class="col-lg-1 col-4 align-self-center text-center px-lg-auto">
              <img src="assets/icons/client/arrow-right-orange.svg" loading="lazy">
              <div class="mt-2 d-lg-none d-block">
                <p class="ovj-text-xs client-text-primary client-text-800"> Duración </p>
                <p class="client-text-dark-primary client-text-large line-height client-text-500"> 05:00 h </p>
              </div>
            </div>
            <div class="col-lg-2 col-4 p-lg-0 pl-2">
              <div class="arrival pl-lg-2">
                <div class="px-auto">
                  <p class="ovj-text-xs client-text-primary client-text-800"> Llegada Aprox. </p>
                  <p class="client-text-dark-primary client-text-large line-height client-text-500"> 17:00 </p>
                </div>
                <div class="divider"></div>
                <div class="px-auto">
                  <p class="ovj-text-xs client-text-primary client-text-800"> Terminal de </p>
                  <p class="client-text-orange client-text-800"> La Paz </p>
                </div>
              </div>
            </div>
            <div class="col-lg-2 d-lg-block d-none pl-lg-4">
              <p class="ovj-text-xs client-text-primary client-text-800"> Tiempo de viaje aprox. </p>
              <p class="client-text-dark-primary client-text-large line-height client-text-500"> 05:00 horas </p>
            </div>
            <div class="col-lg-2 d-lg-block d-none">
              <p class="ovj-text-xs client-text-primary client-text-800"> Asientos disponibles </p>
              <p class="client-text-dark-primary client-text-large line-height client-text-500"> 10 </p>
            </div>
            <div class="col-lg-2 d-lg-block d-none">
              <p class="ovj-text-xs client-text-primary client-text-800"> Tipo de bus </p>
              <p class="client-text-dark-primary client-text-large line-height client-text-500"> Leito </p>
            </div>
            <div class="col-lg-1 d-lg-block d-none pr-lg-0">
              <p class="ovj-text-xs client-text-primary client-text-800"> Precio </p>
              <p class="client-text-dark-primary client-text-large line-height client-text-500"> 70bs </p>
            </div>
          </div>
        </div>
        <div class="d-flex travel-actions py-2 px-lg-3 mt-0">
          <div class="col-lg-9 col-12 py-2 suggestion-message">
            <p class="text-center client-text-dark-primary client-text-500">
              Usted abordará en la parada "<b>nombre</b>" a horas <b>10:00</b> aprox.<br>
              Se le recomienda estar presente una hora antes.
            </p>
          </div>
          <span class="client-text-primary client-text-500 d-lg-none d-block mb-0 mt-2">
            <u> 10 asientos disponibles </u>
          </span>
          <div class="col-lg-3 col-12">
            <button type="button" class="btn ovj-btn-orange-3 font-weight-bold"
              (click)="selectTravel()"
              mdbWavesEffect>
              Seleccionar
            </button>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>