<section class="admin-sidebar">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="sidebar-container">
          <img src="assets/icons/burger-menu.svg"
               class="header-burger-buttom"
               *ngIf="showBurgerButtom"
               loading="lazy"
               (click)="burgerButtonEvent()">
          <img src="assets/icons/arrow-left.svg"
               *ngIf="!showBurgerButtom"
               loading="lazy"
               (click)="arrowLeftButtonEvent()">
          <p class="m-0" *ngIf="false">{{title}}</p>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <div class="btn-group" mdbDropdown>
          <div mdbDropdownToggle type="button" class="user-container">
            <div class="center-content">
              <p class="mb-0">
                {{ user?.displayName || loggedUser?.name || user?.email || user?.phoneNumber }}
              </p>
              <p *ngIf="rolUser.OVJ_ADMIN === loggedUser.role" class="mt-0 mb-0 text-size">(ADMIN OVIAJAMOS)</p>  
              <p *ngIf="rolUser.COMPANY_ADMIN === loggedUser.role" class="mt-0 mb-0 text-size">(ADMIN DE EMPRESA)</p>  
              <p *ngIf="rolUser.OFFICE_ADMIN === loggedUser.role" class="mt-0 mb-0 text-size">(ADMIN DE OFICINA)</p>  
              <p *ngIf="rolUser.SECRETARY === loggedUser.role" class="mt-0 mb-0 text-size">(SECRETARIA<)</p>  
              <p *ngIf="rolUser.TICKET_SELLER === loggedUser.role" class="mt-0 mb-0 text-size">(VENDEDOR)</p>  
              <p *ngIf="rolUser.DRIVER === loggedUser.role" class="mt-0 mb-0 text-size">(CHOFER)</p>  
              <p *ngIf="rolUser.CLIENT === loggedUser.role" class="mt-0 mb-0 text-size">(CLIENTE)</p>  
            </div>
            <img class="rounded-circle"
              [src]="user?.photoURL || (loggedUser?.imageUrl) || 'assets/icons/user-image-icon-2.svg'"
              loading="lazy">
          </div>
          <div class="dropdown-menu dropdown-menu-right dark">
            <a class="dropdown-item" (click)="editProfile()">
              Editar perfil
            </a>
            <a class="dropdown-item" (click)="logout()">
              Cerrar sesión
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>