@import 'variables';
.center-content{
  text-align: right;
  .text-size{
    font-size: 11px;
  }
}
.admin-sidebar {
  background: $color-121b22;
  .sidebar-container {
    display: flex;
    align-items: center;
    min-height: 56px;
    img {
      margin-right: 1em;
    }
    p {
      color: $white;
      font-family: $roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1.15rem;
      line-height: 23px;
      letter-spacing: 0.15px;
    }
  }
  .user-container {
    align-items: center;
    color: $white;
    display: flex;
    font-size: 0.9rem;
    justify-content: flex-end;
    img {
      height: 35px;
      margin-left: 0.5rem;
      width: 35px;
    }
  }
  .dropdown-menu.dropdown-menu-right.dark {
    padding-top: 0.6rem;
    margin-top: 1.1rem;
    .dropdown-item {
      height: 35px;
    }
  }
}