<div class="client-bus-wrapper">
  <div class="bus-floor" *ngFor="let floor of seatingScheme.floors; let i=index"
    [ngClass]="{'first-floor': i === 0}">
    <div class="bus-row" *ngFor="let row of floor">
      <div class="bus-column" *ngFor="let column of row" (click)="selectSeat(column)"
        [ngClass]="{'selectable': checkSeatStatus(column) === ticketStatusEnum.SELECTED ||
          checkSeatStatus(column) === ticketStatusEnum.AVAILABLE}">
        <ng-container class="bus-element" [ngSwitch]="column">
          <img class="driver-img" src="assets/icons/bus/client-template/driver.svg"
            *ngSwitchCase="'d'"
            loading="lazy">
          <img src="assets/icons/bus/template/tv.svg"
            *ngSwitchCase="'t'"
            loading="lazy">
          <img src="assets/icons/bus/template/steps.svg"
            *ngSwitchCase="'s'"
            loading="lazy">
          <img src="assets/icons/bus/template/hall-light.svg"
            *ngSwitchCase="'e'"
            loading="lazy">
          <div class="seat" *ngSwitchDefault>
            <ng-container [ngSwitch]="checkSeatStatus(column)">
              <img src="assets/icons/bus/client-template/seat-not-available.svg"
                *ngSwitchCase="ticketStatusEnum.SOLD"
                loading="lazy">
              <img src="assets/icons/bus/client-template/seat-selected.svg"
                *ngSwitchCase="ticketStatusEnum.SELECTED"
                loading="lazy">
              <img src="assets/icons/bus/client-template/seat-not-available.svg"
                *ngSwitchCase="ticketStatusEnum.RESERVED"
                loading="lazy">
              <img src="assets/icons/bus/client-template/seat.svg"
                *ngSwitchCase="ticketStatusEnum.AVAILABLE"
                loading="lazy">
              <img src="assets/icons/bus/client-template/seat-not-available.svg"
                *ngSwitchCase="ticketStatusEnum.TO_BE_SOLD"
                loading="lazy">
              <img src="assets/icons/bus/client-template/seat-not-available.svg"
                *ngSwitchCase="ticketStatusEnum.DISABLED"
                loading="lazy">
            </ng-container>
            <p [ngClass]="{'text-white': checkSeatStatus(column) === ticketStatusEnum.SELECTED,
                'text-gray': checkSeatStatus(column) === ticketStatusEnum.SOLD ||
                  checkSeatStatus(column) === ticketStatusEnum.TO_BE_SOLD ||
                  checkSeatStatus(column) === ticketStatusEnum.DISABLED ||
                  checkSeatStatus(column) === ticketStatusEnum.RESERVED}">
                {{ getSeatNumber(column) }}
              </p>
          </div>
        </ng-container>
      </div>
    </div>
    <img class="bus-front"
      src="assets/icons/bus/client-template/bus-front.png"
      *ngIf="i === 0"
      loading="lazy">
    <img class="bus-left-mirror"
      src="assets/icons/bus/client-template/mirror-left.svg"
      *ngIf="i === 0"
      loading="lazy">
    <img class="bus-right-mirror"
      src="assets/icons/bus/client-template/mirror-right.svg"
      *ngIf="i === 0"
      loading="lazy">
    <p class="floor-number" [ngClass]="{'first': i === 0}" *ngIf="seatingScheme.floors.length > 1">
      PISO {{ i + 1 }}
    </p>
  </div>
</div>