@import 'variables';

.client-bus-wrapper {
  .bus-floor {
    .bus-row {
      .bus-column {
        &.selectable {
          cursor: pointer;
        }
        .seat {
          p {
            &.text-gray {
              color: $color-d1d1d1;
            }
          }
        }
      }
    }
  }
}