<button type="button" aria-label="Close"
  class="close-modal-btn btn btn-default"
  (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="custom-card-info">
  <div class="selected-element content-item">
    <div class="principal">
      <p class="card-title"> Detalle Empresa </p>
      <div class="icon-wrapper">
        <img class="rounded-circle"
          [src]="enterprise.imageUrl"
          *ngIf="enterprise.imageUrl && enterprise.imageUrl.length > 0"
          loading="lazy">
        <i class="icon icon-business"
          *ngIf="!enterprise.imageUrl || enterprise.imageUrl.length === 0"></i>
      </div>
      <p class="item-label"> {{ enterprise.name }} </p>
      <p class="item-sub-label"> {{ enterprise.legalOrganizer?.phoneNumber }} </p>
      <p class="item-sub-label"> -- Dirección -- </p>
      <div class="actions">
        <button class="btn btn-default ovj-btn dark-orange-bordered"
          (click)="deleteEnterprise(enterprise)">
          Eliminar
        </button>
        <button class="ovj-btn btn btn-default"
          [ngClass]="{'light-blue-bordered': enterprise.status !== companyStatusEnum.INCOMPLETE_RECORD,
            'success': enterprise.status === companyStatusEnum.INCOMPLETE_RECORD}"
          (click)="editEnterprise(enterprise)">
          <ng-container *ngIf="enterprise.status !== companyStatusEnum.INCOMPLETE_RECORD">
            Editar
          </ng-container>
          <ng-container *ngIf="enterprise.status === companyStatusEnum.INCOMPLETE_RECORD">
            Completar registro
          </ng-container>
        </button>
      </div>
    </div>
    <div class="detail mt-4">
      <div class="info-block">
        <p class="title"> Información de empresa </p>
        <div class="item-info">
          <p> Razón social </p>
          <p> {{ enterprise.businessName }} </p>
        </div>
        <div class="item-info">
          <p> Tipo de empresa </p>
          <p> {{ enterprise.type }} </p>
        </div>
        <div class="item-info">
          <p> NIT </p>
          <p> {{ enterprise.nit }} </p>
        </div>
      </div>
      <div class="info-block">
        <p class="title"> Información bancaria </p>
        <div class="item-info">
          <p> Número de cuenta bancaria </p>
          <p> -- 10005770207020 -- </p>
        </div>
        <div class="item-info">
          <p> Nombre de banco </p>
          <p> -- Banco Nacional de Bolivia -- </p>
        </div>
        <div class="item-info">
          <p> Nombre de titular de cuenta </p>
          <p> -- Juán Pérez -- </p>
        </div>
        <div class="item-info">
          <p> Moneda </p>
          <p> -- Bolivianos -- </p>
        </div>
      </div>
      <div class="info-block" *ngIf="enterprise.legalOrganizer">
        <p class="title"> Representante legal </p>
        <div class="item-info">
          <p> Celular </p>
          <p> {{ enterprise.legalOrganizer.phoneNumber }} </p>
        </div>
        <div class="item-info">
          <p> Nombres </p>
          <p> {{ enterprise.legalOrganizer.firstName }} </p>
        </div>
        <div class="item-info">
          <p> Apellidos </p>
          <p> {{ enterprise.legalOrganizer.lastName }} </p>
        </div>
        <div class="item-info">
          <p> CI </p>
          <p> {{ enterprise.legalOrganizer.documentNumber }} </p>
        </div>
      </div>
    </div>
    <div class="mobile-actions">
      <button type="button" class="btn btn-default ovj-btn danger-bordered" (click)="deleteEnterprise(enterprise)">
        Eliminar
      </button>
      <button type="button" class="btn btn-default ovj-btn success-bordered" (click)="editEnterprise(enterprise)">
        Editar
      </button>
      <button type="button" class="btn btn-default ovj-btn orange" (click)="action.next(false)">
        Cerrar
      </button>
    </div>
  </div>
</div>