<div class="card-payment card">
  <div class="card-header">
    <div class="row">
      <div class="col-12 text-center">
        <p class="client-text-800">
          Verifique antes de proceder
        </p>
      </div>
    </div>
  </div>
  <div class="recaptcha-wrapper">
    <re-captcha
      (resolved)="resolved($event)"
      [siteKey]="recaptchaSiteKey">
    </re-captcha>
  </div>
  <div class="card-body">
    <button type="button" class="btn ovj-btn-orange-3 font-weight-bold"
      [disabled]="!recaptchaToken"
      (click)="onSubmit()"
      mdbWavesEffect>
      Confirmar pago
    </button>
  </div>
  <div class="card-header" *ngIf="false">
    <div class="row">
      <div class="col-12 text-center">
        <p class="client-text-800">
          Ingrese el pago realizado
          <br class="d-md-block d-none">
          por el cliente
        </p>
      </div>
    </div>
  </div>
  <div class="card-body mb-3" *ngIf="false">
    <div class="row offset-md-2">
      <div class="card-img col-md-3 col-12 align-self-center text-center mt-md-0 mt-4">
        <img class="mb-2"
          src="assets/icons/client/cash-payment.svg"
          loading="lazy">
      </div>
      <div class="col-md-6 col-12">
        <app-cash-payment-form [amountPaid]="amountPaid" [toPay]="toPay"></app-cash-payment-form>
        <div class="d-flex justify-content-end mt-md-1 mt-2 mb-3">
          <p class="client-text-primary client-text-800"> Total a pagar:&nbsp; </p>
          <p class="amount client-text-dark-primary client-text-large client-text-500"> {{ (toPay) ? toPay : '' }}bs </p>
        </div>
        <button type="button" class="btn ovj-btn-orange-3 font-weight-bold"
          (click)="onSubmit()"
          mdbWavesEffect>
          Confirmar pago
        </button>
      </div>
    </div>      
  </div>
</div>