<div class="modal-wrapper">
  <div class="content">
    <img class="mb-2"
      src="assets/icons/warning-icon.svg"
      loading="lazy">
    <p class="title"> {{ content.heading }} </p>
    <p class="message"> {{ content.description }} </p>
  </div>
  <div class="actions">
    <button class="btn ovj-btn" type="button" (click)="action.next(false)">
      Cancelar
    </button>
    <button class="btn ovj-btn" type="button" (click)="submitSale()">
      Continuar
    </button>
  </div>
</div>