@import 'variables';

.departure-info {
  background-color: $white;
  display: none;
  min-height: 77px;
  padding: 12px;
  p {
    font-style: normal;
    margin-bottom: 0;
  }
  .route {
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 2px;
    b {
      font-weight: bold;
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    p {
      color: $color-333e48;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      margin-bottom: 0;
      &:last-child {
        font-weight: normal;
      }
    }
  }
}
.mobile-reservation-info {
  display: none;
  margin-bottom: 20px;
  width: 100%;
  .status-card {
    align-items: center;
    background: #ffffff;
    display: flex;
    min-height: 67px;
    justify-content: center;
    .seat-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 0.65rem;
      padding: 8px;
      img {
        width: 41px;
      }
      p {
        text-align: center;
        margin-bottom: 0 !important;
        margin-top: 2px;
        &:first-child {
          color: $color-042b63;
          font-size: 11px;
          font-style: normal;
          font-weight: normal;
          line-height: 17px;
          margin-bottom: 0.25rem;

        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.sales-wrapper {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 0 1rem;
  .seating-schema {
    margin: 0 2rem 0 1.75rem;
    width: 25%;
  }
  .main-sale-info {
    width: 75%;
    .to-pay, .confirm-to-pay {
      width: 30%;
      .to-pay-card {
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        min-height: 80px;
        padding: 0.5rem 1rem;
        div {
          display: flex;
          align-items: center;
          &:first-child {
            p {
              font-weight: 500;
              font-size: 10px;
              line-height: 16px;
            }
          }
          &:last-child {
            justify-content: space-between;
            p {
              &:first-child {
                line-height: 40px;
                font-size: 30px;
                font-weight: normal;
              }
            }
            .paid {
              background-color: #ff533d;
              padding: 3px 7px;
              border-radius: 6px;
              p {
                color: $white;
                font-size: 13px;
                font-weight: bold;
                line-height: 140%;
              }
            }
          }
          p {
            font-style: normal;
            margin: 0;
          }
        }
      }
    }
  }
  .reservation-info {
    display: flex;
    width: 100%;
    .seat-status {
      padding-right: 0.35rem;
      width: 70%;
      .status-card {
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        min-height: 80px;
        padding: 0.85rem;
        .seat-item {
          align-items: center;
          display: flex;
          margin-right: 0.65rem;
          img {
            margin-right: 0.25rem;
          }
          p {
            margin: 0;
            &:first-child {
              color: $color-042b63;
              font-size: 13px;
              font-style: normal;
              font-weight: normal;
              line-height: 17px;
              margin-bottom: 0.25rem;

            }
            &:last-child {
              color: $color-333e48;
              font-size: 12px;
              font-style: normal;
              font-weight: 300;
              line-height: 16px;
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .seat-status-2 {
      padding-right: 0.35rem;
      width: 70%;
      .status-card {
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: space-between;
        min-height: 80px;
        padding: 0.85rem 1.25rem;
        .seat-item {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: 0.65rem;
          p {
            margin-bottom: 0 !important;
            margin-top: 5px;
            &:first-child {
              color: $color-042b63;
              font-size: 13px;
              font-style: normal;
              font-weight: normal;
              line-height: 17px;
              margin-bottom: 0.25rem;

            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .sale-info {
    .confirm-invoice-section {
      display: flex;
      .confirm-table {
        padding-right: 0.35rem;
        width: 70%;
      }
      .confirm-to-pay {
        width: 30%;
      }
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      .buttons {
        display: flex;
        .btn {
          width: 190px;
          &:first-child {
            margin-right: 10px;
          }
          &.warning {
            background-color: $color-ffc107;
            color: $black;
          }
          &.success {
            background-color: $color-1ac05c;
          }
          &.danger {
            background-color: $color-b94a3e;
          }
          &.dark-primary {
            background-color: $color-204254;
          }
          &.light-danger {
            background-color: $color-ff533d;
          }
          &.secondary {
            background-color: #6c757d;
          }
        }
      }
    }
    .re-print-actions {
      display: flex;
      .buttons {
        display: flex;
        &:nth-child(2) {
          display: none;
          margin-top: 10px;
        }
        .btn {
          align-items: center;
          background-color: $color-ff533d;
          display: flex;
          font-size: 18px;
          font-style: normal;
          font-weight: normal;
          justify-content: center;
          line-height: 24px;
          width: 190px;
          &.dark {
            background-color: $color-b94a3e;
          }
          img, i.icon {
            margin-right: 5px;
          }
          p {
            margin: 0;
          }
          &:first-child {
            margin-right: 30px;
          }
        }
      }
    }
  }
}
.ticket-wrapper {
  display: none;
  justify-content: center;
  max-height: 1px;
  visibility: hidden;
  width: 0;
}

@media screen and (max-width: $break-large) {
  .departure-info {
    display: block;
  }
  .mobile-reservation-info {
    display: block;
  }
  .sales-wrapper {
    align-items: center;
    flex-direction: column;
    .reservation-info {
      display: none;
      .seat-status {
        .status-card {
          flex-direction: column;
          .seat-item {
            margin-bottom: 0.35rem;
            &:last-child {
              margin-bottom: initial;
            }
          }
        }
      }
    }
    .sale-info {
      .confirm-invoice-section {
        flex-direction: column-reverse;
        .confirm-table {
          padding-right: 0;
          width: 100%;
        }
        .confirm-to-pay {
          width: 100%;
        }
      }
      .actions {
        flex-direction: column;
        .buttons {
          flex-direction: row;
          .btn {
            width: calc(50% - 5px);
            &:first-child {
              margin: 0 5px 0 0;
            }
            &:last-child {
              margin: 0 0 0 5px;
            }
          }
        }
      }
      .re-print-actions {
        flex-direction: column;
        .buttons {
          flex-direction: row;
          &:nth-child(2) {
            display: flex;
          }
          .btn {
            width: calc(50% - 5px);
            &:first-child {
              margin: 0 5px 0 0;
            }
            &:last-child {
              margin: 0 0 0 5px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .sales-wrapper {
    .seating-schema {
      width: 100%;
    }
    .main-sale-info {
      width: 100%;
    }
    .sale-info {
      .actions {
        flex-direction: column;
        .buttons {
          flex-direction: column;
          .btn {
            width: 100%;
            &:first-child {
              margin: 0 0 8px 0;
            }
            &:last-child {
              margin: 0 0 8px 0;
            }
          }
        }
      }
      .re-print-actions {
        .buttons {
          flex-direction: column;
          &:nth-child(2) {
            display: flex;
          }
          .btn {
            width: 100%;
            &:first-child {
              margin: 0 0 10px 0;
            }
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media print {
  .ticket-wrapper {
    display: flex;
    max-height: none;
    visibility: visible;
    width: 40%;
  }
}