@import 'variables';

.custom-card-info {
  .content-item {
    .principal {
      .item-sub-label {
        margin-bottom: 0;
      }
    }
  }
}

.detail {          
  .principal-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    p {
      font-style: normal;
      margin-bottom: 0;
    }
    .sub-row {
      display: flex;
      p {
        width: 25%;
        padding: 2px 8px;
        &:nth-child(1) { width: 30%; }
        &:nth-child(2) { width: 30%; }
        &:nth-child(3) { width: 20%; }
        &:nth-child(4) { width: 20%; }
      }
      &:first-child {
        align-items: flex-end;
        color: $black;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
      }
      &:last-child {
        align-items: flex-start;
        color: $color-042b63;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        p {
          &:first-child {
            font-size: 64px;
            line-height: 75px;
            margin-top: -10px;
          }
        }
      }
    }
  }
  .secondary-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
    p {
      font-style: normal;
      margin-bottom: 0;
    }
    .sub-row { 
      display: flex;
      p {
        width: 33.33px;
        padding: 2px 8px;
        &:nth-child(1) { width: 33.33%; }
        &:nth-child(2) { width: 33.33%; }
        &:nth-child(3) { width: 33.33%; }
      }
      &:first-child {
        align-items: flex-end;
        color: $black;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
      }
      &:last-child {
        align-items: flex-start;
        color: $color-042b63;
        font-size: 17px;
        font-weight: normal;
        line-height: 21px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.contacts-title {
  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }
}
.reference-contacts {
  padding: 0 5px;
  .contact {
    align-items: center;
    display: flex;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    .driver-img {
      height: 40px;
      margin-right: 10px;
      width: 40px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .driver-info {
      display: flex;
      flex-direction: column;
      p {
        font-style: normal;
        margin-bottom: 0;
        &:first-child {
          color: $color-042b63;
          font-size: 18px;
          font-weight: normal;
          line-height: 21px;
        }
        &:last-child {
          color: $color-666666;
          font-size: 18px;
          font-weight: 300;
          line-height: 21px;
        }
      }
    }
  }
}