@import 'variables';

.bank-account-form {
  border: 1px solid $color-c4c4c4;
  border-radius: 10px;
  padding: 12px 15px;
  position: relative;
  .delete-bank-account-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    i {
      font-size: 12px;
    }
  }
}