<form class="bank-account-form" autocomplete="off" [formGroup]="accountGroup" [ngClass]="{'mt-3': !first}">
  <button type="button" class="delete-bank-account-btn btn btn-default" (click)="removeBankAccount()" *ngIf="!first">
    <i class="icon icon-cross"></i>
  </button>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Nombre de Banco <span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          formControlName="bankName"
          [ngClass]="{'is-invalid': submitted && accountForm.bankName.errors}">
          <ng-option *ngFor="let bank of banks" [value]="bank.name">
            {{ bank.name }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="accountForm.bankName.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label"> Número de cuenta bancaria <span class="text-danger">*</span></label>
        <input type="number" class="form-control ovj-input" formControlName="accountNumber"
          [ngClass]="{'is-invalid': submitted && accountForm.accountNumber.errors}"
          autocomplete="no" (keydown)="numberInputValidator($event)">
        <div class="invalid-feedback" *ngIf="accountForm.accountNumber.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="accountForm.accountNumber.errors?.min">Mínimo de 4 números</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label">Moneda <span class="text-danger">*</span></label>
        <ng-select class="form-control ovj-select"
          formControlName="currency"
          [searchable]="false"
          [ngClass]="{'is-invalid': submitted && accountForm.currency.errors}">
          <ng-option *ngFor="let key of currenciesEnumKeys" [value]="currenciesEnum[key]">
            {{ currenciesEnum[key] }}
          </ng-option>
        </ng-select>
        <div class="invalid-feedback" *ngIf="accountForm.currency.errors?.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label"> Nombre de titular de la cuenta <span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="accountOwnerName"
          [ngClass]="{'is-invalid': submitted && accountForm.accountOwnerName.errors}">
        <div class="invalid-feedback" *ngIf="accountForm.accountOwnerName.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="accountForm.accountOwnerName.errors?.minlength">Mínimo de 4 caracteres</div>
      </div>
    </div>
  </div>
</form>