<section class="offices">
  <div class="container">
    <div class="header row">
      <div class="title col-3">
        <p> Oficinas </p>
      </div>
      <div class="add-button col-3">
        <button type="button" class="ovj-btn orange btn btn-default"
          (click)="addOffice()">
          <i class="icon icon-plus"></i>
          <p> Añadir oficina </p>
        </button>
      </div>
    </div>
    <div class="content row">
      <div class="col-7">
        <div class="ovj-custom-table">
          <table>
            <thead>
              <tr>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow"></i>
                  <p> Nombre de oficina </p>
                </div> </th>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow mr-1"></i>
                  <p> Departamento </p>
                </div> </th>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow mr-1"></i>
                  <p> Dirección </p>
                </div> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="loadingOffices">
                <td colspan="3">
                  <app-spinner-small></app-spinner-small>
                </td>
              </tr>
              <ng-container *ngIf="!loadingOffices">
                <tr *ngFor="let office of offices; let i=index; let first=first"
                  [ngClass]="{'selected': office.officeId === selectedOffice?.officeId}"
                  (click)="selectOffice(office)">
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <div class="office-info">
                      <div class="td-icon-wrapper">
                        <i class="icon icon-business"></i>
                      </div>
                      <p> {{ office.name }} </p>
                    </div>
                  </td>
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <p> {{ office.department }} </p>
                  </td>
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <p> {{ office.address }} </p>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="paginator">
            <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
              [page]="paginationMeta?.currentPage"
              [boundaryLinks]="true"
              (pageChange)="pageChange($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="custom-card-info">
          <div class="unselected-element header-item" *ngIf="!selectedOffice">
            <div class="icon-wrapper">
              <i class="icon icon-business"></i>
            </div>
            <p> Seleccione un oficina para visualizarla </p>
          </div>
          <div class="selected-element content-item" *ngIf="selectedOffice">
            <div class="principal">
              <div class="icon-wrapper">
                <i class="icon icon-business"></i>
              </div>
              <p class="item-label"> {{ selectedOffice.name }} </p>
              <p class="item-sub-label"> {{ selectedOffice.type }} </p>
              <div class="actions">
                <button class="btn btn-default ovj-btn dark-orange-bordered" (click)="deleteOffice(selectedOffice)">
                  Eliminar
                </button>
                <button class="ovj-btn btn btn-default orange" (click)="editOffice(selectedOffice)">
                  Editar
                </button>
              </div>
            </div>
            <div class="detail mt-4">
              <div class="custom-row">
                <div class="sub-row">
                  <p> Nombres de Oficina </p>
                  <p> Tipo de oficina </p>
                </div>
                <div class="sub-row">
                  <p> {{ selectedOffice.name }} </p>
                  <p> {{ selectedOffice.type }} </p>
                </div>
              </div>
              <div class="custom-row">
                <div class="sub-row">
                  <p> Departamento </p>
                  <p> Parada </p>
                </div>
                <div class="sub-row">
                  <p> {{ selectedOffice.department }} </p>
                  <p> ??? </p>
                </div>
              </div>
              <div class="item-info mt-4">
                <p> Fecha cambio de llave de dosificación </p>
                <p> {{ (selectedOffice.dosage) ?
                       (selectedOffice.dosage.emissionTimeLimit | formatDate) :
                       'Sin dosificación' }} </p>
              </div>
              <div class="item-info">
                <p> Dirección </p>
                <p> {{ selectedOffice.address }} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-items-table row">
      <div class="col-12">
        <div class="header">
          <div class="header-element">
            <p> Nombre de oficina </p>
          </div>
        </div>
        <div class="card-item" *ngIf="loadingOffices">
          <app-spinner-small></app-spinner-small>
        </div>
        <ng-container *ngIf="!loadingOffices">
          <div class="card-item" *ngFor="let office of offices; let i=index; let first=first"
            (click)="showDetail(office)">
            <div class="item">
              <div class="custom-row">
                <div class="td-icon-wrapper">
                  <i class="icon icon-business"></i>
                </div>
                <p> {{ office.name }} </p>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="paginator">
          <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
            [page]="paginationMeta?.currentPage"
            [boundaryLinks]="true"
            (pageChange)="pageChange($event)">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="mobile-floating-btn ovj-btn-circle options-btn btn btn-default"
    (click)="addOffice()">
    <i class="icon icon-plus-2"></i>
  </button>
</section>
