<form class="col-lg mt-4 px-0" autocomplete="off" [formGroup]="physicalCommissionGroup">
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="md-form">
        <ng-select mdbInput
          id="physicalCommissionType"
          class="ovj-input"
          labelForId="physicalCommissionType"
          formControlName="type"
          #phyisicalCommissionTypeSelect>
          <ng-option *ngFor="let key of commissionTypeEnumKeys" [value]="commissionTypeEnum[key]">
            {{ commissionTypeEnum[key] }}
          </ng-option>
        </ng-select>
        <label for="physicalCommissionType" class="ovj-label ng-select-label"
          [ngClass]="{'valid': physicalCommissionForm.type.value?.toString().length > 0}"
          (click)="phyisicalCommissionTypeSelect.open()">
          Tipo de operación <span class="text-danger">*</span>
        </label>
        <div *ngIf="submitted && physicalCommissionForm.type.errors" class="">
          <mdb-error *ngIf="physicalCommissionForm.type.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="row">
        <div class="col-4">
          <div class="md-form">
            <input mdbInput type="number" id="physicalCommisionValue" class="form-control ovj-input" formControlName="value"
              autocomplete="no" (keydown)="numberInputValidator($event)">
            <label for="physicalCommisionValue" class="ovj-label">Valor<span class="text-danger">*</span></label>
            <div *ngIf="submitted && physicalCommissionForm.value.errors" class="">
              <mdb-error *ngIf="physicalCommissionForm.value.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="md-form">
            <ng-select mdbInput
              id="physicalCommissionOperationType"
              class="ovj-input"
              labelForId="physicalCommissionOperationType"
              formControlName="operationType"
              #physicalCommissionOperationTypeSelect>
              <ng-option *ngFor="let key of commissionOperationTypeEnumKeys" [value]="commissionOperationTypeEnum[key]">
                {{ commissionOperationTypeEnum[key] }}
              </ng-option>
            </ng-select>
            <label for="physicalCommissionOperationType" class="ovj-label ng-select-label"
              [ngClass]="{'valid': physicalCommissionForm.operationType.value?.toString().length > 0}"
              (click)="physicalCommissionOperationTypeSelect.open()">
              Tipo de comisión<span class="text-danger">*</span>
            </label>
            <div *ngIf="submitted && physicalCommissionForm.operationType.errors" class="">
              <mdb-error *ngIf="physicalCommissionForm.operationType.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>