@import 'variables';

.spinner-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  padding-top: 4rem;
  .spinner-border {
    color: $color-1763d1;
    height: 75px;
    width: 75px;
  }
  p {
    color: $color-1763d1;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    margin-top: 0.5rem;
  }
}