<button type="button" class="close-modal-btn btn btn-default" (click)="action.next(false)">
  <i class="fas fa-times fa-lg"></i>
</button>
<div class="printing-sale-section">
  <div class="ticket-wrapper">
    <div id="pdfInvoiceTicket" class="ticket">
      <app-default-invoice [paymentMethod]="state"></app-default-invoice>
    </div>
    <div id="pdfQuoteTicket" class="ticket" *ngIf="false">
      <app-default-quote [paymentMethod]="state"></app-default-quote>
    </div>
  </div>
  <div class="actions">
    <button class="btn ovj-btn" type="button" (click)="printTicket()">
      Detalle
    </button>
    <button class="btn ovj-btn" type="button" (click)="action.next(false)">
      Cancelar
    </button>
  </div>
</div>