@import 'variables';

.office-admins {
  p {
    margin-bottom: 0;
    font-style: normal;
  }
  .header {
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    .title {
      p {
        color: $color-042b63;
        font-size: 36px;
        font-weight: 500;
        line-height: 24px;
      }
    }
    .add-button {
      display: flex;
      justify-content: flex-end;
      .btn {
        align-items: center;
        display: flex;
        justify-content: center;
        min-width: 225px;
        i.icon {
          font-size: 18px;
          font-weight: bolder;
          margin-right: 10px;
          &::before {
            color: $white;
          }
        }
      }
    }
  }
  .content {
    margin-top: 12px;
    margin-bottom: 30px;
    p {
      font-style: normal;
      margin-bottom: 0;
    }
    .ovj-custom-table {
      tbody {
        tr {
          td {
            .office-admin-info {
              align-items: center;
              display: flex;
              img {
                height: 48px;
                margin-right: 5px;
                width: 48px;
              }
            }
            &:first-child {
              p {
                font-size: 16px;
                font-style: normal;
                font-weight: normal;
                line-height: 21px;
              }
            }
            &:nth-child(2) {
              p {
                color: $color-666666;
                font-size: 16px;
                font-style: normal;
                font-weight: normal;
                line-height: 19px;
              }
            }
          }
        }
      }
    }
    .custom-card-info {
      .selected-element {
        .detail {
          .info-item {
            p {
              font-style: normal;
              margin-bottom: 0;
              &:first-child {
                color: $black;
                font-size: 12px;
                font-weight: normal;
                line-height: 16px;
              }
              &:last-child {
                color: $color-042b63;
                font-size: 16px;
                font-weight: normal;
                line-height: 24px;
              }
            }
            &:last-child {
              margin-top: 10px;
              p {
                &:last-child {
                  color: $color-666666;
                  font-size: 18px;
                  font-weight: 300;
                  line-height: 21px;
                }
              }
            }
          }
        }
        .contacts-title {
          p {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px;
          }
        }
        .reference-contacts {
          padding: 0 5px;
          .contact {
            align-items: center;
            display: flex;
            margin-bottom: 8px;
            &:last-child {
              margin-bottom: 0;
            }
            .driver-img {
              height: 40px;
              margin-right: 10px;
              width: 40px;
              img {
                height: 100%;
                width: 100%;
              }
            }
            .driver-info {
              display: flex;
              flex-direction: column;
              p {
                font-style: normal;
                margin-bottom: 0;
                &:first-child {
                  color: $color-042b63;
                  font-size: 18px;
                  font-weight: normal;
                  line-height: 21px;
                }
                &:last-child {
                  color: $color-666666;
                  font-size: 18px;
                  font-weight: 300;
                  line-height: 21px;
                }
              }
            }
          }
        }
      }
    }
  }
  .mobile-items-table {
    display: none;
    .header {
      .header-element {
        &:first-child {
          width: 100%;
        }
      }
    }
    .card-item {
      background-color: $white;
      border-radius: 10px;
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      margin-bottom: 3px;
      padding: 15px 15px;
      &:last-child {
        margin-bottom: 0;
      }
      .item {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding: 0 8px;
        p {
          font-style: normal;
          margin-bottom: 0;
          &:first-child {
            color: $color-042b63;
            font-size: 18px;
            font-weight: normal;
            line-height: 21px;
            margin-bottom: 5px;
          }
          &:last-child {
            color: $color-666666;
            font-size: 18px;
            font-weight: 300;
            line-height: 21px;
          }
        }
      }
    }
  }
}

app-spinner-small {
  ::ng-deep{
    .spinner-container{
      min-height: 30vh;
      margin-bottom: 15vh;
    }
  }
}

@media screen and (max-width: $break-large) {
  .office-admins {
    .header {
      .title {
        p {
          color: $color-3c64b1;
          font-size: 36px;
          font-weight: 500;
          line-height: 24px;
        }
      }
      .add-button {
        display: none;
      }
    }
    .content {
      display: none;
    }
    .mobile-items-table {
      display: flex;
    }
  }
}