<section>
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/oviajamos-banner.svg"
          loading="lazy">
        <p class="title m-0"> Administrador de Oficina </p>
      </div>
    </div>
    <button class="btn ovj-btn-add-item border px-2 mt-3" (click)="addSecretary(true)">
      <div class="add-item-content d-flex align-items-center">
        <div class="rounded-circle">
          <img class="rounded-circle"
            src="assets/icons/add-icon-2.svg"
            loading="lazy">
        </div>
        <p>Añadir a administrador de oficina</p>
      </div>
    </button>
    <div class="row">
      <div class="col-12">
        <app-spinner-small *ngIf="loadingSecretaries"></app-spinner-small>
        <table class="ovj-desktop-table table-responsive-lg" *ngIf="!loadingSecretaries">
          <thead>
          <tr>
            <th *ngFor="let col of colsTable; let index=index" (click)="orderTableBy(index)">
              <img src="assets/icons/order-arrow-down-enabled.svg"
                *ngIf="col.orderBy"
                loading="lazy">
              <img src="assets/icons/order-arrow-down-disabled.svg"
                *ngIf="!col.orderBy"
                loading="lazy">
              <img [src]="col.extraImg"
                *ngIf="col.extraImg"
                loading="lazy">
                {{col.name}}
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let index=index; let secretary of secretaries | paginate: {id: 'pag', itemsPerPage: 7, currentPage: pageActual}">
            <tr class="ovj-tr btn border shadow-sm" (click)="showDetail(secretary, $event)">
              <td>
                <div class="d-flex align-items-center">
                  <img class="td-image rounded-circle"
                    [src]="secretary.user.imageUrl"
                    loading="lazy">
                  <p class="ovj-text-primary">{{secretary.user.name}} {{secretary.user.lastName}}</p>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="text-muted"> +591 </span>
                  <p>{{secretary.user.phone}}</p>
                </div>
              </td>
              <td>
                <p class="text-muted">{{secretary.user.address}}</p>
              </td>
              <td>
                <div class="d-flex align-items-center justify-content-end" *ngIf="!modifying.includes(secretary.secretaryId)">
                  <button type="button" class="td-circle-btn btn btn-default btn-circle btn-lg mr-1">
                    <img src="assets/icons/collapse-icon.svg"
                      *ngIf="secretary.showDetail"
                      loading="lazy">
                    <img src="assets/icons/collapse-toggle-icon.svg"
                      *ngIf="!secretary.showDetail"
                      loading="lazy">
                  </button>
                  <div class="btn-group" mdbDropdown>
                    <button mdbDropdownToggle
                      type="button"
                      class="ovj-btn-circle options-btn btn btn-default"
                      (click)="$event.preventDefault()">
                      <div class="rounded-circle">
                        <img src="assets/icons/options-icon.svg" loading="lazy">
                      </div>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" (click)="editSecretary(secretary); $event.preventDefault()">
                        Editar
                      </a>
                      <a class="dropdown-item" (click)="deleteSecretary(secretary); $event.preventDefault()">
                        Eliminar
                      </a>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-end align-items-center pr-2" *ngIf="modifying.includes(secretary.secretaryId)">
                  <div class="spinner-border spinner-btn ovj-primary-spinner" role="status"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <div class="ovj-tr-detail rounded shadow-sm border" [ngClass]="{'show': secretary.showDetail}">
                  <h6 class="detail-title font-weight-bold" *ngIf="secretary.referenceContact.length > 0">
                    Contactos
                  </h6>
                  <div class="row align-items-center" *ngIf="secretary.referenceContact.length > 0">
                    <div class="col-lg text-center mb-3 pl-1" *ngFor="let contact of secretary.referenceContact | slice:0:3">
                      <div class="d-flex justify-content-center">
                        <img src="assets/icons/person-circle-1.svg" loading="lazy">
                        <div class="text-left pl-1">
                          <span class="ovj-text-primary">{{contact.fullName}}</span>
                          <div class="d-flex align-items-center">
                            <span class="text-muted"> +591 </span>
                            <span class="pl-1">{{contact.phone}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ovj-tr-more-detail p-0" [ngClass]="{'show': secretary.showMoreDetail}">
                    <ng-container *ngFor="let contact of secretary.referenceContact; let index=index">
                      <div class="row justify-content-center" *ngIf="index % 3 == 0 && index > 2">
                        <div class="col-lg text-left mb-3 pl-1" *ngFor="let rowContact of secretary.referenceContact| slice:index:index+3">
                          <div class="d-flex justify-content-center" *ngIf="rowContact">
                            <img src="assets/icons/person-circle-1.svg" loading="lazy">
                            <div>
                              <span class="ovj-text-primary">{{rowContact.fullName}}</span>
                              <div class="d-flex align-items-center">
                                <span class="text-muted"> +591 </span>
                                <span class="pl-1">{{rowContact.phone}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <ng-container *ngIf="secretary.referenceContact.length > 3">
                    <div class="detail-actions">
                      <a class="d-flex align-items-center justify-content-center"
                         (click)="secretary.showMoreDetail = true" *ngIf="!secretary.showMoreDetail">
                        <p>Ver más</p><i class="fa fa-angle-down"></i>
                      </a>
                      <a class="d-flex align-items-center justify-content-center"
                         (click)="secretary.showMoreDetail = false" *ngIf="secretary.showMoreDetail">
                        <p>Ver menos</p> <i class="fa fa-angle-up"></i>
                      </a>
                    </div>
                  </ng-container>
                  <div class="my-3 text-muted" *ngIf="secretary.referenceContact.length == 0">
                    Sin contactos
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pagination">
    <pagination-controls  id="pag"
      (pageChange)="pageActual = $event"
      (pageBoundsCorrection)="pageActual = $event"
      maxSize="7"
      directionLinks="true"
      autoHide="true"
      responsive="true"
      previousLabel="Anterior"
      nextLabel="Siguiente"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
      *ngIf="!loadingSecretaries">
    </pagination-controls>
  </div>
</section>
