<section class="office-admins">
  <div class="container">
    <div class="header row">
      <div class="title col-3">
        <p> Administradores </p>
      </div>
      <div class="add-button col-3">
        <button type="button" class="ovj-btn orange btn btn-default"
          (click)="addOfficeAdmin()">
          <i class="icon icon-plus"></i>
          <p> Añadir administrador </p>
        </button>
      </div>
    </div>
    <div class="content row">
      <div class="col-7">
        <div class="ovj-custom-table">
          <table>
            <thead>
              <tr>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow"></i>
                  <i class="icon icon-person mx-1"></i>
                  <p> Nombre y apellido </p>
                </div> </th>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow mr-1"></i>
                  <p> Celular </p>
                </div> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="loadingOfficeAdmins">
                <td colspan="2">
                  <app-spinner-small></app-spinner-small>
                </td>
              </tr>
              <ng-container *ngIf="!loadingOfficeAdmins">
                <tr *ngFor="let officeAdmin of officeAdmins; let i=index; let first=first"
                  [ngClass]="{'selected': officeAdmin.secretaryId === selectedOfficeAdmin?.secretaryId}"
                  (click)="selectOfficeAdmin(officeAdmin)">
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <div class="office-admin-info">
                      <img class="rounded-circle"
                        [src]="officeAdmin.user.imageUrl"
                        loading="lazy">
                      <p> {{ officeAdmin.user.name }} {{ officeAdmin.user.lastName }} </p>
                    </div>
                  </td>
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <p> {{officeAdmin.user.phone}} </p>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="paginator">
            <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
              [page]="paginationMeta?.currentPage"
              [boundaryLinks]="true"
              (pageChange)="pageChange($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="custom-card-info">
          <div class="unselected-element header-item" *ngIf="!selectedOfficeAdmin">
            <img src="assets/images/unselected-office-admin.svg" loading="lazy">
            <p> Seleccione un administrador para visualizar </p>
          </div>
          <div class="selected-element content-item" *ngIf="selectedOfficeAdmin">
            <div class="principal">
              <img class="item-img"
                [src]="selectedOfficeAdmin.user.imageUrl"
                loading="lazy">
              <p class="item-label"> {{ selectedOfficeAdmin.user.name }} {{ selectedOfficeAdmin.user.lastName }} </p>
              <p class="item-sub-label"> {{ selectedOfficeAdmin.user.phone }} </p>
              <p class="item-sub-label"> {{ selectedOfficeAdmin.user.email }} </p>
              <div class="actions">
                <button class="btn btn-default ovj-btn dark-orange-bordered" (click)="deleteOfficeAdmin(selectedOfficeAdmin)">
                  Eliminar
                </button>
                <button class="ovj-btn btn btn-default orange" (click)="editOfficeAdmin(selectedOfficeAdmin)">
                  Editar
                </button>
              </div>
            </div>
            <div class="detail mt-4">
              <div class="info-item">
                <p> CI </p>
                <p> {{ selectedOfficeAdmin.documentNumber }} </p>
              </div>
              <div class="info-item">
                <p> Dirección de Domicilio </p>
                <p> {{ selectedOfficeAdmin.user.address }} </p>
              </div>
            </div>
            <div class="divider mt-4 mb-3"></div>
            <div class="contacts-title mt-2">
              <p> Contactos de referencia </p>
            </div>
            <div class="reference-contacts mt-3 mb-2">
              <div class="contact">
                <div class="driver-img">
                  <img src="assets/icons/person-circle-1.svg" loading="lazy">
                </div>
                <div class="driver-info">
                  <p> Armanda Almanza </p>
                  <p> 77777777 </p>
                </div>
              </div>
              <div class="contact">
                <div class="driver-img">
                  <img src="assets/icons/person-circle-1.svg" loading="lazy">
                </div>
                <div class="driver-info">
                  <p> Armanda Almanza </p>
                  <p> 77777777 </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-items-table row">
      <div class="col-12">
        <div class="header">
          <div class="header-element">
            <p> Nombre </p>
          </div>
        </div>
        <div class="card-item" *ngIf="loadingOfficeAdmins">
          <app-spinner-small></app-spinner-small>
        </div>
        <ng-container *ngIf="!loadingOfficeAdmins">
          <div class="card-item" *ngFor="let officeAdmin of officeAdmins; let i=index; let first=first"
            (click)="showDetail(officeAdmin)">
            <div class="item">
              <p> {{ officeAdmin.user.name }} {{ officeAdmin.user.lastName }} </p>
              <p> {{ officeAdmin.user.phone }} </p>
            </div>
          </div>
        </ng-container>
        <div class="paginator">
          <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
            [page]="paginationMeta?.currentPage"
            [boundaryLinks]="true"
            (pageChange)="pageChange($event)">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="mobile-floating-btn ovj-btn-circle options-btn btn btn-default"
    (click)="addOfficeAdmin()">
    <i class="icon icon-plus-2"></i>
  </button>
</section>