@import 'variables';

.card-payment {
  border-radius: 6px !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 7%) !important;
  p {
    margin: 0;
  }
  .card-header {
    background-color: $color-1763d1 !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: $white;
    padding: 1rem 1.25rem 0.6rem 1.25rem;
  }
  .card-body {
    .card-img {
      img {
        width: 100%;
      }
    }
    .to-pay {
      .amount {
        line-height: 23px;
      }
    }
    .btn {
      width: 100%;
    }
  }
}

@media screen and (max-width: $break-small) {
  .card-payment {
    .card-body {
      .card-img {
        margin-top: 0.75rem;
        position: relative;
        img {
          width: initial;
        }
        .abs-img {
          left: calc(50% - 59px);
          position: absolute;
          top: 68%;
        }
      }
    }
  }
}