<form class="oviajamos-form m-0 p-0" autocomplete="off" [formGroup]="receiverGroup">
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label"> CI <span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="documentNumber"
          [ngClass]="{'is-invalid': submitted && senderForm.documentNumber.errors}">
        <div class="invalid-feedback" *ngIf="senderForm.documentNumber.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="senderForm.documentNumber.errors?.minlength">Mínimo de 4 caracteres</div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label"> Nombre de receptor/consignatario <span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="receiverName"
          [ngClass]="{'is-invalid': submitted && senderForm.receiverName.errors}">
        <div class="invalid-feedback" *ngIf="senderForm.receiverName.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="senderForm.receiverName.errors?.minlength">Mínimo de 4 caracteres</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="ovj-form">
        <label class="ovj-label"> Celular </label>
        <input type="number" class="form-control ovj-input" formControlName="phone"
          [ngClass]="{'is-invalid': submitted && senderForm.phone.errors}"
          autocomplete="no" (keydown)="numberInputValidator($event)">
        <div class="invalid-feedback" *ngIf="senderForm.phone.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="senderForm.phone.errors?.min">Mínimo de 4 números</div>
      </div>
    </div>
  </div>

</form>