<app-spinner *ngIf="ticketPurchaseService.loadingSteperContent"></app-spinner>
<div class="container" *ngIf="!ticketPurchaseService.loadingSteperContent">
  <div class="row">
    <div class="col-12 mt-3">
      <app-ticket-purchase-travel-card [departure]="departure"
        [selectedSeats]="selectedSeats"
        class="d-md-block d-none">
      </app-ticket-purchase-travel-card>
      <app-multi-passenger-data-form [selectedSeats]="selectedSeats"
        [ticketsPaidFormArray]="ticketsPaidFormArray"
        (onSubmitEvent)="onSubmit($event)">
      </app-multi-passenger-data-form>
    </div>
  </div>
</div>