@import 'variables';

table.travel-routes {
  tbody {
    .travel-route-origin {
      &.without-intermediates {
        cursor: default;
      }
    }
    .travel-route-destiny {
      &.without-intermediates {
        cursor: default;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
}