<section class="travel-routes">
  <div class="container">
    <div class="header row">
      <div class="title col-3">
        <p> Rutas </p>
      </div>
      <div class="add-button col-3">
        <button type="button" class="ovj-btn orange btn btn-default"
          (click)="addRoute()">
          <i class="icon icon-plus"></i>
          <p> Añadir ruta </p>
        </button>
      </div>
    </div>
    <div class="content row">
      <div class="col-7">
        <div class="ovj-custom-table">
          <table>
            <thead>
              <tr>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow mr-1"></i>
                  <p> Origen </p>
                </div> </th>
                <th> <div class="header-element">
                  <i class="icon icon-sort-arrow mr-1"></i> 
                  <p> Destino </p>
                </div> </th>
                <th> <div class="header-element"> <p> Estimación </p> </div> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="loadingTravelRoutes">
                <td colspan="3">
                  <app-spinner-small></app-spinner-small>
                </td>
              </tr>
              <ng-container *ngIf="!loadingTravelRoutes">
                <tr *ngFor="let route of routes; let i=index; let first=first"
                  [ngClass]="{'selected': route.routeId === selectedRoute?.routeId}"
                  (click)="selectRoute(route)">
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <p> <span> De: </span> {{route.source.name}} </p>
                  </td>
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <p> <span> A: </span> {{route.destination.name}} </p>
                  </td>
                  <td>
                    <div class="top-shadow" *ngIf="first"></div>
                    <p> --:--Hrs </p>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="paginator">
            <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
              [page]="paginationMeta?.currentPage"
              [boundaryLinks]="true"
              (pageChange)="pageChange($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="custom-card-info">
          <div class="unselected-element header-item" *ngIf="!selectedRoute">
            <img src="assets/images/unselected-route.svg" loading="lazy">
            <p> Seleccione una ruta para visualizarla </p>
          </div>
          <div class="selected-element content-item" *ngIf="selectedRoute">
            <div class="principal">
              <img class="item-img"
                [src]="selectedRoute.destination.imageUrl"
                loading="lazy">
              <p class="item-label"> {{selectedRoute.source.name}} - {{selectedRoute.destination.name}} </p>
              <div class="actions">
                <button class="btn btn-default ovj-btn dark-orange-bordered" (click)="deleteRoute(selectedRoute)">
                  Eliminar
                </button>
                <button class="ovj-btn-orange-2 btn btn-default" (click)="editRoute(selectedRoute)">
                  Editar
                </button>
              </div>
            </div>
            <div class="divider"></div>
            <div class="detail">
              <p class="title"> Detalle de ruta </p>
              <div class="source bus-stop">
                <div class="trace-line"></div>
                <div class="trace">
                  <div class="img-wrapper">
                    <img [src]="selectedRoute.source.imageUrl" loading="lazy">
                  </div>
                  <div class="info">
                    <p> Origen </p>
                    <p> {{ selectedRoute.source.name }} </p>
                  </div>
                </div>
              </div>
              <div class="destination bus-stop">
                <div class="trace">
                  <div class="img-wrapper">
                    <img [src]="selectedRoute.destination.imageUrl" loading="lazy">
                  </div>
                  <div class="info">
                    <p> Origen </p>
                    <p> {{ selectedRoute.destination.name }} </p>
                  </div>
                </div>
                <div class="estimation">
                  <p> Estimación: </p>
                  <p> --:-- </p>
                </div>
              </div>
              <div class="divider"></div>
              <p class="desc-title"> Descripción de la Ruta </p>
              <p class="desc-content"> ({{ selectedRoute.description || 'Sin descripción' }}) </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-items-table row">
      <div class="col-12">
        <div class="header">
          <div class="header-element">
            <p> Nombre ruta </p>
          </div>
          <div class="header-element">
            <p> Estimación </p>
          </div>
        </div>
        <div class="card-item" *ngIf="loadingTravelRoutes">
          <app-spinner-small></app-spinner-small>
        </div>
        <ng-container *ngIf="!loadingTravelRoutes">
          <div class="card-item" *ngFor="let route of routes; let i=index; let first=first"
            (click)="showDetail(route)">
            <div class="item">
              <div class="bus-stop">
                <p> De: </p>
                <p> {{ route.source.name }} </p>
              </div>
            </div>
            <div class="item">
              <div class="bus-stop">
                <p> A: </p>
                <p> {{ route.destination.name }} </p>
              </div>
              <div class="estimation">
                <p> --:--Hrs </p>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="paginator">
          <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
            [page]="paginationMeta?.currentPage"
            [boundaryLinks]="true"
            (pageChange)="pageChange($event)">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="mobile-floating-btn ovj-btn-circle options-btn btn btn-default"
    (click)="addRoute()">
    <i class="icon icon-plus-2"></i>
  </button>
</section>