<section class="travel-routes">
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/oviajamos-banner.svg"
          loading="lazy">
        <p class="title m-0">Rutas</p>
      </div>
    </div>
    <button class="btn ovj-btn-add-item border px-2 mt-3"
      (click)="addRoute()">
      <div class="add-item-content d-flex align-items-center">
        <div class="rounded-circle">
          <img class="rounded-circle"
            src="assets/icons/add-icon-2.svg"
            loading="lazy">
        </div>
        <p>Añadir Rutas</p>
      </div>
    </button>
    <div class="row">
      <div class="col-12">
        <app-spinner-small *ngIf="loadingTravelRoutes"></app-spinner-small>
        <table class="ovj-desktop-table travel-routes table-responsive-lg" *ngIf="!loadingTravelRoutes">
          <thead>
          <tr>
            <th *ngFor="let col of colsTable; let index=index"
              (click)="orderTableBy(index)">
              <img src="assets/icons/order-arrow-down-enabled.svg"
                *ngIf="col.orderBy"
                loading="lazy">
              <img src="assets/icons/order-arrow-down-disabled.svg"
                *ngIf="!col.orderBy"
                loading="lazy">
              <img [src]="col.extraImg"
                *ngIf="col.extraImg"
                loading="lazy">
              {{col.name}}
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let index=index; let route of routes | paginate: {id: 'pag', itemsPerPage: 7, currentPage: pageActual}">
            <tr class="ovj-tr travel-route-origin btn shadow-sm"
              (click)="showDetail(route, $event)"
              [ngClass]="{'without-intermediates': route.intermediateRoutes.length === 0}">
              <td>
                <div class="d-flex align-items-center">
                  <img class="td-image rounded-circle"
                    [src]="route.source.imageUrl"
                    loading="lazy">
                  <div class="ovj-text-primary d-flex align-items-center">
                    <p class="ovj-text-xs text-muted">De:</p>
                    <p>{{route.source.name}}</p>
                  </div>
                </div>
              </td>
              <td>
              </td>
              <td>
                <p class="text-muted font-italic">
                </p>
              </td>
              <td>
                <div class="d-flex align-items-center justify-content-end" *ngIf="!modifying.includes(route.routeId)">
                  <button type="button" class="toggle-tbn td-circle-btn btn btn-default btn-circle btn-lg mr-1"
                    [disabled]="route.intermediateRoutes.length === 0">
                    <img src="assets/icons/collapse-icon.svg"
                      *ngIf="route.showDetail"
                      loading="lazy">
                    <img src="assets/icons/collapse-toggle-icon.svg"
                      *ngIf="!route.showDetail"
                      loading="lazy">
                  </button>
                  <div class="btn-group" mdbDropdown>
                    <button mdbDropdownToggle
                      type="button"
                      class="ovj-btn-circle options-btn btn btn-default"
                      (click)="$event.preventDefault()">
                      <div class="rounded-circle">
                        <img src="assets/icons/options-icon.svg" loading="lazy">
                      </div>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" (click)="editRoute(route); $event.preventDefault();">
                        Editar
                      </a>
                      <a class="dropdown-item" (click)="deleteRoute(route); $event.preventDefault();">
                        Eliminar
                      </a>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-end align-items-center pr-2" *ngIf="modifying.includes(route.routeId)">
                  <div class="spinner-border spinner-btn ovj-primary-spinner" role="status"></div>
                </div>
              </td>
            </tr>
            <ng-container *ngFor="let intermediateRoute of route.intermediateRoutes">
              <tr class="ovj-tr travel-route-stand btn shadow-sm" *ngIf="route.showDetail">
                <td>
                  <div class="stand-container d-flex align-items-center">
                    <img class="td-image rounded-circle"
                      [src]="intermediateRoute.destination.imageUrl"
                      loading="lazy">
                    <p class="stand-name ovj-text-primary">{{intermediateRoute.destination.name}}</p>
                  </div>
                </td>
                <td>
                  <p class="ovj-text-primary">
                    {{intermediateRoute.timeEstimation}}Hrs
                  </p>
                </td>
                <td></td>
                <td></td>
              </tr>
            </ng-container>
            <tr class="ovj-tr travel-route-destiny btn shadow-sm"
              (click)="showRouteDetail(index)"
              [ngClass]="{'without-intermediates': route.intermediateRoutes.length === 0}">
              <td>
                <div class="destiny-container d-flex align-items-center">
                  <img class="td-image rounded-circle"
                    [src]="route.destination.imageUrl"
                    loading="lazy">
                  <div class="ovj-text-primary d-flex align-items-center">
                    <p class="ovj-text-xs text-muted">A:</p>
                    <p>{{route.destination.name}}</p>
                  </div>
                </div>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="empty-for-shadow" colspan="4">
                <div class="shadow"></div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pagination">
    <pagination-controls  id="pag"
      (pageChange)="pageActual = $event"
      (pageBoundsCorrection)="pageActual = $event"
      maxSize="7"
      directionLinks="true"
      autoHide="true"
      responsive="true"
      previousLabel="Anterior"
      nextLabel="Siguiente"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
      *ngIf="!loadingTravelRoutes">
    </pagination-controls>
  </div>
</section>