<form class="oviajamos-client-form container py-1 px-4" autocomplete="off" [formGroup]="personGroup">
  <div class="row mt-1">
    <div class="col-lg-6 col-12 pr-lg-1">
      <div class="md-form">
        <input mdbInput type="text" id="buyerName" class="form-control ovj-input with-icon" formControlName="name">
        <img class="input-icon mr-1"
          src="assets/icons/client/person-2.svg"
          loading="lazy">
        <label for="buyerName" class="ovj-label">
          Nombre Completo<span class="text-danger">*</span>
        </label>
      </div>
    </div>
    <div class="col-lg-6 col-12 pl-lg-1">
      <div class="md-form">
        <input mdbInput type="number" id="documentNumber" class="form-control ovj-input with-icon" formControlName="documentNumber"
          (keydown)="numberInputValidator($event)">
          <img class="input-icon"
            src="assets/icons/client/document.svg"
            loading="lazy">
        <label for="documentNumber" class="ovj-label">Documento de identidad<span class="text-danger">*</span></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12 pr-lg-1">
      <div class="md-form">
        <input mdbInput type="number" id="phone" class="form-control ovj-input with-icon" formControlName="phone"
          (keydown)="numberInputValidator($event)">
          <img class="input-icon"
            src="assets/icons/client/phone.svg"
            loading="lazy">
        <label for="phone" class="ovj-label">Celular<span class="text-danger">*</span></label>
      </div>
    </div>
    <div class="col-lg-6 col-12 pl-lg-1" *ngIf="false">
      <div class="md-form">
        <input mdbInput type="text" id="email" class="form-control ovj-input with-icon" formControlName="email">
          <img class="input-icon"
            src="assets/icons/client/email.svg"
            loading="lazy">
        <label for="email" class="ovj-label">Correo</label>
      </div>
    </div>
  </div>
</form>