.oviajamos-client-form {
  .row {
    .md-form {
      margin-top: 0.45rem !important;
      margin-bottom: 0.45rem !important;
      label {
        font-size: 0.85rem !important;
        line-height: 22px;
      }
    }
  }
}