<form class="border-light oviajamos-form" autocomplete="off" [formGroup]="secretaryGroup">
  <app-office-admin-info-form [userGroup]="secretaryForm.user"
    [user]="(secretary && secretary.user) ? secretary.user : undefined"
    [company]="company"
    [submitted]="submitted"
    [secretaryForm]="secretaryGroup">
  </app-office-admin-info-form>
  <hr>
  <div class="d-flex justify-content-center align-items-center mt-2 mb-4">
    <h5 class="ovj-text-primary m-0">Contactos de referencias</h5>
    <img class="ovj-btn-info pl-1"
      src="assets/icons/info-icon.svg"
      loading="lazy"
      (click)="clickingInfo()">
  </div>
  <form-auxiliar-contact *ngFor="let contactForm of contacts.controls; let i=index"
    [contactForm]="contactForm"
    [contact]="(secretary) ? secretary.referenceContact[i] : undefined"
    [submitted]="submitted"
    [indexForm]="i"
    (removeContact)="removeContact($event)">
  </form-auxiliar-contact>
  <button class="btn ovj-btn-add-item border px-2 mb-3"
    (click)="addContact()">
    <div class="add-item-content d-flex align-items-center justify-content-center">
      <div class="rounded-circle">
        <img class="rounded-circle"
          src="assets/icons/add-icon-2.svg"
          loading="lazy">
      </div>
      <p>Añadir un contacto de referencia</p>
    </div>
  </button>
</form>