<section>
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/ovj-admin-bus-stop-banner.png"
          loading="lazy">
        <p class="title text-light m-0"> Estados llaves de dosificación </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <app-spinner-small *ngIf="loadingCompanies"></app-spinner-small>
        <div class="custom-table-responsive" *ngIf="!loadingCompanies">
          <table class="ovj-desktop-table">
            <thead>
            <tr>
              <th *ngFor="let col of colsTable; let index=index" (click)="orderTableBy(index)">
                <img src="assets/icons/order-arrow-down-enabled.svg"
                  *ngIf="col.orderBy"
                  loading="lazy">
                <img src="assets/icons/order-arrow-down-disabled.svg"
                  *ngIf="!col.orderBy"
                  loading="lazy">
                <img [src]="col.extraImg"
                  *ngIf="col.extraImg"
                  loading="lazy">
                  {{col.name}}
              </th>
            </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let index=index; let enterprise of enterprises | paginate: {id: 'pag', itemsPerPage: 7, currentPage: pageActual}">    
                <tr class="ovj-tr item-row btn border shadow-sm"
                  [ngClass]="{'danger': enterprise.danger || enterprise.danger && enterprise.warning,
                    'warning': enterprise.warning && !enterprise.danger}"
                  (click)="enterprise.showDetail = !enterprise.showDetail">
                  <td>
                    <div class="d-flex align-items-center">
                      <img class="td-image rounded-circle"
                        [src]="enterprise.imageUrl"
                        loading="lazy">
                      <p class="ovj-text-primary"> {{ enterprise.name }} </p>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="text-muted"> +591 </span>
                      <p> {{ enterprise.referencePhoneNumber }} </p>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center justify-content-end">
                      <button type="button" class="td-circle-btn btn btn-default btn-circle btn-lg mr-1">
                        <img src="assets/icons/collapse-icon.svg"
                          *ngIf="enterprise.showDetail"
                          loading="lazy">
                        <img src="assets/icons/collapse-toggle-icon.svg"
                          *ngIf="!enterprise.showDetail"
                          loading="lazy">
                      </button>
                    </div>
                  </td>
                </tr>
                <tr class="info-row">
                  <td colspan="3">
                    <div class="ovj-tr-detail rounded shadow-sm border" [ngClass]="{'show': enterprise.showDetail}">
                      <app-dosage-offices-table [offices]="enterprise.offices"
                        (editOfficeDataEvent)="editOfficeData($event, enterprise)">
                      </app-dosage-offices-table>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>