<section class="ticket-holders">
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/oviajamos-banner.svg"
          loading="lazy">
        <p class="title m-0">Boleteros</p>
      </div>
    </div>
    <button class="btn ovj-btn-add-item border px-2 mt-3"
            (click)="addTicketHolder(true)">
        <div class="add-item-content d-flex align-items-center">
          <div class="rounded-circle">
            <img class="rounded-circle"
              src="assets/icons/add-icon-2.svg"
              loading="lazy">
          </div>
          <p>Añadir Boleteros</p>
        </div>
    </button>
    <div class="row">
      <div class="col-12">
        <table class="ovj-desktop-table table-responsive-lg">
          <thead>
            <tr>
              <th *ngFor="let i=index; let col of colsTable"
                  (click)="orderTableBy(i)">
                <img src="assets/icons/order-arrow-down-enabled.svg"
                  *ngIf="col.orderBy"
                  loading="lazy">
                <img src="assets/icons/order-arrow-down-disabled.svg"
                  *ngIf="!col.orderBy"
                  loading="lazy">
                <img [src]="col.extraImg"
                  *ngIf="col.extraImg"
                  loading="lazy">
                {{col.name}}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let index=index; let tHolder of tHolders | paginate: {id: 'pag', itemsPerPage: 7, currentPage: pageActual}">
              <tr class="ovj-tr btn border shadow-sm"
                (click)="tHolder.showDetail = !tHolder.showDetail">
                <td>
                  <div class="d-flex align-items-center">
                    <img class="td-image rounded-circle"
                      [src]="tHolder.photo"
                      loading="lazy">
                    <p class="ovj-text-primary">{{tHolder.names}} {{tHolder.secondNames}}</p>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="text-muted">{{tHolder.countryPhoneCode}}</span>
                    <p>{{tHolder.cellphone}}</p>
                  </div>
                </td>
                <td><p class="text-muted">{{tHolder.address}}</p></td>
                <td>
                  <div class="d-flex align-items-center justify-content-end">
                    <button type="button"
                      class="td-circle-btn btn btn-default btn-circle btn-lg mr-1">
                      <img src="assets/icons/collapse-icon.svg"
                        *ngIf="tHolder.showDetail"
                        loading="lazy">
                      <img src="assets/icons/collapse-toggle-icon.svg"
                        *ngIf="!tHolder.showDetail"
                        loading="lazy">
                    </button>
                    <div>
                      <button type="button"
                        class="td-circle-btn options-btn btn btn-default btn-circle btn-lg"
                        (click)="showTHolderOptions(index); $event.stopPropagation();">
                        <div class="rounded-circle">
                          <img src="assets/icons/options-icon.svg" loading="lazy">
                        </div>
                      </button>
                      <div class="td-btn-dropdown ovj-text-primary shadow border"
                        [ngClass]="{'show': tHolder.showOptions}">
                        <a class="dropdown-item" (click)="editTicketHolder(tHolder); $event.stopPropagation();">
                          Editar
                        </a>
                        <a class="dropdown-item" (click)="deleteTicketHolder(tHolder); $event.stopPropagation();">
                          Eliminar
                        </a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <div class="ovj-tr-detail rounded shadow-sm border" [ngClass]="{'show': tHolder.showDetail}">
                    <h6 class="detail-title"
                        *ngIf="tHolder.contacts.length > 0">
                      Contactos
                    </h6>
                    <div class="row align-items-center"
                         *ngIf="tHolder.contacts.length > 0">
                      <div class="col-lg text-center mb-3 pl-1"
                           *ngFor="let contact of tHolder.contacts | slice:0:3">
                        <div class="d-flex justify-content-center">
                          <img [src]="contact.photo" loading="lazy">
                          <div>
                            <span class="ovj-text-primary">{{contact.names}}</span>
                            <div class="d-flex align-items-center">
                              <span class="text-muted">{{contact.countryPhoneCode}} </span>
                              <span class="pl-1">{{contact.cellphone}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ovj-tr-more-detail" [ngClass]="{'show': tHolder.showMoreDetail}">
                      <ng-container *ngFor="let contact of tHolder.contacts; let index=index">
                        <div class="row justify-content-center"
                             *ngIf="index % 3 == 0 && index > 2">
                          <div class="col-lg text-center mb-3 pl-1"
                               *ngFor="let rowContact of tHolder.contacts | slice:index:index+3">
                            <div class="d-flex justify-content-center"
                                 *ngIf="rowContact">
                              <img [src]="rowContact.photo" loading="lazy">
                              <div>
                                <span class="ovj-text-primary">{{rowContact.names}}</span>
                                <div class="d-flex align-items-center">
                                  <span class="text-muted">{{rowContact.countryPhoneCode}} </span>
                                  <span class="pl-1">{{rowContact.cellphone}}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                    <ng-container *ngIf="tHolder.contacts.length > 3">
                      <div class="detail-actions">
                        <a class="d-flex align-items-center justify-content-center"
                           (click)="tHolder.showMoreDetail = true"
                           *ngIf="!tHolder.showMoreDetail">
                           <p>Ver más</p><i class="fa fa-angle-down"></i>
                        </a>
                        <a class="d-flex align-items-center justify-content-center"
                           (click)="tHolder.showMoreDetail = false"
                           *ngIf="tHolder.showMoreDetail">
                          <p>Ver menos</p> <i class="fa fa-angle-up"></i>
                        </a>
                      </div>
                    </ng-container>
                    <div class="my-3 text-muted"
                         *ngIf="tHolder.contacts.length == 0">
                      Sin contactos
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pagination">
    <pagination-controls  id="pag"
      (pageChange)="pageActual = $event"
      (pageBoundsCorrection)="pageActual = $event"
      maxSize="7"
      directionLinks="true"
      autoHide="true"
      responsive="true"
      previousLabel="Anterior"
      nextLabel="Siguiente"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</section>
