@import 'variables';

.client-bg {
  background-image: url("/assets/images/client/home-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.9);
  height: calc(100% - 91px);
  min-height: calc(100vh - 91px);
  position: absolute;
  width: 100%;
}

.home-content {
  .slogan-container {
    margin-top: 30vh;
  }
  .search-form {
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 7%) !important;
    filter: none !important;
    .form-title-container {
      padding: 0 2rem;
      h4 {
        padding: 0.2rem 0 0.4rem 0;
        border-bottom: 2px solid $ovj-secondary;
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .client-bg {
    min-height: 45vh !important;
    height: 45vh !important;
  }
  .search-form {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 0.4rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    .ovj-btn-orange-3 {
      margin-top: 0.3rem;
      width: 100%;
    }
    .form-title-container {
      padding: 0 !important;
      h4 {
        border-bottom: none !important;
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: $break-medium) {
  .home-content {
    .slogan-container {
      margin-top: 10vh;
    }
  }
}