@import 'variables';

.client-content {
  background: transparent !important;
  min-height: 100vh;
  height: 100%;
  padding-top: 91px;
}

@media screen and (max-width: $break-small) {
  .client-content {
    min-height: 100vh;
    padding-top: 60px;
  }
}