<footer class="footer-section">
  <div class="flex-container column" >
    <div class="">
      <img src="assets/images/oviajamos-footer-logo.svg" loading="lazy">
    </div>
    <div class="pages-section">
      <h1 class="title">
        SIGUE NAVEGANDO
      </h1>
      <p>TURISMO</p>
      <p>TERMINAL DE BUSES</p>
      <p>PAGINA DE INICIO</p>
      <p>REGISTRO DE USUARIOS</p>
    </div>
    <div class="social-terms">
      <div class="icon-paragraft">
        <i class="icon icon-whatsapp icon-color"></i>
        <p>+591 78504784</p>
      </div>
      <div class="icon-paragraft">
        <i class="icon icon-email icon-color"></i>
        <p>oviajamos@gmail.com</p>
      </div>
      <p>TERMINOS Y CONDICIONES</p>
      <p>POLITICAS DE PRIVACIDAD</p> 
    </div>
  </div>
</footer>