@import 'variables';

.ovj-desktop-table {
  thead {
    th {
      text-align: center;
      &:first-child {
        text-align: left;
      }
    }
  }
  tbody {
    .ovj-tr {
      td {
        text-align: center;
        width: 100px;
        &:first-child {
          text-align: left;
          width: initial;
        }
        i.icon-bus {
          font-size: 45px;
          &::before {
            color: $color-042b63;
          }
        }
      }
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
}

app-spinner-small {
  ::ng-deep{
    .spinner-container{
      min-height: 40vh;
    }
  }
}
