<section>
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/oviajamos-banner.svg"
          loading="lazy">
        <p class="title m-0"> Plantilla de buses </p>
      </div>
    </div>
    <button class="btn ovj-btn-add-item border px-2 mt-3"
      (click)="addBusTemplate()">
      <div class="add-item-content d-flex align-items-center">
        <div class="rounded-circle">
          <img class="rounded-circle"
            src="assets/icons/add-icon-2.svg"
            loading="lazy">
        </div>
        <p> Añadir Plantilla </p>
      </div>
    </button>
    <div class="row">
      <div class="col-12">
        <app-spinner-small *ngIf="loadingSeatingSchemes"></app-spinner-small>
        <div class="table-responsive-lg" *ngIf="!loadingSeatingSchemes">
          <table class="ovj-desktop-table">
            <thead>
            <tr>
              <th *ngFor="let col of colsTable; let index=index" (click)="orderTableBy(index)">
                <img src="assets/icons/order-arrow-down-enabled.svg"
                  *ngIf="col.orderBy"
                  loading="lazy">
                <img src="assets/icons/order-arrow-down-disabled.svg"
                  *ngIf="!col.orderBy"
                  loading="lazy">
                <img [src]="col.extraImg"
                  *ngIf="col.extraImg"
                  loading="lazy">
                  {{col.name}}
              </th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let index=index; let seatingScheme of seatingSchemes | paginate: {id: 'pag', itemsPerPage: 7, currentPage: pageActual}">
              <tr class="ovj-tr btn border shadow-sm" (click)="templateInfo(seatingScheme)">
                <td>
                  <div class="d-flex align-items-center">
                    <i class="icon icon-bus rounded-circle"></i>
                    <p class="ovj-text-primary">{{seatingScheme.busName}}</p>
                  </div>
                </td>
                <td>
                  <p class="text-muted">{{seatingScheme.totalSeats}}</p>
                </td>
                <td>
                  <div class="d-flex align-items-center justify-content-end">
                    <div class="btn-group" mdbDropdown>
                      <button mdbDropdownToggle
                        type="button"
                        class="ovj-btn-circle options-btn btn btn-default"
                        (click)="$event.preventDefault()">
                        <div class="rounded-circle">
                          <img src="assets/icons/options-icon.svg" loading="lazy">
                        </div>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" (click)="editSeatingScheme(seatingScheme); $event.preventDefault()"> Editar </a>
                        <a class="dropdown-item" (click)="deleteSeatingScheme(seatingScheme); $event.preventDefault()"> Eliminar </a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="ovj-tr-detail rounded shadow-sm border"></div>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <pagination-controls  id="pag"
      (pageChange)="pageActual = $event"
      (pageBoundsCorrection)="pageActual = $event"
      maxSize="7"
      directionLinks="true"
      autoHide="true"
      responsive="true"
      previousLabel="Anterior"
      nextLabel="Siguiente"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
      *ngIf="!loadingSeatingSchemes">
    </pagination-controls>
  </div>
</section>
