@import 'variables';

.buses {
  p {
    margin-bottom: 0;
    font-style: normal;
  }
  .header {
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    .title {
      p {
        color: $color-042b63;
        font-size: 36px;
        font-weight: 500;
        line-height: 24px;
      }
    }
    .add-button {
      display: flex;
      justify-content: flex-end;
      .btn {
        align-items: center;
        display: flex;
        justify-content: center;
        min-width: 225px;
        i.icon {
          font-size: 18px;
          font-weight: bolder;
          margin-right: 10px;
          &::before {
            color: $white;
          }
        }
      }
    }
  }
  .content {
    margin-top: 12px;
    margin-bottom: 30px;
    p {
      font-style: normal;
      margin-bottom: 0;
    }
    .ovj-custom-table {
      tbody {
        tr {
          td {
            padding: 15px;
          }
        }
      }
    }
    .custom-card-info {
      .selected-element {
        .detail {
          .custom-row {
            display: flex;
            flex-direction: column;
            margin-bottom: 8px;
            &:last-child {
              margin-bottom: 0;
            }
            .sub-row {
              display: flex;
              p {
                font-style: normal;
                margin-bottom: 0;
                padding: 0;
                &:first-child { width: 50%; }
                &:last-child { width: 50%; }
              }
              &:first-child {
                p {
                  color: $black;
                  font-size: 12px;
                  font-weight: normal;
                  line-height: 16px;
                }
              }
              &:last-child {
                p {
                  color: $color-042b63;
                  font-size: 16px;
                  font-weight: normal;
                  line-height: 24px;
                }
              }
            }
          }
          .sub-title {
            p {
              color: $color-042b63;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 21px;
            }
          }
          .item-info {
            margin-bottom: 15px;
            &:last-child {
              margin-bottom: 0;
            }
            p {
              font-style: normal;
              margin-bottom: 0;
              &:first-child {
                color: $black;
                font-size: 12px;
                font-weight: normal;
                line-height: 16px;
              }
              &:last-child {
                color: $color-042b63;
                font-size: 18px;
                font-weight: normal;
                line-height: 21px;
              }
            }
          }
        }
        .bus-actions {
          display: flex;
          margin: 35px 0 !important;
          .ovj-btn {
            border-radius: 4px !important;
            height: 36px;
            width: 50%;
            &:first-child {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .mobile-items-table {
    display: none;
    .header {
      .header-element {
        &:first-child {
          width: 100%;
        }
                
      }
    }
    .card-item {
      background-color: $white;
      border-radius: 10px;
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      margin-bottom: 3px;
      padding: 15px 15px;
      &:last-child {
        margin-bottom: 0;
      }
      .item {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding: 0 8px;
        .custom-row {
          align-items: flex-end;
          display: flex;
          justify-content: space-between;
          width: 100%;
          &:first-child {
            margin-bottom: 5px;
          }
          p {
            color: $color-042b63;
            font-size: 18px;
            font-style: normal;
            font-weight: normal;
            line-height: 21px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

app-spinner-small {
  ::ng-deep{
    .spinner-container{
      min-height: 30vh;
      margin-bottom: 15vh;
    }
  }
}

@media screen and (max-width: $break-large) {
  .buses {
    .header {
      .title {
        p {
          color: $color-3c64b1;
          font-size: 36px;
          font-weight: 500;
          line-height: 24px;
        }
      }
      .add-button {
        display: none;
      }
    }
    .content {
      display: none;
    }
    .mobile-items-table {
      display: flex;
    }
  }
}