<form class="border-light oviajamos-form" autocomplete="off" [formGroup]="enterpriseGroup">
  <div class="mb-form ovj-input-file">
    <div class="image-circle-container">
      <img [src]="dafaultImage"
        class="view-photo"
        loading="lazy">
      <img class="camera-icon"
        src="assets/icons/camera-icon.svg"
        loading="lazy">
      <input type="file" accept=".png, .jpg, .jpeg" formControlName="imageUrl" (change)="setImage($event)">
    </div>
    <div *ngIf="excededImageSize">
      <span class="ovj-mesage-error">La imagen no debe exceder 2Mb</span>
    </div>
  </div>
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary">Información de Empresa</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="name" class="form-control ovj-input" formControlName="name">
        <label for="name" class="ovj-label">Nombre de empresa<span class="text-danger">*</span></label>
        <div *ngIf="submitted && enterpriseForm.name.errors" class="">
          <mdb-error *ngIf="enterpriseForm.name.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="enterpriseForm.name.errors.maxlength" class="ovj-mesage-error">Máximo de 100 caracteres</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <ng-select mdbInput
          id="type"
          class="ovj-input"
          labelForId="type"
          formControlName="type"
          #type>
          <ng-option *ngFor="let key of enterpriseTypeEnumKeys" [value]="enterpriseTypeEnum[key]">
            {{ enterpriseTypeEnum[key] }}
          </ng-option>
        </ng-select>
        <label for="type" class="ovj-label ng-select-label"
          [ngClass]="{'valid': enterpriseForm.type.value?.toString().length > 0}"
          (click)="type.open()">
          Tipo de empresa<span class="text-danger">*</span>
        </label>
        <div *ngIf="submitted && enterpriseForm.type.errors" class="">
          <mdb-error *ngIf="enterpriseForm.type.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="number" id="referencePhoneNumber" class="form-control ovj-input" formControlName="referencePhoneNumber"
          autocomplete="no" (keydown)="numberInputValidator($event)">
        <label for="referencePhoneNumber" class="ovj-label">Telf/Celular<span class="text-danger">*</span></label>
        <div *ngIf="submitted && enterpriseForm.referencePhoneNumber.errors" class="">
          <mdb-error *ngIf="enterpriseForm.referencePhoneNumber.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="enterpriseForm.referencePhoneNumber.errors.min" class="ovj-mesage-error">Mínimo 7 dígitos</mdb-error>
          <mdb-error *ngIf="enterpriseForm.referencePhoneNumber.errors.max" class="ovj-mesage-error">Máximo 12 dígitos</mdb-error>
          <mdb-error *ngIf="enterpriseForm.referencePhoneNumber.errors.pattern" class="ovj-mesage-error">Valor inválido</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="invoiceName" class="form-control ovj-input" formControlName="invoiceName">
        <label for="invoiceName" class="ovj-label">Nombre a facturar<span class="text-danger">*</span></label>
        <div *ngIf="submitted && enterpriseForm.invoiceName.errors" class="">
          <mdb-error *ngIf="enterpriseForm.invoiceName.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="enterpriseForm.invoiceName.errors.minlength" class="ovj-mesage-error">Mínimo de 3 caracteres</mdb-error>
          <mdb-error *ngIf="enterpriseForm.invoiceName.errors.maxlength" class="ovj-mesage-error">Máximo de 100 caracteres</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="nit" class="form-control ovj-input" formControlName="nit">
        <label for="nit" class="ovj-label">NIT<span class="text-danger">*</span></label>
        <div *ngIf="submitted && enterpriseForm.nit.errors" class="">
          <mdb-error *ngIf="enterpriseForm.nit.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="enterpriseForm.nit.errors.minlength" class="ovj-mesage-error">Mínimo de 7 caracteres</mdb-error>
          <mdb-error *ngIf="enterpriseForm.nit.errors.maxlength" class="ovj-mesage-error">Máximo de 100 caracteres</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <app-legal-organizer-form [legalOrganizerForm]="legalOrganizer"
    [legalOrganizer]="legalOrganizer"
    [submitted]="submitted">
  </app-legal-organizer-form>
  <hr>
  <app-enterprise-admin-old-form [userGroup]="userGroup"
    [submitted]="submitted">
  </app-enterprise-admin-old-form>
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary"> Venta física </h5>
  </div>
  <app-physical-commission-form [physicalCommissionGroup]="physicalSalesCommissionGroup"
    [submitted]="submitted">
  </app-physical-commission-form>
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary"> Venta en línea </h5>
  </div>
  <app-online-commission-form [onlineCommissionGroup]="onlineSalesCommissionGroup"
    [submitted]="submitted">
  </app-online-commission-form>
</form>