<div class="continer">
  <div class="banner">
    <h1 class="title">Resumen de ventas</h1>
  </div>

  <div class="row">
    <div class="col-6 col-lg-2">
      <div class="card-report-short">
        <div class="card-header-report card-header-report-color-buy">
          <p class="title-card-report">Ventas en punto de venta</p>
        </div>
        <div class="card-body-report">
          <p class="text-body-card-report">
            4400,00 <span class="text-span">Bs</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-6  col-lg-2">
      <div class="card-report-short">
        <div class="card-header-report card-header-report-color-online">
          <p class="title-card-report">Ventas en línea</p>
        </div>
        <div class="card-body-report">
          <p class="text-body-card-report">
            1900,00 <span class="text-span">Bs</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-2 mt-lg-0 mt-3">
      <div class="card-report-short">
        <div class="card-header-report card-header-report-color-total">
          <p class="title-card-report">Ventas en total</p>
        </div>
        <div class="card-body-report">
          <p class="text-body-card-report">6300,00 <span class="text-span">Bs</span></p>
        </div>
      </div>
    </div>
 
    <div class="col-lg-6  mt-lg-0 mt-3 pl-lg-2">
    <div class="card-report mb-4 sales-by-type">
      <div class="card-header">
        <p> Ventas realizadas por tipo de venta </p>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <div class="canvas-wrapper">
            <canvas #salesByTypeCanvas class="chart-canvas" height="200px" width="200px"></canvas>
            <div class="index-info">
              <div class="content">
                <p> {{ globalTotalAmount }} </p>
                <p> Total ventas </p>
              </div>
            </div>
          </div>
          <div class="chart-info">
            <div class="d-flex">
              <div class="info-circle"></div>
              <p> Ventas en punto de venta </p>
            </div>
            <div class="d-flex">
              <div class="info-circle"></div>
              <p> Ventas en línea </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
