<button type="button" aria-label="Close" class="close-modal-btn btn btn-default"
  (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="mb-4">
  <div class="row">
    <div class="col-12 ovj-banner">
      <img src="assets/images/oviajamos-banner.svg" loading="lazy">
      <p class="title m-0"> {{ seatingScheme.busName }} </p>
    </div>
    <div class="bus-template-content col-md-10 offset-md-1">
      <div class="bus-options">
        <div class="bus">
          <app-seating-scheme [seatingScheme]="seatingScheme"></app-seating-scheme>
        </div>
      </div>
    </div>  
  </div>
</div>