<form class="oviajamos-client-form container py-1" autocomplete="off" [formGroup]="cashPayemntGroup">
  <div class="row">
    <div class="col-12 px-0">
      <div class="md-form">
        <input mdbInput type="number" id="amountPaid" class="form-control ovj-input" formControlName="amountPaid"
          (keydown)="numberInputValidator($event)">
        <label for="amountPaid" class="ovj-label">Monto a pagar Bs<span class="text-danger">*</span></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 px-0">
      <div class="md-form">
        <input mdbInput type="number" id="amountReturn" class="form-control ovj-input" formControlName="amountReturn">
        <label for="amountReturn" class="ovj-label">Vuelto Bs</label>
      </div>
    </div>
  </div>
</form>