@import 'variables';

.spinner-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  padding-top: 4rem;
  .spinner-border {
    color: $color-1763d1;
    height: 75px;
    width: 75px;
  }
}
