@import 'variables';

.office-status-alert {
  align-items: center;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  display: flex;
  margin-bottom: 10px;
  padding: 12px 20px;
  &:last-child {
    margin-bottom: initial;
  }
  &.warning {
    background-color: $ovj-dark-warning;
    color: $black;
  }
  &.danger {
    background-color: #eb5757;
    color: $white;
  }
  p {
    font-style: normal;
    margin-bottom: 0;
  }
  .address {
    align-items: center;
    display: flex;
    width: 75%;
    p {
      font-size: 18px;
      font-weight: normal;
      line-height: 23px;
      margin-left: 10px;
      b {
        font-weight: 600;
      }
    }
  }
  .remaining-time {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    .wrapper {
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      text-align: right;
      p {
        &:first-child {
          font-weight: 600;
        }
      }
    }
  }
}