.ovj-banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 5;
  img {
    height: 8rem;
    width: 100%;
  }
  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    text-align: center;
    letter-spacing: 0.15px;
    color: $color-3c64b1;
    position: absolute;
    top: 35px;
  }
  @media screen and (max-width: $break-medium) {
    img {
      height: 7rem;
    }
    .title {
      font-size: 1.9rem;
      top: 32px;
    }
  }
  @media screen and (max-width: $break-small) {
    img {
      height: 5.5rem;
    }
    .title {
      font-size: 1.6rem;
      top: 26px;
    }
  }
}