// ----------------------------------------------------------------------
// General button style (reset)
// ----------------------------------------------------------------------

.ovj-btn-orange {
  background: $color-ff533d;
  box-shadow: 0px 4px 50px $color-ff533d;
  border-radius: 8px !important;
  width: 236px;
  height: 48px;

  &.btn {
    color: $white;
    background-color: $color-ff533d;
    border: 1px solid $color-ff533d;
  }
}

.ovj-btn-blue {
  background: $color-3880ff;
  border-radius: 10px !important;
  height: 48px;
  font-weight: 700 !important;
  width: 236px;
  &.btn {
    color: $white;
    background-color: #3868C8;
  }
}

.ovj-btn-blue-2 {
  background: $color-007bff;
  border-radius: 10px !important;
  height: 48px;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400 !important;
  width: 236px;
  &.btn {
    color: $white;
    background-color: $color-007bff;
  }
}

.ovj-btn-orange-2 {
  background: $color-ff533d;
  border-radius: 6px !important;
  width: 236px;
  height: 48px;
  &.btn {
    color: $white;
    background-color: $color-ff533d;
    border: 1px solid $color-ff533d;
  }
}

.ovj-btn-orange-3 {
  background: $color-ff6022;
  border-radius: 8px !important;
  font-weight: 800 !important;
  height: 42px;
  width: 200px;
  &.btn {
    color: $white;
    background-color: $color-ff6022;
    border: 1px solid $color-ff6022;
  }
}

.ovj-btn-white {
  background: $white;
  box-shadow: 0px 4px 50px $color-ff533d;
  border-radius: 10px !important;
  width: 236px;
  height: 48px;
  &.btn {
    color: $black;
    background-color: $white;
    border: 1px solid $color-c4c4c4;
  }
}

.ovj-btn-orange-bg {
  background: $color-ff533d;
  border: 1px solid $color-ff533d;
  border-radius: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: $white;
  width: 252px;
  min-height: 42px;
  @media screen and (max-width: $break-small) {
    font-size: 24px;
    width: 100%;
  }
}

.ovj-btn-light {
  background-color: $white;
  border: 0.5px solid $color-a7c6f0 !important;
  border-radius: 4px;
  width: 236px;
  height: 48px;
}

.ovj-btn {
  align-items: center;
  background: $color-007bff;
  border-radius: 10px !important;
  display: flex !important;
  height: 48px;
  justify-content: center;
  line-height: 22px;
  letter-spacing: 0.15px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  width: 236px;
  p {
    margin-bottom: 0;
  }
  &.circle-border {
    border-radius: 25px !important;
  }
  &.orange {
    background-color: $color-ff533d !important;
    color: $white;
    &:hover {
      color: $white;
    }
    i.icon {
      margin-right: 5px;
      &::before {
        color: $white !important;
      }
    }
  }
  &.warning {
    background-color: $color-ffc107 !important;
    color: $black;
    &:hover {
      color: $black;
    }
    i.icon {
      margin-right: 5px;
      &::before {
        color: $black !important;
      }
    }
  }
  &.success {
    background-color: $color-1ac05c !important;
    color: $white;
    &:hover {
      color: $white;
    }
    i.icon {
      margin-right: 5px;
      &::before {
        color: $white !important;
      }
    }
  }
  &.primary {
    background-color: $color-007bff !important;
    color: $white;
    &:hover {
      color: $white;
    }
    i.icon {
      margin-right: 5px;
      &::before {
        color: $white !important;
      }
    }
  }
  &.dark-primary {
    background-color: $color-204254 !important;
    color: $white;
    &:hover {
      color: $white;
    }
    i.icon {
      margin-right: 5px;
      &::before {
        color: $white !important;
      }
    }
  }
  &.secondary {
    background-color: $color-9aa0a6 !important;
    color: $white;
    &:hover {
      color: $white;
    }
    i.icon {
      margin-right: 5px;
      &::before {
        color: $white !important;
      }
    }
  }
  &.danger {
    background-color: $color-fb3f4a !important;
    color: $white;
    &:hover {
      color: $white;
    }
    i.icon {
      margin-right: 5px;
      &::before {
        color: $white !important;
      }
    }
  }
  &.dark-orange-bordered {
    background-color: $white;
    border: 1px solid $color-dc3545;
    border-radius: 4px;
    color: $color-dc3545;
    &:hover {
      color: $color-dc3545;
    }
    i.icon {
      margin-right: 5px;
      &::before {
        color: $color-dc3545 !important;
      }
    }
  }
  &.light-blue-bordered {
    background-color: $white;
    border: 1px solid $color-007bff;
    border-radius: 4px;
    color: $color-007bff;
    &:hover {
      color: $color-007bff;
    }
    i.icon {
      margin-right: 5px;
      &::before {
        color: $color-007bff !important;
      }
    }
  }
  &.success-bordered {
    background-color: $white;
    border: 1px solid $color-1ac05c;
    border-radius: 4px;
    color: $color-1ac05c;
    &:hover {
      color: $color-1ac05c;
    }
    i.icon {
      margin-right: 5px;
      &::before {
        color: $color-1ac05c !important;
      }
    }
  }
  &.danger-bordered {
    background-color: $white;
    border: 1px solid $color-dc3545;
    border-radius: 4px;
    color: $color-dc3545;
    &:hover {
      color: $color-dc3545;
    }
    i.icon {
      margin-right: 5px;
      &::before {
        color: $color-dc3545 !important;
      }
    }
  }
}

.ovj-btn-add-item {
  border-radius: 10px !important;
  height: 75px;
  width: 100%;
  background-color: $white !important;
  .add-item-content{
    padding-left: 0.2rem;
    div {
      width: 48px; height: 48px;
      background-color: $color-dce9fb;
      img {
        width: 82px; height: 82px;
        margin-top: -28px;
        margin-left: -17px;
      }
    }
    p {
      margin-bottom: -4px;
      padding-left: 0.4rem;
      color: $color-042b63;
    }
    &.ovj-admin {
      div {
        background: linear-gradient(180deg, #3B82FF 0%, #92C7FF 100%), #DCE9FB;
      }
    }
  }
}

.ovj-btn-info {
  cursor: pointer;
}

.ovj-checkbox {
  width: 19px;
  height: 19px;
}

.ovj-btn-circle {
  width: 40px;
  height: 40px;
  padding: 0 0 1px !important;
  border-radius: 25px !important;
  img {
    width: 40px;
    height: 40px;
    margin-top: -1px;
    margin-left: -1px;
  }
  &.native-size {
    width: auto;
    height: auto;
  }
  &.options-btn {
    background-color: $color-f4f5f8;
    img { width: 22px; height: 22px; }
  }
}

.ovj-toggle-switch {
  height: 24px;
  position: relative;
  width: 40px;
  input {
    height: 0;
    opacity: 0;
    width: 0;
    &:checked + .slider {
      background-color: #2196F3;
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    &:checked + .slider:before {
      transform: translateX(17px);
      -webkit-transform: translateX(17px);
      -ms-transform: translateX(17px);
    }
  }
  .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      border-radius: 50%;
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
}

.ovj-client-check {
  display:none;
  &+label{
    background:url('/assets//icons/client/client-check.svg') no-repeat;
    cursor: pointer;
    padding-left: 1.5rem;
  }
  &:checked {
    &+label{
      background:url('/assets/icons/client/client-check-checked.svg') no-repeat;
    }
  }
}

.ovj-check {
  display:none;
  &+label{
    background:url('/assets/icons/check.svg') no-repeat;
    cursor: pointer;
    padding-left: 1.5rem;
  }
  &:checked {
    &+label{
      background:url('/assets/icons/check-checked.svg') no-repeat;
    }
  }
}

.spinner-border {
  &.spinner-btn {
    height: 1.5rem;
    margin-top: 0.15rem;
    width: 1.5rem;
  }
}

.mobile-floating-btn {
  align-items: center;
  background-color: #ff533d !important;
  bottom: 10px;
  display: none !important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 12px;
  width: 50px;
  z-index: 5;
  i.icon {
    cursor: pointer;
    font-size: 25px;
  }
  .cursor-pointer {
    cursor: pointer !important;
  }
  @media screen and (max-width: $break-large) {
    align-items: center;
    display: flex !important;
    justify-content: center;
  }
}

button[aria-label="Close"]:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}