@import 'variables';

dp-date-picker {
  width: 100%;
  .dp-material {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    font-size: 0.8rem;
    .dp-day-calendar-container {
      padding: 0.7rem 1.5rem;
      border-radius: 10px;
      .dp-calendar-wrapper {
        border: none;
        .dp-weekdays {
          font-size: 0.85rem;
          font-weight: bold;
          margin-top: 0.2rem;
          .dp-calendar-weekday {
            margin: 0rem 0.3rem;
          }
        }
        .dp-calendar-week {
          .dp-calendar-day {
            margin: 0rem 0.3rem;
            &.dp-selected {
              background: $color-ff533d;
            }
            &.dp-current-day {
              border: 1px solid $color-ff533d;

            }
          }
        }
      }
      dp-calendar-nav {
        border: none;
        .dp-calendar-nav-container {
          background-color: $ovj-light-secondary;
          border: none;
          border-radius: 20px;
          height: 40px;
          margin-bottom: 0.6rem;
          .dp-nav-header {
            left: 15%;
            text-align: center;
            width: 70%;
            z-index: 10;
            .dp-nav-header-btn {
              background: inherit;
              font-size: 0.9rem;
              font-weight: bold;
              text-align: center;
              width: 60%;
            }
          }
          .dp-nav-btns-container {
            width: 92%;
            z-index: 5;
            .dp-calendar-nav-container-left {
              .dp-calendar-nav-left {
                background: inherit;
              }
            }
            .dp-calendar-nav-container-right {
              margin-left: 83%;
              .dp-calendar-nav-right {
                background: inherit;
              }
            }
          }
        }
      }
    }
    .dp-month-calendar-container {
      border: none;
      border-radius: 10px;
      .dp-calendar-nav-container {
        border: none;
        margin-top: 0.6rem;
        .dp-nav-header {
          font-size: 1.1rem;
          font-weight: bold;
          &>span[data-hidden=false] {
            font-weight: 400;
            margin-left: 24px;
          }
          .dp-nav-header-btn {
            height: 100%;
          }
        }
        .dp-nav-btns-container {
          margin-right: 20px;
          .dp-calendar-nav-container-left {
            .dp-calendar-nav-left {
              margin-left: 8px;
            }
          }
          .dp-calendar-nav-container-right {
            .dp-calendar-nav-right {
              margin-right: 5px;
            }
          }
        }
      }
      .dp-calendar-wrapper {
        border: none;
        padding: 0.2rem 1.1rem;
        .dp-months-row {
          .dp-calendar-month {
            &.dp-selected {
              background: $color-ff533d;
            }
            &.dp-current-month {
              border: 1px solid $color-ff533d;
            }
          }
        }
      }
    }
    dp-time-select {
      font-size: 1.2rem;
      padding: 0.15rem 0.5rem 0.15rem 0.3rem;
      .dp-time-select-controls {
        border-radius: 8px;
        .dp-time-select-control {
          width: 40px;
          &.dp-time-select-separator {
            width: 8px;
          }
          .dp-time-select-control-up {
            height: 30px;
            width: 30px;
            &::before {
              top: 0;
            }
          }
          .dp-time-select-control-down {
            height: 30px;
            width: 30px;
            &::before {
              bottom: 5px;
            }
          }
        }
      }
    }
  }
  .dp-input-container {
    .dp-picker-input {
      color: $color-042b63;
      font-size: 1rem !important;
      height: 40.42px !important;
      padding: 4.5px 0 0 0;
      width: 100% !important;
    }
  }
  .dp-open {
    .dp-input-container {
      input {
        border-bottom: 3px solid $color-3880ff;
      }
    }
  }
  &.hidden {
    bottom: 0;
    position: absolute !important;
    visibility: hidden;
  }

  &.ovj-picker {
    height: 36px;
    padding: 0 !important;
    .dp-input-container {
      border: 0.8px solid $color-ced4da;
      border-radius: 8px !important ;
      .dp-picker-input {
        border: none !important;
        border-radius: 8px;
        color: $color-6c757d;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        height: 36px !important;
        line-height: 24px;
        padding: 2px 9px 1px 9px;
      }
    }
    .dp-open {
      .dp-input-container {
        border: 1px solid $color-3880ff !important;
        border-radius: 8px;
        .dp-picker-input {
          padding: 2px 9px 1px 9px;
        }
      }
    }
    &.is-invalid {
      .dp-input-container {
        border: 1px solid #dc3545;
        border-radius: 8px;
      }
    }
  }

  &.client {
    padding-left: 0 !important;
    padding-right: 0 !important;
    .dp-material {
      font-size: 0.95rem !important;
      border: 1px solid $color-1763d1;
      border-radius: 5px;
      box-shadow: none !important;
      .dp-day-calendar-container {
        padding: 0;
        .dp-calendar-wrapper {
          .dp-weekdays {
            background-color: $color-1763d1;
            margin: 0;
            .dp-calendar-weekday {
              color: $white;
              font-size: 0.95rem;
            }
          }
          .dp-calendar-week {
            .dp-calendar-day {
              color: $color-1763d1;
              margin: 0rem 0.3rem;
              &.dp-selected {
                background: $color-ff6022;
                border-radius: 3px;
                color: $white;
              }
              &.dp-current-day {
                border: 1px solid $color-ff6022;
                border-radius: 3px;
              }
              &.dp-prev-month, &.dp-next-month {
                color: $color-867b7b;
              }
              &:hover {
                background-color: $ovj-dark-secondary;
                border-radius: 5px;
              }
              &:disabled {
                color: $color-867b7b;
              }
            }
          }
        }
        dp-calendar-nav {
          .dp-calendar-nav-container {
            background-color: $color-1763d1;
            border-radius: 0;
            margin-bottom: -2px;
            .dp-nav-header {
              .dp-nav-header-btn {
                color: $white;
                font-size: 1rem;
              }
            }
            .dp-nav-btns-container {
              .dp-calendar-nav-container-left {
                .dp-calendar-nav-left {
                  color: $white;
                }
              }
              .dp-calendar-nav-container-right {
                .dp-calendar-nav-right {
                  color: $white;
                }
              }
            }
          }
        }
      }
      .dp-month-calendar-container {
        border-radius: 10px;
        .dp-calendar-nav-container {
          margin-top: 0;
        }
        .dp-calendar-wrapper {
          padding: 0 1.1rem;
          .dp-months-row {
            .dp-calendar-month {
              &.dp-selected {
                background: $color-ff6022;
                border-radius: 5px;
              }
              &.dp-current-month {
                border: 1px solid $color-ff533d;
                border-radius: 5px;
              }
              &:hover {
                background-color: $ovj-dark-secondary;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
    .dp-picker-input {
      border-bottom: none !important;
      border-radius: 7px;
      padding-left: 8px;
      padding-right: 8px;
    }
    .dp-open {
      .dp-input-container {
        .dp-picker-input {
          border: 1px solid $color-3880ff !important;
        }
      }
    }
  }
}

.ovj-month-selector {
  border-radius: 25px;
  border: 1px solid $ovj-light-primary;
  position: relative;
  .ovj-btn-circle {
    &.top-bar-arrow {
      padding: 3px !important;
      i.icon {
        font-size: 12px;
      }
      &:first-child {
        transform: rotate(90deg) translateY(-5px);
      }
      &:last-child {
        transform: rotate(-90deg) translateY(-5px);
      }
    }
  }
  .top-bar-date {
    color: $color-042b63;
    cursor: pointer;
    .month-text {
      font-style: normal;
      font-size: 18px;
      font-weight: 500;
      line-height: 23.4px;
      margin-top: 0.1rem;
      margin-bottom: 0;
    }
    .year-text {
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 13px;
      margin-bottom: 0.1rem;
    }
  }
  dp-date-picker {
    width: 1px;
    &>div {
      left: -95px !important;
    }
  }
}