.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px 0 15px;
  align-items: center;

  @media screen and (max-width: $break-small) {
    padding: 0 10px 0 10px;
  }

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  .flex-item {
    padding: 0 10px 0 10px;

    @media screen and (max-width: $break-small) {
      padding: 0 5px 0 5px;
    }
  }
}