// ----------------------------------------------------------------------
// General modal style (reset)
// ----------------------------------------------------------------------

.modal-dialog {
  * {
    font-family: 'IBM Plex Sans';
    i, .icon {
      font-family: initial;
    }
  }
  .modal-content {
    background: $white;
    border-radius: 10px !important;
  
    .modal-header {
      justify-content: center;
      padding: 0.7rem 1rem;
      
      .modal-title {
        color: $color-042b63;
        font-weight: 500;
      }
    }
  
    .modal-footer {
      border-top: none; 
    }
  }
  &.modal-lg-2x {
    max-width: 1200px;
  }
}

.modal.fade {
  .modal-dialog {
    transition: transform 0.3s ease-out !important;
    transform: translate(0, 50px) !important
  }
}
.modal.show {
  .modal-dialog {
    transition: transform 0.3s ease-out !important;
    transform: translate(0, 0px) !important
  }
}

mdb-modal-container {
  -ms-diplay-style: none !important;
  scrollbar-width: none !important;
  &::-webkit-scrollbar {
    display: none;
  }
}

.client-box-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.close-modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.mobile-modal {
  height: 100%;
  margin: 0 !important;
  max-width: unset !important;
  position: relative;
  width: 100% !important;
  &>.modal-content {
    border-radius: 0px !important;
    bottom: 0;
    position: absolute;
  }
  &.bordered {
    &>.modal-content {
      border-radius: 16px 16px 0px 0px !important;
    }
  }
}

.options-modal {
  padding: 15px;
  p {
    font-style: normal;
    margin-bottom: 0;
  }
  .options-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    p {
      color: $color-3c64b1;
      font-weight: bold;
      font-size: 18px;
      line-height: 16px;
    }
    .btn {
      margin-right: -5px;
      margin-top: -5px;
      i.icon {
        color: #343A40;
        font-size: 12px;
      }
    }
  }
  .content {
    margin: 10px 0;
    .item {
      align-items: center;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      margin-bottom: 8px;
      padding: 5px 0;
      &:last-child {
        margin-bottom: 0;
      }
      .icon-container {
        align-items: center;
        background-color: #dce9fb;
        border-radius: 50%;
        display: flex;
        height: 32px;
        justify-content: center;
        margin-right: 10px;
        width: 32px;
        i.icon {
          font-size: 22px;
        }
      }
      p {
        color: $color-042b63;
        font-size: 18px;
        font-weight: 300;
        line-height: 23px;
      }
      &:hover {
        background-color: #DCE9FB;
      }
    }
  }
}