@import 'variables';

.ng-select {
  border-bottom: 1px solid lightgray;
  height: 40.42px !important;
  &.ng-select-focused {
    height: 44px;
    border-bottom: 3px solid $color-3880ff;
  }
  .ng-select-container {
    height: 36px;
    margin-bottom: 7px;
    position: relative;
    .ng-value-container {
      padding-top: 13px;
      .ng-placeholder {
        color: $ovj-dark-secondary;
      }
      .ng-value {
        .ng-value-label {
          color: $color-042b63;
        }
      }
      .ng-input {
        padding-right: 15px;
        input {
          cursor: text !important;
        }
      }
    }
  }
  .ng-arrow-wrapper {
    width: 12px;
    .ng-arrow {
      border-color: $color-3880ff transparent transparent;
      border-style: solid;
      border-width: 8px 5px 2.5px;
      bottom: 0px;
      margin-top: 21px;
    }
  }
  .ng-clear-wrapper {
    display: none;
    .ng-clear {
      margin-top: 16px;
      bottom: 0px;
    }
  }
  .ng-dropdown-panel.ng-select-bottom {
    .ng-dropdown-panel-items {
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      .ng-option:last-child {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
      }
    }
  }
  .ng-dropdown-panel.ng-select-top {
    .ng-dropdown-panel-items {
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      .ng-option:first-child {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
      }
    }
  }
  &.ng-select-opened {
    .ng-select-container {
      .ng-arrow {
        border-color: transparent transparent $color-3880ff;
        border-width: 0 5px 8px;
      }
    }
  }
  .ng-has-value {
    .ng-placeholder {
      display: none;
    }
  }
  .ng-clear-wrapper {
    color: #999;
    &:hover {
      .ng-clear {
        color: #d0021b;
      }
    }
  }
  .ng-dropdown-panel {
    background-color: $white;
    border: 1px solid $ovj-light-secondary;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    left: 0;
    .ng-dropdown-panel-items {
      &::-webkit-scrollbar {
        width: 12px;
        background-color: transparent;
        border-radius: 15px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        margin-right: 2px;
        background-color: $ovj-secondary;
      }
      .ng-optgroup {
        user-select: none;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.54);
        cursor: pointer;
        &.ng-option-disabled {
          cursor: default;
        }
        &.ng-option-marked {
          background-color: #f5faff;
        }
        &.ng-option-selected, &.ng-option-selected.ng-option-marked {
          background-color: #ebf5ff;
          font-weight: 600;
        }
      }
      .ng-option {
        background-color: $white;
        color: $color-042b63;
        padding: 8px 10px;
        &.ng-option-selected, .ng-option-selected.ng-option-marked {
          color: $color-121b22;
          background-color: rgb(235, 242, 249);
        }
        &.ng-option-marked {
          background-color: #d1e2ff;
          color: #333;
        }
        &.ng-option-disabled {
          color: #ccc;
        }
      }
    }
  }
  .ng-select-bottom {
    top: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-color: #e6e6e6;
    margin-top: 5px;
  }
  .ng-select-top {
    bottom: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-color: #e6e6e6;
    margin-bottom: -1px;
    .ng-dropdown-panel-items {
      .ng-option:first-child {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
      }
    }
  }
  &.ovj-select{
    background-image: none !important;
    height: 36px !important;
    padding: 5px 8px !important;
    .ng-select-container {
      .ng-value-container {
        padding-top: 0;
        .ng-value {
          .ng-value-label {
            color: $color-6c757d;
          }
        }
      }
    }
    .ng-arrow-wrapper {
      position: relative;
      .ng-arrow { 
        border-color: $color-6c757d transparent transparent;
        border-width: 8px 7px 2.5px;
        margin-top: unset;
        position: absolute;
        right: 0; 
        top: 9px;
      }
    }
    &.ng-select-opened {
      .ng-select-container {
        .ng-arrow {
          border-color: transparent transparent $color-6c757d;
          border-width: 0 7px 8px;
          top: 8px;
        }
      }
    }
    &.ng-select-focused {
      border: 1px solid $color-3880ff !important;
    }
  }



  &.client{
    .ng-select-container {
      .ng-value-container {
        padding-top: 0;
      }
    }
    .ng-arrow-wrapper {
      display: none;
      .ng-arrow {
      }
    }
    &.ng-select-focused {
      border: 1px solid $color-1763d1 !important;
    }
    .ng-dropdown-panel {
      .ng-dropdown-panel-items {
        &::-webkit-scrollbar {
          width: 12px;
          background-color: transparent;
          border-radius: 15px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $color-1763d1;
        }
        .ng-option {
          color: $color-000042;
          padding: 8px 10px;
          &.ng-option-selected, .ng-option-selected.ng-option-marked {
            color: $color-000042;
            background-color: $color-ececeb;
          }
          &.ng-option-marked {
            background-color: #d7d7d4;
          }
          &.ng-option-disabled {
            color: #ccc;
          }
        }
      }
    }
    .ng-select-bottom {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .ng-select-top {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      .ng-dropdown-panel-items {
        .ng-option:first-child {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }
    .ng-dropdown-panel.ng-select-bottom {
      .ng-dropdown-panel-items {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        .ng-option:last-child {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
    .ng-dropdown-panel.ng-select-top {
      .ng-dropdown-panel-items {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        .ng-option:first-child {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }
  }
}

.ng-select-label {
  &.valid {
    transform: translateY(-14px) scale(0.8);
  }
}
