@import "~angular-notifier/styles";
@import 'variables';

.notifier__container {
  .notifier__container-list {
    .notifier__container-list-item {
      .notifier__notification {
        align-items: start;
        border-top-left-radius: 13px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 25%) !important;
        font-size: 0.8rem;
        min-height: 75px;
        padding: 0.8rem 0.75rem;
        width: 90%;
        &.notifier__notification--warning {
          background-color: $ovj-dark-warning;
          color: $black;
        }
        &.notifier__notification--error {
          background-color: #eb5757;
          color: $white;
        }
      }
      @media screen and (min-width: $break-x-small) {
        .notifier__notification {
          width: 400px;
        }
      }
    }
  }
}