// ----------------------------------------------------------------------
// General tables style
// ----------------------------------------------------------------------
.oviajamos-mobile-table {
    background: $white;
    border: 1px solid $color-c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    min-height: 90px;
    display: flex;
    align-items: center;
    padding: 10px;
    .image-container {
        width: 50px;
        height: 50px;
        background: $white;
        border-radius: 30px;
        margin-right: 20px;
        @media screen and (max-width: $break-small) {
            margin-right: 10px;
        }
    }
    .name-container {
        p {
            margin: 0;
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 21px;
            color: $color-042b63;
            @media screen and (max-width: $break-small) {
                font-size: 18px;
            }
        }
    }
    @media screen and (max-width: $break-small) {
        min-height: 74px;
    }
}

table.ovj-desktop-table {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 2px;
  &.travel-routes {
    border-spacing: 0 0;
  }
  th {
    padding-bottom: 0.5rem;
    font-size: 0.93rem;
    cursor: pointer;
    img {
      padding-left: 0.15rem;
      padding-right: 0.15rem;
    }
  }
  .ovj-tr {
    height: 70px;
    display: table-row;
    border-radius: 6px;
    td {
      padding: 12px 6px;
      text-align: left;
      background-color: $white;
      position: relative;
      &:first-child {
        padding-left: 12px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &:last-child {
        padding-right: 12px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .td-image {
        background-color: $color-ededed;
        height: 45px;
        margin-right: 0.15rem;
        width: 45px;
        z-index: 5;
      }
      p {
        margin: 0;
        margin-left: 0.25rem;
      }
      .seats-icon {
        height: 30px;
      }
      .status-circle {
        font-size: 0.65rem;
        margin-left: 0.7rem;
        padding-top: 0.395rem;
      }
      .td-circle-btn {
        width: 40px;
        height: 40px;
        padding: 0 0;
        border-radius: 25px;
        img {
          width: 40px;
          height: 40px;
        }
        &.options-btn {
          background-color: $color-f4f5f8;
          div {
            img { width: 22px; height: 22px; }
          }
        }
      }
      .td-btn-dropdown {
        font-size: 0.94rem;
        width: 10rem;
        padding-top: 0.4rem;
        padding-bottom: 0.25rem;
        position: absolute;
        background-color: $white;
        z-index: 10;
        right: 0.5rem;
        margin-top: 0.25rem;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        border-radius: 10px;
        &.show {
          visibility: visible;
          max-height: 1000px;
          margin-bottom: 2px;
          transition: max-height 0.5s ease-in-out;
        }
        a { padding: 0.25rem 0.5rem; }
        &.centered {
          right: unset;
          left: -10px;
        }
        &.right {
          right: unset;
          left: 20px;
        }
        .status-circle {
          font-size: 0.65rem;
          margin-left: 0;
          padding-top: 0.4rem;
        }
      }
    }
    &.ovj-bg-primary {
      td {
        background-color: $ovj-primary !important;
        border-top: 1px solid $ovj-dark-primary;
        border-bottom: 1px solid $ovj-dark-primary;
        &:first-child { border-left: 1px solid $ovj-dark-primary; }
        &:last-child { border-right: 1px solid $ovj-dark-primary; }
      }
      & + tr {
        .ovj-tr-detail, .ovj-tr-more-detail {
          background-color: $ovj-light-primary !important;
        }
      }
    }
    &.ovj-bg-success {
      td {
        background-color: $ovj-success !important;
        border-top: 1px solid $ovj-dark-success;
        border-bottom: 1px solid $ovj-dark-success;
        &:first-child { border-left: 1px solid $ovj-dark-success; }
        &:last-child { border-right: 1px solid $ovj-dark-success; }
      }
      & + tr {
        .ovj-tr-detail, .ovj-tr-more-detail {
          background-color: $ovj-light-success !important;
        }
      }
      
    }
    &.ovj-bg-warning {
      td {
        background-color: $ovj-warning !important;
        border-top: 1px solid $ovj-dark-warning;
        border-bottom: 1px solid $ovj-dark-warning;
        &:first-child { border-left: 1px solid $ovj-dark-warning; }
        &:last-child { border-right: 1px solid $ovj-dark-warning; }
      }
      & + tr {
        .ovj-tr-detail, .ovj-tr-more-detail {
          background-color: $ovj-light-warning !important;
        }
      }
    }
    &.ovj-bg-danger {
      td {
        background-color: $ovj-danger !important;
        border-top: 1px solid $ovj-dark-danger;
        border-bottom: 1px solid $ovj-dark-danger;
        &:first-child { border-left: 1px solid $ovj-dark-danger; }
        &:last-child { border-right: 1px solid $ovj-dark-danger; }
      }
      & + tr {
        .ovj-tr-detail, .ovj-tr-more-detail {
          background-color: $ovj-light-danger !important;
        }
      }
    }
    &.ovj-bg-secondary {
      td {
        background-color: $ovj-secondary !important;
        border-top: 1px solid $ovj-dark-secondary;
        border-bottom: 1px solid $ovj-dark-secondary;
        &:first-child { border-left: 1px solid $ovj-dark-secondary; }
        &:last-child { border-right: 1px solid $ovj-dark-secondary; }
      }
      & + tr {
        .ovj-tr-detail, .ovj-tr-more-detail {
          background-color: $ovj-light-secondary !important;
        }
      }
    }
    &.travel-route-origin {
      td {
        &:first-child { border-bottom-left-radius: 0 !important; }
        &:last-child { border-bottom-right-radius: 0 !important; }
      }
    }
    &.travel-route-stand {
      cursor: default;
      td {
        background-color: $ovj-light-secondary !important;
        &:first-child { border-radius: 0 !important; }
        &:last-child { border-radius: 0 !important; }
      }
      .stand-container {
        position: relative;
        .route-line {
          left: 1.16rem;
          position: absolute;
          top: -1.9rem;
        }
        .stand-name {
          margin-left: 1.75rem;
        }
      }
    }
    &.travel-route-destiny {
      td {
        &:first-child { border-top-left-radius: 0 !important; }
        &:last-child { border-top-right-radius: 0 !important; }
      }
      .destiny-container {
        position: relative;
        .route-line {
          left: 0.77rem;
          position: absolute;
          top: -1.2rem;
        }
      }
    }
    &.travel-route-origin, &.travel-route-stand, &.travel-route-destiny {
      height: 55px !important;
      td {
        padding: 8px 6px 8px 15px !important;
        .td-image {
          margin-right: 0.15rem;
          width: 40px !important;
          height: 40px !important;
        }
      }
    }
  }
  .empty-for-shadow {
    padding-top: 0.5rem;
    div {
      height: 5px;
      margin-top: -10px;
    }
  }
  .ovj-tr-detail, .ovj-tr-more-detail {
    font-size: 0.9rem;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), visibility 0s 1s, opacity 1s linear;
    &.tr-status {
      background-color: $color-f8f8f8;
    }
    &.show {
      max-height: 1000px;
      margin-bottom: 2px;
      visibility: visible;
      opacity: 1;
      transition: max-height 1s ease-in-out, opacity 0s linear;
    }
    p {
      margin: 0;
    }
    .detail-title {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .detail-actions {
      margin-bottom: 0.5rem;
      max-width: 150px;
      margin-left: auto;
      margin-right: auto;
      p {
        margin-bottom: 2px;
        margin-right: 3.5px;
      }
    }
  }
}

table.ovj-departures-table {
  border-collapse: separate;
  border-spacing: 0px 3px;
  font-size: 0.8rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  width: 100%;
  thead {
    background-color: $white;
    font-weight: normal;
    tr {
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05) !important;
      height: 32px;
      th {
        cursor: pointer;
        padding: 0.15rem 0.35rem;
      }
    }
  }
  tbody {
    tr {
      height: 50px;
      td {
        background-color: $white;
        padding: 0 8px;
        &:first-child {
          background-color: transparent;
        }
        &:nth-child(2) {
          background-color: transparent;
        }
        &:nth-child(3) {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
        &:last-child {
          padding-right: 12px;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
        .dep-status-btn {
          border: 1px solid $color-dce9fb;
          border-radius: 10px !important;
          font-size: 0.7rem;
          height: 34px;
          min-width: 100px;
          padding: 0.375rem 0.5rem;
          text-align: left;
          &.boarding {
            background-color: $ovj-success !important;
            border: 1px solid $color-65c46a;
          }
          &.canceled {
            background-color: inherit !important;
            border: 1px solid $color-666666;
          }
          &.leaved {
            background-color: $color-dce9fb !important;
            border: 1px solid $color-3880ff;
          }
          &.on-way {
            background-color: $color-ffec3d !important;
            border: 1px solid $color-e8b209;
          }
        }
        .route-container {
          min-width: 170px;
        }
      }
      &.spacing {
        height: 6px;
      }
    }
    .leaved-departure {
      td {
        background-color: #F4F5F8 !important;
        &:first-child {
          background-color: transparent !important;
        }
        &:nth-child(2) {
          background-color: transparent !important;
        }
      }
    }
    .canceled-departure {
      td {
        background-color: #E5E5E5 !important;
        filter: gray;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        &:first-child {
          background-color: transparent !important;
        }
        &:nth-child(2) {
          background-color: transparent !important;
        }
        &.td-dropdown {
          filter: none;
          .dropdown-menu {
            filter: grayscale(1);
          }
        }
      }
    }
  }
}

.ovj-custom-table {
  table {
    border-collapse: separate;
    border-spacing: 0 3px;
    width: 100%;
    thead {
      tr {
        th {
          background-color: $white;
          padding: 10px;
          &:first-child {
            border-top-left-radius: 10px;
          }
          &:last-child {
            border-top-right-radius: 10px;
          }
          .header-element {
            display: flex;
            align-items: center;
            * {
              cursor: pointer;
            }
            i.icon {
              font-size: 10px;
            }
            p {
              color: rgba(0, 0, 0, 0.57);
              font-size: 16px;
              font-weight: bold;
              line-height: 24px;
            }
          }
        }
      }
    }
    tbody {
      tr {
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        td {
          position: relative;
          background-color: $white;
          padding: 7px 10px 7px 10px;
          &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }
          &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
          .top-shadow {
            width: 100%;
            height: 1px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
            position: absolute;
            top: -4px;
            left: 0px;
          }
          p {
            color: $color-042b63;
            font-size: 18px;
            font-weight: normal;
            line-height: 23px;
            span {
              color: $color-92949C;
              font-size: 12px;
              font-weight: 300;
              line-height: 16px;
            }
          }
        }
        &:first-child {
          td {
            &:first-child {
              border-top-left-radius: 0;
              border-bottom-left-radius: 10px;
            }
            &:last-child {
              border-top-right-radius: 0;
              border-bottom-right-radius: 10px;
            }
          }
        }
        &.selected {
          td {
            background-color: $color-dce9fb;
          }
        }
      }
    }
  }
}

.mobile-items-table {
  display: none;
  margin-bottom: 30px;
  p {
    font-style: normal;
    margin-bottom: 0;
  }
  .header {
    align-items: center;
    display: flex;
    padding: 8px 15px;
    .header-element {
      p {
        color: rgba(0, 0, 0, 0.57);
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
      }
    }
  }
  .card-item {
    background-color: $white;
    border-radius: 10px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 3px;
    padding: 15px 15px;
    &:last-child {
      margin-bottom: 0;
    }
    .item {
      align-items: center;
      display: flex;
      &:first-child {
        margin-bottom: 8px;
      }
    }
  }
}

.paginator {
  margin-top: 25px;
  .pagination {
    justify-content: center;
  }
}

@media screen and(max-width: $break-large) {
  .custom-table-responsive {
    display: block !important;
    width: 100% !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
  }
}