<div class="ovj-assigned-driver-card card shadow p-3 mb-4 mt-2">
  <button class="btn close px-2 py-1" (click)="remove()">
    <i class="icon icon-cross text-danger"></i>
  </button>
  <div class="row align-items-center">
    <div class="col-md-3 text-center">
      <img class="driver-image rounded-circle"
        [src]="driver.user.imageUrl"
        loading="lazy">
    </div>
    <div class="col-lg-9">
      <div class="d-flex justify-content-between">
        <div>
          <p class="ovj-text-xs">Nombre</p>
          <p class="ovj-text-primary">{{ driver.user.name }}</p>
          <p class="ovj-text-xs">Apellido</p>
          <p class="ovj-text-primary">{{ driver.user.lastName }}</p>
          <p class="ovj-text-xs">CI</p>
          <p class="ovj-text-primary">{{ driver.documentNumber }}</p>
        </div>
        <div class="col text-center align-self-center">
          <p class="ovj-text-xs">Categoría</p>
          <p class="category ovj-text-primary category-label">{{ driver.driverLicense.category.charAt(0) }}</p>
        </div>
      </div>
    </div>
  </div>
</div>