<button type="button" class="close-modal-btn btn btn-default" (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="move-to-bus-banner">
  <p class="title"> Mover asiento a otro bus </p>
</div>
<div class="selected-seats">
  <p> Asiento: <b> {{ selectedTicket?.position || '-' | seatNumber }} </b>  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-departure-sales-filter [departure]="selectedDeparture"
        [departures]="departures"
        [withoutTime]="true"
        [defaultParams]="defaultParams"
        (filterDeparturesEvent)="filterDeparturesEvent($event)">
      </app-departure-sales-filter>
    </div>    
  </div>
  <div class="row" *ngIf="!selectedDeparture">
    <div class="col-12">
      <div class="custom-table-responsive">
        <app-filtered-sale-departures-table [departures]="departures"
          [modifying]="modifying"
          [loadingDepartures]="loadingDepartures"
          [initialized]="initialized"
          (selectDepartureEvent)="selectDeparture($event)"
          (setStatusEvent)="setStatus($event)">
        </app-filtered-sale-departures-table>
      </div>
    </div>
    <div class="pagination">
      <pagination-controls  id="pag"
        (pageChange)="pageActual = $event"
        (pageBoundsCorrection)="pageActual = $event"
        maxSize="7"
        directionLinks="true"
        autoHide="true"
        responsive="true"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>
  <div class="row" *ngIf="selectedDeparture">
    <div class="col-12">
      <app-move-to-bus-seat-selection [actualDeparture]="departure"
        [selectedDeparture]="selectedDeparture"
        [departures]="departures"
        [seatSold]="seatSold"
        [selectedSeatIndex]="selectedSeatIndex"
        [selectedTicket]="selectedTicket"
        [selectedTickets]="selectedTickets"
        (backToDeparturesEvent)="backToDepartures()"
        (changeSeatEvent)="changeSeat()">
      </app-move-to-bus-seat-selection>
    </div>
  </div>
</div>