<div class="bus-wrapper">
  <div class="bus-floor" *ngFor="let floor of seatingScheme.floors; let i=index"
    [ngClass]="{'first-floor': i === 0}">
    <div class="bus-row" *ngFor="let row of floor">
      <div class="bus-column" *ngFor="let column of row">
        <ng-container class="bus-element" [ngSwitch]="column">
          <img class="driver-img"
            src="assets/icons/bus/template/driver.svg"
            *ngSwitchCase="'d'"
            loading="lazy">
          <img src="assets/icons/bus/template/tv.svg"
            *ngSwitchCase="'t'"
            loading="lazy">
          <img src="assets/icons/bus/template/steps.svg"
            *ngSwitchCase="'s'"
            loading="lazy">
          <img src="assets/icons/bus/template/hall-light.svg"
            *ngSwitchCase="'e'"
            loading="lazy">
          <div class="seat" *ngSwitchDefault>
            <img src="assets/icons/bus/template/seat.svg">
            <p> {{ getSeatNumber(column) }} </p>
          </div>
        </ng-container>
      </div>
    </div>
    <img class="bus-front" src="assets/icons/bus/template/bus-front.png" *ngIf="i === 0">
      <img class="bus-left-mirror" src="assets/icons/bus/template/bus-left-mirror.svg" *ngIf="i === 0">
      <img class="bus-right-mirror" src="assets/icons/bus/template/bus-right-mirror.svg" *ngIf="i === 0">
      <p class="floor-number" [ngClass]="{'first': i === 0}" *ngIf="seatingScheme.floors.length > 1">
        PISO {{ i + 1 }}
      </p>
  </div>
</div>