<form class="oviajamos-client-form p-0 m-0" autocomplete="off" [formGroup]="personGroup">
  <div class="md-form">
    <input mdbInput type="text" [id]="'passengerName'+index" class="form-control ovj-input with-icon" formControlName="name">
    <img class="input-icon mr-1"
      src="assets/icons/client/person-2.svg"
      loading="lazy">
    <label [for]="'passengerName'+index" class="ovj-label">
      Nombre Completo<span class="text-danger">*</span>
    </label>
  </div>
  <div class="md-form">
    <input mdbInput type="number" [id]="'documentNumber'+index" class="form-control ovj-input with-icon" formControlName="documentNumber"
      (keydown)="numberInputValidator($event)">
      <img class="input-icon"
        src="assets/icons/client/document.svg"
        loading="lazy">
    <label [for]="'documentNumber'+index" class="ovj-label">
      Documento de identidad<span class="text-danger">*</span>
    </label>
  </div>
</form>