@import 'variables';

.modal-wrapper {
  .content {
    padding: 25px 3rem 0 3rem;
    text-align: center;
    p {
      font-style: normal;
      margin: 0;
    }
    .title {
      color: $color-3c64b1;
      font-size: 36px;
      font-weight: 500;
      line-height: 40px;
      margin: 10px;
    }
    .message {
      color: $color-042b63;
      font-size: 14px;
      font-weight: 400;
      line-height: 18.2px;
      b {
        font-weight: bold;
      }
    }
  }
  .actions {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 20px 30px 20px;
    width: 100%;
    .btn {
      color: $color-042b63;
      font-size: 18px;
      font-style: normal;
      font-weight: normal;
      line-height: 23px;
      width: 200px;
    }
  }
}