<div class="modal-wrapper">
  <div class="content">
    <img class="mb-2"
      src="assets/icons/warning-icon.svg"
      loading="lazy">
    <p class="title"> Asiento ocupado </p>
    <p class="message"> No puede <b> sobreescribir </b> un asiento ya vendido. </p>
  </div>
  <div class="actions">
    <button class="btn ovj-btn-light" (click)="action.next(false)">
      Atrás
    </button>
  </div>
</div>