<form class="oviajamos-client-form travel-search-form px-md-auto pr-md-2 py-0 px-1 mt-0"
  autocomplete="off"
  [formGroup]="travelGroup"
  [ngClass]="{'border-bottom': withoutTime, 'departureIsSelected': departure}">
  <div class="filter-inputs" [ngClass]="{'justify-content-center': withoutTime}">
    <div class="md-form">
      <ng-select mdbInput
        id="source"
        class="form-control-gray ovj-input bus-stop-filter"
        labelForId="source"
        formControlName="source"
        notFoundText="Sin coincidencias"
        (close)="filter$.next(true)"
        (change)="filter$.next(true)"
        #source>
        <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
          {{ busStop.name}}
        </ng-option>
      </ng-select>
      <label for="source" class="ovj-label ng-select-label"
        [ngClass]="{'valid': travelForm.source.valid}"
        (click)="source.open()">
        Origen<span class="text-danger"></span>
      </label>
    </div>
    <div class="arrow-wrapper">
      <img src="assets/images/major.svg" loading="lazy">
    </div>
    <div class="md-form location-input">
      <ng-select mdbInput
        id="destination"
        class="form-control-green ovj-input bus-stop-filter"
        labelForId="destination"
        formControlName="destination"
        (close)="filter$.next(true)"
        (change)="filter$.next(true)"
        notFoundText="Sin coincidencias"
        #destination>
        <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
          {{ busStop.name}}
        </ng-option>
      </ng-select>
      <label for="destination" class="ovj-label ng-select-label"
        [ngClass]="{'valid': travelForm.destination.valid}"
        (click)="destination.open()">
        Destino<span class="text-danger"></span>
      </label>
    </div>
    <div class="md-form">
      <dp-date-picker mdbInput
        class="form-control-gray ovj-input"
        [config]="datePickerConf"
        mode="day"
        theme="dp-material"
        id="departureDate1"
        (onChange)="filter$.next(true)"
        [minDate]="minDate"
        formControlName="departureDate"
        #departureDate1>
      </dp-date-picker>
      <label for="departureDate1" class="ovj-label"
        [ngClass]="{'valid': travelForm.departureDate.value &&
          travelForm.departureDate.value.toString().length > 0}"
        (click)="departureDate1.api.open()">
        Fecha<span class="text-danger"></span>
      </label>
    </div>
    <div class="md-form time-wrapper" *ngIf="departure && !withoutTime">
      <div class="btn-group" mdbDropdown>
        <input mdbInput
          mdbDropdownToggle
          type="text"
          id="departureTime"
          class="form-control ovj-input departure-time"
          [value]="(departure?.departureDate.departureTime | formatHour2) + ' / ' + departure?.order"
          readonly>
        <div class="dropdown-menu dropdown-menu-right">
          <app-filtered-sale-departures-table [departures]="departures"
            [pageActual]="pageActual"
            [modifying]="modifying"
            [whitoutStatusOptions]="true"
            [initialized]="initialized"
            [loadingDepartures]="loadingDepartures"
            (selectDepartureEvent)="selectDeparture($event)"
            (setStatusEnumEvent)="setStatus($event)">
          </app-filtered-sale-departures-table>
        </div>
      </div>
    </div>
  </div>
</form>