@import 'variables';
form {
  width: 60%;
  margin: 0 auto;
  .image-banner{
    img{
      width: 100%;
      display: block;
      margin: auto;
    }
  }

  .message-error {
    color: red;
    font-size: 12px;
  }

  button {
    width: 100%;
  }

  .pass-input {
    position: relative;
    i {
      bottom: 10px;
      cursor: pointer;
      position: absolute;
      right: 8px;
    }
  }
    
  .space-rigth{
    margin-right: 0.6em;
  }
  .flot-left {
    float:left;
    margin-left: 5px;
  }
  .margin-info {
    margin-bottom: 1em;
  }

  @media screen and (max-width: $break-large) {
    width: 80%;
    .form-text{
      font-size: 12.8px;
    }
    .size-text{
      font-size: 16px;
    }
    .margin-button-checkbox{
      margin: 8px 0px;
    }
  }
}

.margin {
  line-height: 24px;
}