@import 'variables';
.form-actions-container{
  @media screen and (max-width: $break-small) {
    padding: initial;
  }
}
.oviajamos-form{
  @media screen and (max-width: $break-small) {
    padding: 1em;
  }
}

@media screen and (max-width: $break-small) {
  .movil-padding {
    padding: 15px;
  }
}
.oviajamos-form{
  @media screen and (max-width: $break-small) {
    padding: 1em;
  }
}