<div class="custom-table-responsive">
  <table class="assignment-data-table mt-3">
    <thead>
      <tr>
        <th> N. paquetes </th>
        <th> Descripción </th>
        <th> Frágil </th>
        <th> Peso (Kg) </th>
        <th> Total (Bs) </th>
        <th> <i class="icon icon-settings-outline"></i> </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let packageGroup of packageFormArray.controls; let i=index">
        <tr class="oviajamos-form" [formGroup]="packageGroup">
          <td class="ovj-form">
            <input type="number" class="form-control ovj-input" formControlName="amount"
              (keydown)="numberInputValidator($event)">
          </td>
          <td class="ovj-form">
            <input type="text" class="form-control ovj-input" formControlName="description">
          </td>
          <td class="ovj-form">
            <input type="checkbox" class="fragile-checkbox">
            <ng-container *ngIf="false">
              <input type="checkbox" formControlName="fragile"
                id="fragile-check"
                class="ovj-check">
              <label class="ovj-label-check font-weight-bold ovj-text-sm m-0" for="fragile-check">&nbsp;</label>
            </ng-container>
          </td>
          <td class="ovj-form">
            <input type="number" class="form-control ovj-input" formControlName="weight"
              (keydown)="numberInputValidator($event)">
          </td>
          <td class="ovj-form">
            <input type="number" class="form-control ovj-input" formControlName="total"
              (keydown)="floatInputValidator($event)">
          </td>
          <td>
            <button type="button"
              class="ovj-btn-circle options-btn btn btn-default"
              (click)="removePackage(i)">
              <div class="rounded-circle">
                <i class="icon icon-trash"></i>
              </div>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<div class="table-actions mt-2">
  <button type="button" class="btn btn-default ovj-btn orange"
    (click)="addPackage()">
    <i class="icon icon-plus"></i>
    <p> Añadir paquete </p>
  </button>
  <div class="to-pay">
    <p> Total a pagar: </p>
    <p> 20 Bs. </p>
  </div>
</div>
<form class="oviajamos-form mt-3 p-0" autocomplete="off" [formGroup]="packageDataGroup">
  <div class="ovj-form w-100">
    <label class="ovj-label"> Observación <span class="text-danger">*</span></label>
    <ng-select class="form-control ovj-select"
      formControlName="observation"
      [searchable]="false"
      [ngClass]="{'is-invalid': submitted && packageDataForm.observation.errors}">
      <ng-option *ngFor="let key of observationEnumKeys" [value]="observationEnum[key]">
        {{ observationEnum[key] }}
      </ng-option>
    </ng-select>
    <div class="invalid-feedback" *ngIf="packageDataForm.observation.errors?.required">Campo obligatorio</div>
  </div>
</form>