<button type="button" aria-label="Close" class="close-modal-btn btn btn-default mt-2 mr-2"
  (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="container">
  <div class="row">
    <div class="bus-img col-12">
      <img src="assets/icons/bus/bus.png" loading="lazy">
    </div>
  </div>
  <div class="row">
    <div class="bus-img col-lg-6 col-12">
      <img src="assets/icons/bus/seats.png" loading="lazy">
    </div>
    <div class="bus-img col-lg-6 col-12">
      <img src="assets/icons/bus/type-seat.png" loading="lazy">
    </div>
  </div>
</div>