@import 'variables';

.oviajamos-form {
  .header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 15px ;
    .img-wrapper {
      text-align: center;
      i.icon {
        font-size: 100px;
        &::before {
          color: $color-042b63;
        }
      }
    }
    p {
      font-style: normal;
      margin-bottom: 0;
    }
    .title {
      color: $color-3c64b1;
      font-size: 36px;
      font-weight: 500;
      line-height: 24px;
      margin-top: 20px;
    }
    .leyend {
      color: $color-042b63;
      font-size: 14px;
      font-weight: normal;
      line-height: 18px;
      margin-top: 12px;
    }
  }
}