<form class="border-light oviajamos-form mb-5" autocomplete="off"
  [formGroup]="changePasswordGroup">
  <div class="header">
    <div class="img-wrapper">
      <i class="icon icon-shield-keyhole"></i>
      <p class="title"> Cambio de contraseña </p>
      <p class="leyend">
        Se recomienda usar una contraseña segura, y que no uses en otros sitios.  
      </p>
    </div>
  </div>
  <div class="row offset-lg-3 offset-md-1 offset-0">
    <div class="col-lg-8 col-md-10 col-12">
      <div class="ovj-form">
        <label class="ovj-label"> Nueva Contraseña <span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="password"
          [ngClass]="{'is-invalid': submitted && changePasswordForm.password.errors}">
        <div class="invalid-feedback" *ngIf="changePasswordForm.password.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="changePasswordForm.password.errors?.minlength">Mínimo de 8 caracteres</div>
      </div>
    </div>
  </div>
  <div class="row offset-lg-3 offset-md-1 offset-0">
    <div class="col-lg-8 col-md-10 col-12">
      <div class="ovj-form">
        <label class="ovj-label"> Vuelva a escribir la nueva contraseña <span class="text-danger">*</span></label>
        <input type="text" class="form-control ovj-input" formControlName="confirmPassword"
          [ngClass]="{'is-invalid': submitted && changePasswordForm.confirmPassword.errors}">
        <div class="invalid-feedback" *ngIf="changePasswordForm.confirmPassword.errors?.required">Campo obligatorio</div>
        <div class="invalid-feedback" *ngIf="changePasswordForm.confirmPassword.errors?.machPassword">La contraseña no coincide</div>
      </div>
    </div>
  </div>
</form>