@import 'variables';

.enterprises {
  p {
    margin-bottom: 0;
    font-style: normal;
  }
  .header {
    align-items: center;
    justify-content: space-between;
    .ovj-banner {
      .title {
        color: $white;
        font-size: 36px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
  .content {
    margin-top: 12px;
    margin-bottom: 30px;
    p {
      font-style: normal;
      margin-bottom: 0;
    }
    .filter {
      background-color: $white;
      border-radius: 8px;
      padding: 10px;
    }
    .ovj-custom-table {
      tbody {
        tr {
          td {
            padding: 8px 15px;
            .enterprise-info {
              align-items: center;
              display: flex;
              .td-icon-wrapper {
                align-items: center;
                height: 50px;
                background-color: $color-ededed;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                margin-right: 5px;
                width: 50px;
                img {
                  height: 48px;
                  width: 48px;
                }
                i.icon {
                  font-size: 18px;
                  &::before {
                    color: $color-042b63;
                  }
                }
              }
            }
            p {
              color: $color-666666;
              font-size: 18px;
              font-weight: 300;
              line-height: 21px;
            }
            &:nth-child(1) {
              p {
                color: $color-042b63;
                font-size: 18px;
                font-weight: normal;
                line-height: 21px;
              }
            }
            &:last-child {
              width: 90px;
            }
            .status-badge {
              align-items: center;
              border-radius: 10px;
              display: flex;
              height: 31px;
              justify-content: center;
              width: 148px;
              p {
                color: $white;
                font-size: 13px;
                font-weight: 400;
                line-height: 16px;
              }
              &.warning {
                background-color: $color-ffc107;
                p {
                  color: $color-666666;
                }
              }
              &.info {
                background-color: $color-17a2b8;
              }
              &.success {
                background-color: $color-57c22d;
              }
              &.danger {
                background-color: $color-fb3f4a;
              }
            }
          }
        }
      }
    }
    .custom-card-info {
      .unselected-element {
        .icon-wrapper {
          margin-top: 25px;
        }
      }
      .icon-wrapper {
        align-items: center;
        background-color: $color-ededed;
        border-radius: 50%;
        display: flex;
        height: 112px;
        justify-content: center;
        width: 112px;
        img {
          height: 112px;
          width: 112px;
        }
        i.icon {
          font-size: 60px;
          &::before { 
            color: $color-042b63;
          }
        }
      }
      .selected-element {
        .principal {
          .icon-wrapper {
            margin-top: 20px;
          }
          .status {
            background-color: $color-f4f5f8;
            border-radius: 8px;
            padding: 10px;
            width: 100%;
            p {
              color: $color-042b63;
              font-size: 18px;
              font-weight: 500;
              line-height: 21px;
            }
            .badge {
              align-items: center;
              border-radius: 16px;
              display: flex;
              height: 55px;
              justify-content: center;
              margin-top: 5px;
              p {
                color: $white;
                font-size: 24px;
                font-weight: 700;
                line-height: 24px;
              }
              &.warning {
                background-color: $color-ffc107;
              }
              &.info {
                background-color: $color-17a2b8;
              }
              &.success {
                background-color: $color-57c22d;
              }
              &.danger {
                background-color: $color-fb3f4a;
              }
            }
          }
        }
        .detail {
          .commissions {
            .title {
              color: $color-042b63;
              font-size: 18px;
              font-weight: 500;
              line-height: 21px;
              margin-bottom: 20px;
            }
            .item {
              align-items: center;
              display: flex;
              justify-content: space-between;
              margin-bottom: 15px;
              &:last-child {
                margin-bottom: 0;
              }
              p {
                &:first-child {
                  color: $color-343a40;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 19px;
                }
                &:last-child {
                  color: $color-868e96;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                }
              }
            }
            .to-pay {
              align-items: center;
              display: flex;
              justify-content: space-between;
              margin: 30px 0;
              p {
                &:first-child {
                  color: $color-343a40;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                }
                &:last-child {
                  color: $color-343a40;
                  font-size: 24px;
                  font-weight: 400;
                  line-height: 24px;
                }
              }
            }
          }
          .actions {
            .ovj-btn {
              border-radius: 4px !important;
              font-size: 16px;
              font-weight: 400;
              height: 36px;
              line-height: 24px;
              margin-bottom: 20px;
              width: 100%;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  .mobile-items-table {
    display: none;
    .header {
      .header-element {
        &:first-child {
          width: 100%;
        }
      }
    }
    .card-item {
      background-color: $white;
      border-radius: 10px;
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      margin-bottom: 3px;
      padding: 15px 15px;
      &:last-child {
        margin-bottom: 0;
      }
      .item {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding: 0   8px;
        .custom-row {
          align-items: center;
          display: flex;
          .td-icon-wrapper {
            align-items: center;
            height: 50px;
            background-color: $color-ededed;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            margin-right: 5px;
            width: 50px;
            i.icon {
              font-size: 18px;
              &::before {
                color: $color-042b63;
              }
            }
          }
          p {
            color: $color-042b63;
            font-size: 18px;
            font-style: normal;
            font-weight: normal;
            line-height: 21px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

app-spinner-small {
  ::ng-deep{
    .spinner-container{
      min-height: 30vh;
      margin-bottom: 15vh;
    }
  }
}

@media screen and (max-width: $break-large) {
  .enterprises {
    .header {
      .ovj-banner {
        .title {
          color: $white;
          font-size: 30px;
          font-weight: 500;
          line-height: 20px;
        }
      }
      .add-button {
        display: none;
      }
    }
    .content {
      margin-bottom: 15px;
      .ovj-custom-table, .custom-card-info {
        display: none;
      }
    }
    .mobile-items-table {
      display: flex;
    }
  }
}

@media screen and (max-width: $break-small) {
  .enterprises {
    .header {
      .title {
        font-size: 28px !important;
      }
    }
  }
}