<section class="ticket-holders">
  <div class="container">
    <div class="row">
      <div class="col-12 ovj-banner">
        <img class="d-md-flex"
          src="assets/images/admin-oviajamos/oviajamos.png"
          loading="lazy">
        <p class="title m-0">Empresa de transporte</p>
      </div>
    </div>
    <button class="btn ovj-btn-add-item border px-2 mt-3"
      (click)="addEnterprise()">
      <div class="add-item-content ovj-admin d-flex align-items-center">
        <div class="rounded-circle">
          <img class="rounded-circle"
            src="assets/icons/add-icon-2-light.svg"
            loading="lazy">
        </div>
        <p>Añadir Empresa</p>
      </div>
    </button>
    <div class="row">
      <div class="col-12">
        <app-spinner-small *ngIf="loadingEnterprises"></app-spinner-small>
        <table class="ovj-desktop-table table-responsive-lg" *ngIf="!loadingEnterprises">
          <thead>
          <tr>
            <th *ngFor="let col of colsTable; let i=index"
              (click)="orderTableBy(i)">
              <img src="assets/icons/order-arrow-down-enabled.svg"
                *ngIf="col.orderBy"
                loading="lazy">
              <img src="assets/icons/order-arrow-down-disabled.svg"
                *ngIf="!col.orderBy"
                loading="lazy">
              <img [src]="col.extraImg"
                *ngIf="col.extraImg"
                loading="lazy">
              {{col.name}}
            </th>
          </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let i=index; let enterprise of enterprises">
              <tr class="ovj-tr btn border shadow-sm"
                [ngClass]="{'ovj-bg-warning': enterprise.status === companyStatusEnum.INCOMPLETE_RECORD}"
                (click)="enterprise.showDetail = !enterprise.showDetail">
                <td>
                  <div class="d-flex align-items-center">
                    <img class="td-image rounded-circle"
                      [src]="enterprise.imageUrl"
                      *ngIf="enterprise.imageUrl?.length > 0"
                      loading="lazy">
                    <div class="default-icon"
                      *ngIf="!enterprise.imageUrl || enterprise.imageUrl.length === 0">
                      <i class="icon icon-business"></i>
                    </div>
                    <p class="ovj-text-primary">{{enterprise.name}}</p>
                  </div>
                </td>
                <td>
                  <p class="ovj-text-primary">{{enterprise.referencePhoneNumber}}</p>
                </td>
                <td>
                  <p class="ovj-text-primary">{{enterprise.legalOrganizer?.address}}</p>
                </td>
                <td>
                  <div class="status-dropdown d-inline-block" ngbDropdown
                    *ngIf="enterprise.status !== companyStatusEnum.INCOMPLETE_RECORD">
                    <button ngbDropdownToggle class="btn"
                      id="enterpriseStatus"
                      (click)="$event.preventDefault()">
                      <i class="icon icon-sort-arrow"></i>
                      <p class="m-0">
                        {{ enterprise.status }}
                      </p>
                      <div class="fill-btn"></div>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="enterpriseStatus">
                      <ng-container *ngFor="let key of companyStatusEnumKeys">
                        <a ngbDropdownItem
                          *ngIf="enterprise.status !== companyStatusEnum[key] &&
                            companyStatusEnum[key] !== companyStatusEnum.INCOMPLETE_RECORD"
                          (click)="setCompanyStatus(enterprise, key); $event.preventDefault()">
                          <p> {{ companyStatusEnum[key] }} </p>
                        </a>
                      </ng-container>
                    </div>
                  </div>
                  <div class="incomplete-badge"
                    *ngIf="enterprise.status === companyStatusEnum.INCOMPLETE_RECORD">
                    <div class="badge">
                      <p> Registro incompleto </p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center justify-content-end"
                    *ngIf="!modifying.includes(enterprise.companyId)">
                    <div class="btn-group" mdbDropdown>
                      <button mdbDropdownToggle
                        type="button"
                        class="ovj-btn-circle options-btn btn btn-default">
                        <div class="rounded-circle">
                          <img src="assets/icons/options-icon.svg" loading="lazy">
                        </div>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" (click)="editEnterprise(enterprise)">
                          <ng-container *ngIf="enterprise.status !== companyStatusEnum.INCOMPLETE_RECORD">
                            Editar
                          </ng-container>
                          <ng-container *ngIf="enterprise.status === companyStatusEnum.INCOMPLETE_RECORD">
                            Completar registro
                          </ng-container>
                        </a>
                        <a class="dropdown-item" (click)="deleteEnterprise(enterprise)">
                          Eliminar
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end align-items-center pr-2" *ngIf="modifying.includes(enterprise.companyId)">
                    <div class="spinner-border spinner-btn ovj-primary-spinner" role="status"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="ovj-tr-detail rounded shadow-sm border"></div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="paginator">
    <ngb-pagination [collectionSize]="paginationMeta?.totalItems"
      [page]="paginationMeta?.currentPage"
      [boundaryLinks]="true"
      (pageChange)="pageChange($event)">
    </ngb-pagination>
  </div>
</section>
