@import 'variables';

table.ovj-desktop-table {
  tbody {
    tr {
      cursor: default;
      td {
        &:nth-child(4) {
          width: 160px;
        }
        &:last-child {
          width: 80px;
        }
        .default-icon {
          align-items: center;
          border-radius: 50%;
          background-color: $white;
          display: flex;
          height: 45px;
          justify-content: center;
          width: 45px;
          i {
            font-size: 27px;
            margin-left: 2px;
            margin-top: 2px;
            &::before {
              color: $color-042b63;
            }
          }
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
}

.title{
  color: white;
}

app-spinner-small {
  ::ng-deep{
    .spinner-container{
      min-height: 40vh;
    }
  }
}

.status-dropdown {
  text-align: center;
  width: 150px;
  button {
    align-items: center;
    border: 1px solid #DCE9FB;
    border-radius: 10px;
    display: flex;
    height: 31px;
    justify-content: space-between;
    width: 100%;
    &::after {
      display: none;
    }
    i.icon {
      font-size: 8px;
      margin-right: 5px;
      &::before {
        color: $color-042b63;
      }
    }
    p {
      color: $color-666666;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      line-height: 16px;
    }
    .fill-btn {
      width: 3px;
    }
  }
}

.incomplete-badge {
  text-align: center;
  width: 150px;
  .badge {
    align-items: center;
    background-color: $white;
    border: 1px solid $color-ff533d;
    border-radius: 10px;
    display: flex;
    height: 31px;
    justify-content: center;
    width: 100%;
    p {
      color: $color-ff533d;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      line-height: 16px;
    }
  }
}