@import 'variables';

.center-view {
  background: rgba(255, 255, 255);
  width: 100%;
  .login-wrapper {
    display: flex;  
    min-height: 100vh;
    .login {
      width: 40%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      ::ng-deep {
        app-admin-login-form {
          align-items: center;
          display: flex;
          height: calc(100% - 40px);
        }
      }
      .login-footer{
        align-items: center;
        background: #042B63;
        display: flex;
        height: 40px;
        justify-content: center;
        margin-top: auto;
        width: 100%;
        p {
          margin: 0;
          color: white;
        }
      }
    }
    .banner{
      background-image: url("/assets/images/login.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      display: inline-block;
      text-align: center;
      color: white;
      font-family: IBM Plex Sans;
      font-size: 72px;
      font-style: italic;
      font-weight: normal;
      line-height: 94px;
      letter-spacing: 0px;
      text-align: left;
      width: 60%;
      .centrado{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-90%, -50%);
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .card {
    border-radius: 21px;
    box-shadow: 0px 4px 50px #c4c4c4;
    background: $white;
    padding: 2.5em 1em;
    .title-section {
      border-bottom: 1px solid #c4c4c4;
      display: flex;
      justify-content: center;
      .title {
        color: $color-042b63;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
      }
    }
    .body-section {
      border-bottom: 1px solid $color-c4c4c4;
      padding-top: 1em;
      .social-netword {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1em;
        p {
          font-family: "roboto";
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          @media screen and (max-width: $break-small) {
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
    @media screen and (max-width: $break-small) {
      padding: 1.5em 1em;
    }
  }
}

@media screen and (max-width: $break-large) {
  .center-view {
    .login-wrapper {
      .login {
        width: 100%;
        ::ng-deep {
          app-admin-login-form {
            padding: 0 20%;
          }
        }
      }
      .banner {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .center-view {
    .login-wrapper {
      .login {
        ::ng-deep {
          app-admin-login-form {
            padding: 0;
          }
        }
      }
    }
  }
}