<div class="container mb-4">
  <div class="row">
    <div class="col-12 ovj-banner">
      <img src="assets/images/perfil-banner.png" loading="lazy">
      <p class="title text-light m-0">Perfil</p>
    </div>
    <div class="col-md-8 offset-md-2">
      <div class="card shadow mt-2">
        <app-profile-form></app-profile-form>
        <div class="form-actions-container">
          <button class="btn ovj-btn-light" type="button" [disabled]="submitting" (click)="onDiscard()">Cancelar</button>
          <button class="btn ovj-btn-blue" type="submit" [disabled]="submitting" (click)="onSubmit()">
            <ng-container *ngIf="!submitting"> Guardar </ng-container>
            <div *ngIf="submitting" class="spinner-border spinner-btn text-light" role="status"></div>
            <ng-container [ngSwitch]="submitting">
            </ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
