@import 'variables';

.content {
  .item {
    .icon-container {
      background: unset;
    }
    .item-topic {
      p {
        &:first-child {
          color: $color-042b63;
          font-size: 20px;
          font-weight: normal;
          line-height: 26px;
          margin-bottom: 2px;
        }
        &:last-child {
          color: #4F4F4F;
          font-size: 14px;
          font-weight: 300;
          line-height: 16px;
        }
      }
    }
  }
}