<div class="options-modal">
  <div class="options-header">
    <p> Acciones </p>
    <button class="btn btn-default" aria-label="Close" (click)="action.next(false)">
      <i class="icon icon-cross"></i>
    </button>
  </div>
  <div class="content">
    <div class="item" (click)="create('express')">
      <div class="icon-container">
        <img src="assets/icons/eventual-departure.svg" loading="lazy">
      </div>
      <div class="item-topic">
        <p> Contratos (Expreso) </p>
        <p> Se programará una salida. (Recomendado para Contratos) </p>
      </div>
    </div>
    <div class="item" (click)="create('eventual')">
      <div class="icon-container">
        <img src="assets/icons/express-departure.svg" loading="lazy">
      </div>
      <div class="item-topic">
        <p> Eventual </p>
        <p> Para programar una salida. (Recomendado si no tiene horarios fijos) </p>
      </div>
    </div>
    <div class="item" (click)="create('recurrent')">
      <div class="icon-container">
        <img src="assets/icons/recurrent-departure.svg" loading="lazy">
      </div>
      <div class="item-topic">
        <p> Recurrente (Frecuente) </p>
        <p> Para programar varias salidas automáticamente. (Recomendado para horarios fijos) </p>
      </div>
    </div>
  </div>
</div>