@import 'variables';

.custom-table-responsive {
  .ovj-departures-table {
    tbody {
      .route-container {
        img {
          height: 30px;
          width: 30px;
        }
      }
      .td-dropdown {
        .btn-group {
          .dropdown-menu {
            .dropdown-item {
              align-items: center;
              display: flex;
              i.icon, img {
                margin-right: 5px;
                font-size: 23px;
              }
            }
          }
        }
      }
    }
  }
}
.mobile-departures-wrapper {
  display: none;
  .departure-card {
    background-color: $white;
    border: 1px solid $color-e1e1e1;
    cursor: pointer;
    font-style: normal;
    padding: 12px 11px;
    p {
      margin-bottom: 0;
    }
    .departure-data {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .type-time {
        align-items: center;
        color: $color-666666;
        display: flex;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        img {
          height: 24px;
          width: 24px;
        }
      }
      .price {
        color: $color-666666;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
      }
    }
    .driver-data {
      display: flex;
      justify-content: space-between;
      p {
        &:first-child {
          color: $color-666666;
          font-size: 15px;
          font-weight: normal;
          line-height: 24px;
        }
        &:last-child {
          color: $color-666666;
          font-size: 15px;
          font-weight: 500;
          line-height: 24px;
        }
      }
    }
    .travel-route {
      color: $color-666666;
      font-size: 18px;
      font-weight: normal;
      line-height: 24px;
      margin-bottom: 15px;
    }
    .options {
      align-items: center;
      display: flex;
      justify-content: space-between;
      .actions {
        button {
          background: $white;
          border: 1px solid #DCE9FB;
          border-radius: 10px;
          height: 31px;
          font-size: 12px;
          font-style: normal;
          font-weight: normal;
          line-height: 16px;
          padding: 2px 18px;
          &.boarding {
            background-color: $ovj-success !important;
            border: 1px solid $color-65c46a;
          }
          &.canceled {
            background-color: inherit !important;
            border: 1px solid $color-666666;
          }
          &.leaved {
            background-color: $color-dce9fb !important;
            border: 1px solid $color-3880ff;
          }
          &.on-way {
            background-color: $color-ffec3d !important;
            border: 1px solid $color-e8b209;
          }
        }
      }
      .switch-spinner {
        align-items: center;
        display: flex;
        justify-self: center;
        label {
          margin-top: 4px !important;
        }
      }
    }
  }
}
app-spinner-small {
  ::ng-deep{
    .spinner-container{
      min-height: 35vh;
    }
  }
}

@media screen and(max-width: $break-large) {
  .custom-table-responsive {
    display: none !important;
  }
  .mobile-departures-wrapper {
    display: block;
  }
}