<section class="mb-5">
  <div class="container">
    <app-register-section></app-register-section>
    <ng-container [ngSwitch]="saleLashSelected">
      <app-total-sales *ngSwitchCase="undefined || null"
        [saleReports]="saleReports"
        [enterprise]="enterprise"
        [newSalesDataReport$]=newSalesDataReport$>
      </app-total-sales>
    </ng-container>
  </div>
</section>
