<button type="button" aria-label="Close"
  class="close-modal-btn btn btn-default"
  (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="custom-card-info">
  <div class="selected-element content-item">
    <div class="principal">
      <p class="card-title"> Detalle oficina </p>
      <div class="actions">
        <button class="btn btn-default ovj-btn dark-orange-bordered" (click)="deleteOffice(office)">
          Eliminar
        </button>
        <button class="ovj-btn btn btn-default orange" (click)="editOffice(office)">
          Editar
        </button>
      </div>
    </div>
    <div class="detail mt-4">
      <div class="custom-row">
        <div class="sub-row">
          <p> Nombres de Oficina </p>
          <p> Tipo de oficina </p>
        </div>
        <div class="sub-row">
          <p> {{ office.name }} </p>
          <p> {{ office.type }} </p>
        </div>
      </div>
      <div class="custom-row">
        <div class="sub-row">
          <p> Departamento </p>
          <p> Parada </p>
        </div>
        <div class="sub-row">
          <p> {{ office.department }} </p>
          <p> ??? </p>
        </div>
      </div>
      <div class="item-info mt-4">
        <p> Fecha cambio de llave de dosificación </p>
        <p> {{ (office.dosage) ?
               (office.dosage.emissionTimeLimit | formatDate) :
               'Sin dosificación' }} </p>
      </div>
      <div class="item-info">
        <p> Dirección </p>
        <p> {{ office.address }} </p>
      </div>
    </div>
    <div class="mobile-actions">
      <button type="button" class="btn btn-default ovj-btn danger-bordered" (click)="deleteOffice(office)">
        Eliminar
      </button>
      <button type="button" class="btn btn-default ovj-btn success-bordered" (click)="editOffice(office)">
        Editar
      </button>
      <button type="button" class="btn btn-default ovj-btn orange" (click)="action.next(false)">
        Cerrar
      </button>
    </div>
  </div>
</div>