@import 'variables';

.custom-card-info {
  .content-item {
    .principal {
      .item-sub-label {
        margin-bottom: 0;
      }
    }
  }
}

.detail {
  .custom-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    .sub-row {
      display: flex;
      p {
        font-style: normal;
        margin-bottom: 0;
        padding: 0;
        &:first-child { width: 50%; }
        &:last-child { width: 50%; }
      }
      &:first-child {
        p {
          color: $black;
          font-size: 12px;
          font-weight: normal;
          line-height: 16px;
        }
      }
      &:last-child {
        p {
          color: $color-042b63;
          font-size: 16px;
          font-weight: normal;
          line-height: 24px;
        }
      }
    }
  }
  .item-info {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      font-style: normal;
      margin-bottom: 0;
      &:first-child {
        color: $black;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
      }
      &:last-child {
        color: $color-042b63;
        font-size: 18px;
        font-weight: normal;
        line-height: 21px;
      }
    }
  }
}

.mobile-actions {
  .ovj-btn {
    width: 100%;
    border-radius: 4px;
    height: 48px;
  }
  .divider {
    &.actions {
      margin: 5px 0 18px 0 !important;
    }
  }
}

.lg-mobile-actions {
  display: flex;
  margin: 35px 0 30px 0;
  .ovj-btn {
    height: 46px;
    width: 50%;
    &:first-child {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: $break-small) {
  .lg-mobile-actions {
    display: none;
  }
}