<div class="card shadow-sm mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-2 d-lg-block d-none pr-lg-0 text-center align-self-center">
        <img src="assets/images/company-example.svg" loading="lazy">
      </div>
      <div class="col-lg-10 col-12 pl-lg-0">
        <div class="px-lg-3">
          <div class="d-flex travel-header">
            <div class="col-lg-8 col-7 align-self-center">
              <p class="client-text-dark-primary client-text-800 client-text-large">
                Trans. Bolivar
              </p>
            </div>
            <div class="col-lg-2 col-3 p-0">
              <p class="ovj-text-xs client-text-primary client-text-800"> Tipo de bus </p>
              <p class="client-text-dark-primary client-text-large line-height"> {{ departure.bus.type }} </p>
            </div>
            <div class="col-lg-2 col-2 px-lg-2 p-0">
              <p class="ovj-text-xs client-text-primary client-text-800"> Precio </p>
              <p class="client-text-dark-primary client-text-large line-height"> {{ departure.price }}bs </p>
            </div>  
          </div>
        </div>
        <div class="travel-info px-lg-4 d-flex px-2 mt-3">
          <div class="source col-lg-5 pr-0">
            <div class="departure">
              <div>
                <p class="ovj-text-xs client-text-primary client-text-800"> Partida </p>
                <p class="client-text-dark-primary client-text-large line-height client-text-500">
                  {{ departure.departureDate.departureTime | formatHour2 }}
                </p>
              </div>
              <div class="divider"></div>
              <div class="px-auto">
                <p class="ovj-text-xs client-text-primary client-text-800"> Terminal de </p>
                <p class="client-text-orange client-text-800">
                  {{ departure.route.source.name }}
                </p>
              </div>
            </div>
          </div>
          <div class="arrow col-lg-2 align-self-center px-lg-auto">
            <img src="assets/icons/client/arrow-right-orange.svg" loading="lazy">
            <div class="mt-3 d-lg-none d-block" *ngIf="false">
              <p class="ovj-text-xs client-text-primary client-text-800"> Duración </p>
              <p class="client-text-dark-primary client-text-large line-height client-text-500"> --:-- h </p>
            </div>
          </div>
          <div class="destination col-lg-5 p-lg-0 pl-2">
            <div class="arrival pl-lg-2">
              <div class="px-auto">
                <p class="ovj-text-xs client-text-primary client-text-800"> Llegada Aprox. </p>
                <p class="client-text-dark-primary client-text-large line-height client-text-500"> Estimando... </p>
              </div>
              <div class="divider"></div>
              <div class="px-auto">
                <p class="ovj-text-xs client-text-primary client-text-800"> Terminal de </p>
                <p class="client-text-orange client-text-800"> {{ departure.route.destination.name }} </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 pl-0 d-lg-block d-none" *ngIf="false">
            <p class="ovj-text-xs client-text-primary client-text-800"> Tiempo de viaje aprox. </p>
            <p class="client-text-dark-primary client-text-large line-height client-text-500"> --:-- horas </p>
          </div>
        </div>
        <div class="d-flex justify-content-center suggestion-message py-2 px-3 mt-2" *ngIf="false">
          <p class="text-center client-text-dark-primary client-text-500">
            Usted abordará en la parada
            "<b class="client-text-800"> {{ departure.route.intermediateRoutes[intermediateRouteIndex].destination.name }} </b>"
            a horas <b class="client-text-800">--:--</b> aprox.<br>
            Se le recomienda estar presente una hora antes.
          </p>
        </div>
        <div class="travel-actions px-4 my-2">                
          <span class="client-text-primary client-text-500 mr-md-5 mb-2"><u> {{ availableSeats }} asientos disponibles </u></span>
          <button type="button" class="btn ovj-btn-orange-3 font-weight-bold"
            (click)="selectTravel()"
            mdbWavesEffect>
            Seleccionar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>