@import 'variables';

.card-body {
  color: $color-000042;
  font-size: 0.9rem;
  padding: 0;
  p {
    margin: 0;
  }
  .travel-header {
    border-bottom: 3px solid $ovj-secondary;
    margin-bottom: 0;
    padding: 0.75rem 0.5rem 0.25rem 0.5rem;
  }
  .travel-info {
    border-bottom: 3px solid $ovj-secondary;
    padding-bottom: 0.25rem;
    .departure {
      align-items: center;
      display: flex;
      .divider {
        border-left: 1px solid $color-1763d1;
        height: 25px;
        margin: 0 0.5rem;
      }
    }
    .arrival {
      display: flex;
      .divider {
        border-left: 1px solid $color-1763d1;
        height: 25px;
        margin: 0 0.5rem;
      }
    }
  }
  .suggestion-message {
    background-color: $color-fff3cd;
  }
  .travel-actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: $break-large) {
  .travel-info {
    .source {
      width: 40%;
    }
    .arrow {
      width: 20%;
    }
    .destination {
      width: 40%;
    }
  }
}

@media screen and (max-width: $break-small) {
  .suggestion-message {
    font-size: 0.8rem;
  }
  .travel-info {
    .departure {
      align-items: flex-start !important;
      flex-direction: column;
      .divider {
        display: none;
      }
    }
    .arrival {
      align-items: flex-start !important;
      flex-direction: column;
      .divider {
        display: none;
      }
    }
  }
  .travel-actions {
    flex-direction: column;
    span {
      margin-bottom: 0.25rem;
    }
    button {
      width: 100%;
    }
  }
}