@import 'variables';

.bus-floor {
  display: inline-block;
  margin-bottom: 5rem;
  padding-left: 35px;
  margin-right: 4rem;
  position: relative;
  vertical-align: top;
  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
  >.bus-row {
    background-color: $color-f4f5f8;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    &:first-child {
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      padding-top: 2rem;
    }
    &.last {
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      padding-bottom: 1.5rem;
    }
    .bus-column {
      .element {
        align-items: center;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        height: 54px;
        position: relative;
        width: 58px;
        &.driver {
          cursor: default;
        }
        &.seat {
          p {
            color: $black;
            line-height: 26px;
            font-size: 20px;
            font-style: normal;
            margin: 0;
            position: absolute;
            top: 22%;
          }
        }
      }
    }
  }
  .add-bus-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: initial;
    position: absolute;
    right: -32px;
    top: -48px;
    width: 52px;
    .ovj-btn-circle {
      background-color: $white;
      border: 1px solid rgba(0, 0, 0, 0.2);
      .rounded-circle {
        img {
          width: 15px !important;
        }
      }
    }
    .row-to-add {
      display: none;
      img {
        margin-bottom: 2px !important;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &:hover {
      background-color: #C5FAC6;
      border-radius: 30px 30px 5px 5px;
      height: calc(100% + 30px);
      .ovj-btn-circle {
        margin-bottom: 41px !important;
      }
      .row-to-add {
        display: block;
      }
    }
  }
  .add-bus-row {
    align-items: center;
    bottom: -31px;
    display: flex;
    height: 54px;
    left: -15px;
    position: absolute;
    width: initial;
    .ovj-btn-circle {
      background-color: $white;
      border: 1px solid rgba(0, 0, 0, 0.2);
      .rounded-circle {
        img {
          width: 15px !important;
        }
      }
    }
    .column-to-add {
      display: none;
      img {
        margin-right: 5px !important;
        margin-left: 1px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &:hover {
      background-color: #C5FAC6;
      border-radius: 30px 5px 5px 30px;
      width: calc(100% + 15px);
      .ovj-btn-circle {
        margin-right: 36px !important;
      }
      .column-to-add {
        display: flex;
      }
    }
  }
  .remove-bus-row {
    align-items: center;
    bottom: 25px;
    display: flex;
    height: 52px;
    left: -14px;
    position: absolute;
    .ovj-btn-circle {
      background-color: $white;
      border: 1px solid #FB3F4A;
    }
    &:hover {
      background: rgba(255, 83, 61, 0.4);
      border-radius: 30px 5px 5px 30px;
      width: calc(100% + 15px);
    }
  }
  .remove-bus-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 27px;
    top: -48px;
    width: 52px;
    .ovj-btn-circle {
      background-color: $white;
      border: 1px solid #FB3F4A;
    }
    &:hover {
      background: rgba(255, 83, 61, 0.4);
      border-radius: 30px 30px 5px 5px;
      height: calc(100% + 30px);
    }
  }
}