<div class="bus-floor" *ngFor="let floor of seatingScheme; let f=index">
  <div class="bus-row" *ngFor="let row of floor; let r=index; let last=last" [ngClass]="{'last': last}">
    <div class="bus-column" *ngFor="let column of row; let c=index" (click)="onClickElement(column, [f, r, c])">
      <ng-container [ngSwitch]="column">
        <div class="element driver" *ngSwitchCase="'d'">
          <img src="assets/icons/bus/template/driver.svg"
            loading="lazy">
        </div>
        <div class="element" *ngSwitchCase="'t'">
          <img src="assets/icons/bus/template/tv.svg"
            loading="lazy">
        </div>
        <div class="element" *ngSwitchCase="'s'">
          <img src="assets/icons/bus/template/steps.svg"
            loading="lazy">
        </div>
        <div class="element" *ngSwitchCase="'e'">
          <img src="assets/icons/bus/template/hall-light.svg"
            loading="lazy">
        </div>
        <div class="element seat" *ngSwitchDefault>
          <img src="assets/icons/bus/template/seat.svg"
            loading="lazy">
          <p> {{ column }} </p>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="add-bus-row">
    <button type="button" class="ovj-btn-circle options-btn btn btn-default"
      (click)="addBusRow(f)">
      <div class="rounded-circle">
        <img src="assets/icons/bus/template/add-seats.svg" loading="lazy">
      </div>
    </button>
    <div class="column-to-add" *ngFor="let column of seatingScheme[f][0]">
      <img src="assets/icons/bus/template/hall-light.svg" loading="lazy">
    </div>
  </div>
  <div class="add-bus-column">
    <button type="button" class="ovj-btn-circle options-btn btn btn-default"
      (click)="addBusColumn(f)">  
      <div class="rounded-circle">
        <img src="assets/icons/bus/template/add-seats.svg" loading="lazy">
      </div>
    </button>
    <div class="row-to-add" *ngFor="let row of seatingScheme[f]">
      <img src="assets/icons/bus/template/hall-light.svg" loading="lazy">
    </div>
  </div>
  <div class="remove-bus-row" *ngIf="seatingScheme[f].length > 3">
    <button type="button" class="ovj-btn-circle options-btn btn btn-default"
      (click)="removeBusRow(f)">
      <div class="rounded-circle">
        <img src="assets/icons/bus/template/remove-seats.svg" loading="lazy">
      </div>
    </button>
  </div>
  <div class="remove-bus-column" *ngIf="seatingScheme[f][0].length > 3">
    <button type="button" class="ovj-btn-circle options-btn btn btn-default"
      (click)="removeBusColumn(f)">
      <div class="rounded-circle">
        <img src="assets/icons/bus/template/remove-seats.svg" loading="lazy">
      </div>
    </button>
  </div>
</div>