@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ff8l7a');
  src:  url('fonts/icomoon.eot?ff8l7a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ff8l7a') format('truetype'),
    url('fonts/icomoon.woff?ff8l7a') format('woff'),
    url('fonts/icomoon.svg?ff8l7a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-print:before {
  content: "\e929";
}
.icon-save:before {
  content: "\e927";
}
.icon-trash-2:before {
  content: "\e928";
}
.icon-shield-keyhole:before {
  content: "\e926";
}
.icon-person:before {
  content: "\e925";
}
.icon-credit-card:before {
  content: "\e923";
}
.icon-warning-signal:before {
  content: "\e924";
}
.icon-settings-outline:before {
  content: "\e922";
}
.icon-home:before {
  content: "\e920";
}
.icon-bus-template:before {
  content: "\e921";
}
.icon-key:before {
  content: "\e90c";
}
.icon-parameters:before {
  content: "\e90d";
}
.icon-settings:before {
  content: "\e90e";
}
.icon-charge-report:before {
  content: "\e90f";
}
.icon-list-2:before {
  content: "\e911";
}
.icon-list-1:before {
  content: "\e912";
}
.icon-reports:before {
  content: "\e913";
}
.icon-charge-tracing:before {
  content: "\e914";
}
.icon-assignment-receiving:before {
  content: "\e915";
}
.icon-manifest:before {
  content: "\e916";
}
.icon-assignment-sending:before {
  content: "\e917";
}
.icon-cash:before {
  content: "\e918";
}
.icon-departure:before {
  content: "\e919";
}
.icon-routes:before {
  content: "\e91a";
}
.icon-geo-loc:before {
  content: "\e91b";
}
.icon-group:before {
  content: "\e91c";
}
.icon-bus:before {
  content: "\e91d";
}
.icon-people:before {
  content: "\e91e";
}
.icon-business:before {
  content: "\e91f";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-assignment:before {
  content: "\e90a";
}
.icon-assignment-register:before {
  content: "\e90b";
}
.icon-sort-arrow:before {
  content: "\e909";
  color: #c4c4c4;
}
.icon-trash:before {
  content: "\e908";
}
.icon-edit:before {
  content: "\e910";
}
.icon-download:before {
  content: "\e907";
  color: #fff;
}
.icon-arrow-outline:before {
  content: "\e906";
}
.icon-plus-2:before {
  content: "\e905";
  color: #fff;
}
.icon-arrow-1:before {
  content: "\e904";
  color: #6c757d;
}
.icon-plus:before {
  content: "\e903";
  color: #042b63;
}
.icon-search:before {
  content: "\e902";
  color: #fff;
}
.icon-whatsapp-oviajamos:before {
  content: "\e901";
  color: #fff;
}
.icon-email:before {
  content: "\e900";
  color: #fff;
}
