$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-print: "\e929";
$icon-save: "\e927";
$icon-trash-2: "\e928";
$icon-shield-keyhole: "\e926";
$icon-person: "\e925";
$icon-credit-card: "\e923";
$icon-warning-signal: "\e924";
$icon-settings-outline: "\e922";
$icon-home: "\e920";
$icon-bus-template: "\e921";
$icon-key: "\e90c";
$icon-parameters: "\e90d";
$icon-settings: "\e90e";
$icon-charge-report: "\e90f";
$icon-list-2: "\e911";
$icon-list-1: "\e912";
$icon-reports: "\e913";
$icon-charge-tracing: "\e914";
$icon-assignment-receiving: "\e915";
$icon-manifest: "\e916";
$icon-assignment-sending: "\e917";
$icon-cash: "\e918";
$icon-departure: "\e919";
$icon-routes: "\e91a";
$icon-geo-loc: "\e91b";
$icon-group: "\e91c";
$icon-bus: "\e91d";
$icon-people: "\e91e";
$icon-business: "\e91f";
$icon-eye: "\e9ce";
$icon-eye-blocked: "\e9d1";
$icon-menu: "\e9bd";
$icon-cross: "\ea0f";
$icon-arrow-up2: "\ea3a";
$icon-mail2: "\ea84";
$icon-facebook2: "\ea91";
$icon-instagram: "\ea92";
$icon-whatsapp: "\ea93";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9d";
$icon-linkedin: "\eac9";
$icon-file-pdf: "\eadf";
$icon-assignment: "\e90a";
$icon-assignment-register: "\e90b";
$icon-sort-arrow: "\e909";
$icon-trash: "\e908";
$icon-edit: "\e910";
$icon-download: "\e907";
$icon-arrow-outline: "\e906";
$icon-plus-2: "\e905";
$icon-arrow-1: "\e904";
$icon-plus: "\e903";
$icon-search: "\e902";
$icon-whatsapp-oviajamos: "\e901";
$icon-email: "\e900";

