@import 'variables';

.modal-wrapper {
  .content {
    padding: 25px 3rem 0 3rem;
    text-align: center;
    p {
      font-style: normal;
      margin: 0;
    }
    i.icon-warning-signal {
      font-size: 70px;
      &::before {
        color: $color-ff533d;
      }
    }
    .title {
      color: $color-3c64b1;
      font-size: 36px;
      font-weight: 500;
      line-height: 40px;
      margin: 10px;
    }
    .message {
      color: $color-042b63;
      font-size: 14px;
      font-weight: 400;
      line-height: 18.2px;
      b {
        font-weight: bold;
      }
    }
    .amount-card {
      background-color: $white;
      border-radius: 8px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
      font-style: normal;
      height: 78px  ;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 20px;
      width: 223px;
      .header {
        align-items: flex-end;
        display: flex;
        i.icon {
          font-size: 20px;
          margin-right: 5px;
          &::before {
            color: $color-666666;
          }
        }
        p {
          color: $color-666666;
          font-size: 10px;
          font-weight: 500;
          line-height: 16px;
        }
      }
      .amount {
        display: flex;
        font-size: 34px;
        font-weight: normal;
        line-height: 40px;
        p {
          &:last-child {
            margin-left: 10px;
          }
        }
      }
    }
    .oviajamos-form {
      padding-bottom: 0;
      padding-top: 0;
      .md-form {
        &:first-child {
          margin-bottom: 2rem !important;
        }
      }
    }
  }
  .actions {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 20px 30px 20px;
    width: 100%;
    .btn {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      width: 200px;
      &:first-child {
        background-color: $white;
        border: 1px solid #FF533D;
        border-radius: 25px !important;
        color: $black;
        margin-right: 10px;
      }
      &:last-child {
        background: linear-gradient(0deg, #FF533D, #FF533D), #A1EAA8;
        border-radius: 25px !important;
        color: $white;
        margin-left: 10px;
      }
    }
  }
}