@import 'variables';

.custom-card-info {
  .content-item {
    .principal {
      .item-sub-label {
        margin-bottom: 0;
      }
    }
  }
}
.detail {
  .info-item {
    p {
      font-style: normal;
      margin-bottom: 0;
      &:first-child {
        color: $black;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
      }
      &:last-child {
        color: $color-042b63;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
      }
    }
    &:last-child {
      margin-top: 10px;
      p {
        &:last-child {
          color: $color-666666;
          font-size: 18px;
          font-weight: 300;
          line-height: 21px;
        }
      }
    }
  }
}
.contacts-title {
  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }
}
.reference-contacts {
  padding: 0 5px;
  .contact {
    align-items: center;
    display: flex;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    .driver-img {
      height: 40px;
      margin-right: 10px;
      width: 40px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .driver-info {
      display: flex;
      flex-direction: column;
      p {
        font-style: normal;
        margin-bottom: 0;
        &:first-child {
          color: $color-042b63;
          font-size: 18px;
          font-weight: normal;
          line-height: 21px;
        }
        &:last-child {
          color: $color-666666;
          font-size: 18px;
          font-weight: 300;
          line-height: 21px;
        }
      }
    }
  }
}