<button type="button" aria-label="Close" class="close-modal-btn btn btn-default" (click)="action.next(false)">
  <i class="icon icon-cross"></i>
</button>
<div class="mb-4">
  <div class="row">
    <div class="col-12 ovj-banner">
      <img src="assets/images/oviajamos-banner.svg" loading="lazy">
      <p class="title m-0"> Editar plantilla de bus </p>
    </div>
    <div class="bus-template-content col-md-10 offset-md-1">
      <div class="template-management-wrapper mt-2">
        <div class="template-items row" *ngIf="!editingTemplate">
          <div class="add col-xs" (click)="createTemplate()">
            <div class="seating-scheme">
              <img src="assets/icons/bus/template/new-template.svg" loading="lazy">
              <p class="add-label"> Crear nuevo </p>
            </div>
          </div>
          <div class="custom col-xs" *ngFor="let seatingScheme of seatingSchemes" (click)="selectTemplate(seatingScheme)">
            <div class="seating-scheme"
              [ngClass]="{'selected': seatingScheme.seatingSchemeId === selectedSeatingScheme?.seatingSchemeId}">
              <img src="assets/icons/bus/template/template-wrapper.svg" loading="lazy">
              <p class="seats"> {{ seatingScheme.totalSeats }} </p>
              <p class="seats-label"> Asientos </p>
            </div>
            <p class="bus-type-label"> {{ seatingScheme.busName }} </p>
          </div>
        </div>
      </div>
      <div class="bus-options" *ngIf="selectedSeatingScheme">
        <div class="bus">
          <app-seating-scheme [seatingScheme]="selectedSeatingScheme"></app-seating-scheme>
        </div>
        <div class="form-actions-container">
          <button class="btn ovj-btn-light" type="button" (click)="editTemplate()" [disabled]="!selectedSeatingScheme">
            EDITAR PLANTILLA
          </button>
          <button class="btn ovj-btn-blue-2" type="submit" (click)="submitTemplate()" [disabled]="!selectedSeatingScheme">
            USAR ESTE BUS
          </button>
        </div>
      </div>
    </div>  
  </div>
</div>