@import 'variables';

.page404{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  .title{
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0em;
    color: $page404-client-title;
  }
  .font {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    color: $color-1763d1;
  }
}
