<section class="page404">
  <div>
    <img src="assets/images/client/page404.svg" loading="lazy">
  </div>
  <div class="title pt-4">
    <h5 class="font-weight-bold">Página no encontrada</h5>
  </div>
  <div class="font pt-3">
    <p>Lo sentimos, no se pudo encontrar la página que solicitó.</p>
  </div>
  <div class="font">
    <p>Regrese a la página de inicio.</p>
  </div>
  <div>
    <button class="btn ovj-btn-orange-3 font-weight-bold" type="submit" (click)="redirection()">Volver a inicio</button>
  </div>
</section>
