<form class="border-light oviajamos-form" autocomplete="off" [formGroup]="busStopGroup">
  <div class="mb-form ovj-input-file">
    <div class="image-circle-container">
      <img [src]="dafaultImage"
        class="view-photo"
        loading="lazy">
      <img class="camera-icon"
        src="assets/icons/camera-icon.svg"
        loading="lazy">
      <input type="file" accept=".png, .jpg, .jpeg" formControlName="imageUrl" (change)="setImage($event)">
    </div>
    <div *ngIf="submitted && busStopForm.imageUrl.errors" class="">
      <span *ngIf="busStopForm.imageUrl.errors.required" class="ovj-mesage-error">Imagen obligatoria  </span>
    </div>
  </div>
  <div class="text-center mt-4">
    <h5 class="ovj-text-primary">Información de Empresa</h5>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="name" class="form-control ovj-input" formControlName="name">
        <label for="name" class="ovj-label">Nombre de Empresa<span class="text-danger">*</span></label>
        <div *ngIf="submitted && busStopForm.name.errors" class="">
          <mdb-error *ngIf="busStopForm.name.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="bankName" class="form-control ovj-input" formControlName="bankName">
        <label for="bankName" class="ovj-label">Nombre de Banco<span class="text-danger">*</span></label>
        <div *ngIf="submitted && busStopForm.bankName.errors" class="">
          <mdb-error *ngIf="busStopForm.bankName.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="bankAccountNumber" class="form-control ovj-input" formControlName="bankAccountNumber">
        <label for="bankAccountNumber" class="ovj-label">Número de Cuenta Bancaria<span class="text-danger">*</span></label>
        <div *ngIf="submitted && busStopForm.bankAccountNumber.errors" class="">
          <mdb-error *ngIf="busStopForm.bankAccountNumber.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="busStopForm.bankAccountNumber.errors.minlength" class="ovj-mesage-error">Mínimo de 7 caracteres</mdb-error>
          <mdb-error *ngIf="busStopForm.bankAccountNumber.errors.maxlength" class="ovj-mesage-error">Máximo de 100 caracteres</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="number" id="phone" class="form-control ovj-input" formControlName="phone"
          (keydown)="numberInputValidator($event)">
        <label for="phone" class="ovj-label">Celular<span class="text-danger">*</span></label>
        <div *ngIf="submitted && busStopForm.phone.errors" class="">
          <mdb-error *ngIf="busStopForm.phone.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
          <mdb-error *ngIf="busStopForm.phone.errors.pattern" class="ovj-mesage-error">Valor inválido</mdb-error>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="md-form">
        <input mdbInput type="text" id="email" class="form-control ovj-input" formControlName="email">
        <label for="email" class="ovj-label">Correo electrónico<span class="text-danger">*</span></label>
        <div *ngIf="submitted && busStopForm.email.errors" class="">
          <mdb-error *ngIf="busStopForm.email.errors.required" class="ovj-mesage-error">Campo obligatorio</mdb-error>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg"></div>
    <div class="col-lg">
      <a (click)="changePassword()">Cambiar contraseña</a>
    </div>
  </div>
</form>