<form class="oviajamos-form my-4 p-0" autocomplete="off" [formGroup]="monthlyPaymentGroup">
  <div class="ovj-form mb-2">
    <label class="ovj-label"> Fecha </label>
    <dp-date-picker class="form-control ovj-picker"
      [config]="datePickerConf"
      mode="day"
      theme="dp-material"
      formControlName="paymentDate"
      placeholder="DD/MM/AAAA"
      [ngClass]="{'is-invalid': submitted && monthlyPaymentForm.paymentDate.errors}">
    </dp-date-picker>
    <div class="invalid-feedback" *ngIf="monthlyPaymentForm.paymentDate.errors?.required">Campo obligatorio</div>
    <div class="invalid-feedback" *ngIf="monthlyPaymentForm.paymentDate.errors?.minDate">Fecha inválida</div>
  </div>
  <div class="ovj-form mb-2">
    <label class="ovj-label"> N° de transferencia </label>
    <input type="number" class="form-control ovj-input" formControlName="transferNumber"
      [ngClass]="{'is-invalid': submitted && monthlyPaymentForm.transferNumber.errors}"
      (keydown)="numberInputValidator($event)">
    <div class="invalid-feedback" *ngIf="monthlyPaymentForm.transferNumber.errors?.required"> Campo obligatorio </div>
  </div>
  <div class="ovj-form mb-2">
    <label class="ovj-label"> Nombre de banco de origen </label>
    <ng-select class="form-control ovj-select"
      formControlName="bankSource"
      [ngClass]="{'is-invalid': submitted && monthlyPaymentForm.bankSource.errors}">
      <ng-option *ngFor="let bank of banks" [value]="bank.name">
        {{ bank.name }}
      </ng-option>
    </ng-select>
    <div class="invalid-feedback" *ngIf="monthlyPaymentForm.bankSource.errors?.required">Campo obligatorio</div>
  </div>
  <div class="image-container">
    <img [src]="defaultImage"
      class="view-photo"
      loading="lazy"
      *ngIf="imageFile">
    <div *ngIf="excededImageSize">
      <span class="ovj-mesage-error">La imagen no debe exceder 2Mb</span>
    </div>
    </div>
    <div class="upload-btn">
      <button class="btn ovj-btn dark-orange-bordered">
      <label>
        <input id="monthly-payment-image"
          type="file"
          accept=".png, .jpg, .jpeg"
          formControlName="imageUrl"
          (change)="setImage($event)">
        Subir imagen
      </label>
    </button>
  </div>
</form>