<div class="modal-wrapper">
  <div class="content">
    <img class="mb-2"
      src="assets/icons/warning-icon.svg"
      loading="lazy">
    <p class="title"> Asiento ocupado </p>
    <p class="message"> No se puede sobreescribir, pero puedes <b> intercambiar </b> asientos <b> avisando y si aceptan ambos pasajeros. </b> </p>
    <div class="seat-change-info mt-3">
      <div class="prev">
        <div class="seat-img">
          <img src="assets/icons/bus/template/seat-selected.svg" loading="lazy">
          <p> {{ selectedTicket.position | seatNumber }} </p>
        </div>
        <div class="detail">
          <p> {{ selectedTicket.passengerName }} </p>
          <p> CI: {{ selectedTicket.documentNumber }} </p>
          <p> Ruta: {{ departure?.route?.source.name }} > {{ departure?.route?.destination.name }} </p>
          <p> Fecha: {{ departure?.departureDate?.startDate | formatDate }} </p>
          <p> Precio: {{ departure?.price }} Bs/asiento. </p>
        </div>
        <div class="arrow-line"></div>
        <i class="ovj-arrow down"></i>
      </div>
      <div class="next">
        <div class="seat-img">
          <img src="assets/icons/bus/template/seat-selected.svg" loading="lazy">
          <p> {{ newTicket.position | seatNumber }} </p>
        </div>
        <div class="detail">
          <p> {{ newTicket.passengerName }} </p>
          <p> CI: {{ newTicket.documentNumber }} </p>
          <p> Ruta: {{ departure?.route?.source.name }} > {{ departure?.route?.destination.name }} </p>
          <p> Fecha: {{ departure?.departureDate?.startDate | formatDate }} </p>
          <p> Precio: {{ departure?.price }} Bs/asiento. </p>
        </div>
      </div>
    </div>
  </div>
</div>