<form autocomplete="off" class="oviajamos-form">
  <div [formGroup]="officeGroup">
    <div class="text-center">
      <h5 class="ovj-text-primary">
        <ng-container *ngIf="firstOffice"> Primera oficina </ng-container>
        <ng-container *ngIf="!firstOffice"> Información de oficina </ng-container>
      </h5>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="ovj-form">
          <label class="ovj-label">Nombres de Oficina<span class="text-danger">*</span></label>
          <input type="text" class="form-control ovj-input" formControlName="name"
            [ngClass]="{'is-invalid': submitted && officeForm.name.errors}">
          <div class="invalid-feedback" *ngIf="officeForm.name.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback" *ngIf="officeForm.name.errors?.minlength">Mínimo de 3 caracteres</div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="ovj-form">
          <label class="ovj-label">Dirección<span class="text-danger">*</span></label>
          <input type="text" class="form-control ovj-input" formControlName="address"
            [ngClass]="{'is-invalid': submitted && officeForm.address.errors}">
          <div class="invalid-feedback" *ngIf="officeForm.address.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback" *ngIf="officeForm.address.errors?.minlength">Mínimo de 3 caracteres</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="ovj-form">
          <label class="ovj-label">Departamento<span class="text-danger">*</span></label>
          <ng-select class="form-control ovj-select"
            formControlName="department"
            notFoundText="Sin coincidencias"
            [searchable]="false"
            [ngClass]="{'is-invalid': submitted && officeForm.department.errors}">
            <ng-option *ngFor="let key of departmentEnumKeys" [value]="departmentEnum[key]">
              {{ departmentEnum[key] }}
            </ng-option>
          </ng-select>
          <div class="invalid-feedback" *ngIf="officeForm.department.errors?.required">Campo obligatorio</div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="ovj-form">
          <label class="ovj-label">Tipo de oficina<span class="text-danger">*</span></label>
          <ng-select class="form-control ovj-select"
            formControlName="type"
            notFoundText="Sin coincidencias"
            [searchable]="false"
            [ngClass]="{'is-invalid': submitted && officeForm.type.errors}">
            <ng-option *ngFor="let key of officeTypeEnumKeys" [value]="officeTypeEnum[key]">
              {{ officeTypeEnum[key] }}
            </ng-option>
          </ng-select>
          <div class="invalid-feedback" *ngIf="officeForm.type.errors?.required">Campo obligatorio</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="ovj-form">
          <label class="ovj-label">Parada<span class="text-danger">*</span></label>
          <ng-select class="form-control ovj-select busStopFilter"
            formControlName="busStop"
            notFoundText="Sin coincidencias"
            [ngClass]="{'is-invalid': submitted && officeForm.busStop.errors}">
            <ng-option *ngFor="let busStop of busStops" [value]="busStop.busStopId">
              {{ busStop.name}}
            </ng-option>
          </ng-select>
          <div class="invalid-feedback" *ngIf="officeForm.busStop.errors?.required">Campo obligatorio</div>
        </div>
      </div>
    </div>
  </div>
  <div [formGroup]="dosageGroup">
    <div class="text-center mt-5">
      <h5 class="ovj-text-primary">Llaves de dosificación</h5>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="ovj-form">
          <label class="ovj-label"> Actividad económica <span class="text-danger">*</span></label>
          <input type="text" class="form-control ovj-input" formControlName="economicActivity"
            [ngClass]="{'is-invalid': submitted && dosageForm.economicActivity.errors}">
          <div class="invalid-feedback" *ngIf="dosageForm.economicActivity.errors?.required">Campo obligatorio</div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="ovj-form mb-2">
          <label class="ovj-label"> Número de autorización <span class="text-danger">*</span></label>
          <input type="number" class="form-control ovj-input" formControlName="authorizationNumber"
            [ngClass]="{'is-invalid': submitted && dosageForm.authorizationNumber.errors}"
            (keydown)="numberInputValidator($event)">
          <div class="invalid-feedback" *ngIf="dosageForm.authorizationNumber.errors?.required">Campo obligatorio</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="ovj-form">
          <label class="ovj-label">Fecha límite de emisión<span class="text-danger">*</span></label>
          <dp-date-picker class="form-control ovj-picker"
            [config]="datePickerConf"
            mode="day"
            theme="dp-material"
            formControlName="emissionTimeLimit"
            [minDate]="minDate"
            placeholder="DD/MM/AAAA"
            [ngClass]="{'is-invalid': submitted && dosageForm.emissionTimeLimit.errors}">
          </dp-date-picker>
          <div class="invalid-feedback" *ngIf="dosageForm.emissionTimeLimit.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback" *ngIf="dosageForm.emissionTimeLimit.errors?.minDate">Fecha inválida</div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="ovj-form mb-2">
          <label class="ovj-label"> Número de factura <span class="text-danger">*</span></label>
          <input type="number" class="form-control ovj-input" formControlName="invoiceNumber"
            [ngClass]="{'is-invalid': submitted && dosageForm.invoiceNumber.errors}"
            (keydown)="numberInputValidator($event)">
          <div class="invalid-feedback" *ngIf="dosageForm.invoiceNumber.errors?.required">Campo obligatorio</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="ovj-form">
          <label class="ovj-label"> Leyenda/Glosa <span class="text-danger">*</span></label>
          <input type="text" class="form-control ovj-input" formControlName="gloss"
            [ngClass]="{'is-invalid': submitted && dosageForm.gloss.errors}">
          <div class="invalid-feedback" *ngIf="dosageForm.gloss.errors?.required">Campo obligatorio</div>
        </div>
      </div>
    </div>
    <div class="row">   
      <div class="col-12">
        <div class="ovj-form">
          <label class="ovj-label"> Llave de dosificación <span class="text-danger">*</span></label>
          <input type="text" class="form-control ovj-input" formControlName="dosageKey"
            [ngClass]="{'is-invalid': submitted && dosageForm.dosageKey.errors}">
          <div class="invalid-feedback" *ngIf="dosageForm.dosageKey.errors?.required">Campo obligatorio</div>
          <div class="invalid-feedback" *ngIf="dosageForm.dosageKey.errors?.minlength">Mínimo de 3 caracteres</div>
        </div>
      </div>
    </div>
  </div>
</form>