<div class="options-modal">
  <div class="options-header">
    <p> Estados </p>
    <button class="btn btn-default" aria-label="Close" (click)="action.next(false)">
      <i class="icon icon-cross"></i>
    </button>
  </div>
  <div class="content">
    <div class="item" (click)="setStatus(departureStatusEnumKeys[2])">
      <p> Cancelado </p>
    </div>
    <div class="item" (click)="setStatus(departureStatusEnumKeys[3])">
      <p> Salió </p>
    </div>
    <div class="item" (click)="setStatus(departureStatusEnumKeys[1])">
      <p> Abordando </p>
    </div>
    <div class="item" (click)="setStatus(departureStatusEnumKeys[0])">
      <p> En espera </p>
    </div>
  </div>
</div>