@import 'variables';

.type-filter {
  .lashes-container {
    margin-bottom: -3px;
    .departure-lash-container {
      padding: 0 0.2rem;
      &:first-child {
        padding-left: 0;
        padding-right: 0.2rem;
      }
      &:last-child {
        padding-left: 0.2rem;
        padding-right: 0;
      }
      .daparture-lash {
        background-color: $color-f5f5f5;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: $color-666666;
        cursor: pointer;
        font-size: 0.85rem;
        min-height: 40px;
        padding: 0 0.5rem;
        &.selected {
          background-color: $white;
          color: $color-042b63;
          cursor: default;
        }
        img {
          width: 20px;
        }
      }
    }
  }
  .mobile-type-filter {
    background: $white;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    .type-dropdown {
      .status {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 8px 10px;
        p {
          color: #6C757D;
          font-size: 16px;
          font-style: normal;
          font-weight: normal;
          line-height: 24px;
          margin-bottom: 0;
        }
        i {
          font-size: 12px;
          &.opened {
            transform: rotate(180deg);
          }
        }
      }
      .type-content {
        max-height: 0;
        opacity: 0;
        padding: 0;
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), visibility 0s 1s, opacity 0s linear;
        visibility: hidden;
        .type-item {
          display: flex;
          justify-content: space-between;
          padding: 11px 10px;
          p {
            color: #6C757D;
            font-size: 16px;
            font-style: normal;
            font-weight: normal;
            line-height: 24px;
            margin-bottom: 0;
          }
          .type {
            display: flex;
          }
          &.selected {
            background: #F4F5F8;
            border-radius: 8px;
          }
        }
        &.show {
          max-height: 1000px;
          opacity: 1;
          padding: 8px;
          transition: max-height 0.5s ease-in-out, opacity 0.5s linear;
          visibility: visible;
        }
      }
    }
  }
}
.mobile-table-title {
  display: none;
}
.pagination {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: $break-large) {
  .ovj-banner {
    display: none;
  }
  .mobile-table-title {
    color: #495057;
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: $break-small) {
  .type-filter {
    .lashes-container {
      display: none;
    }
    .mobile-type-filter {
      display: block;
    }
  }
}