<video id="scannerScreen" #scannerScreen></video>
<!-- <video id="scannerScreen" disablepictureinpicture="" playsinline="" style="transform: scaleX(-1);" #scannerScreen></video> -->
<br>
<hr>
<br>
camara: {{ camHasCamera }} <br>
result: {{ result }} <br>
camaras: <br>
<div *ngFor="let cam of camList">
  {{ cam.id }} - {{ cam.label }}
</div>