@import 'variables';

.ovj-time-input {
  &.destiny {
    padding-right: 3px;
  }
}

.add-intermediate-link {
  cursor: pointer;
}

@media screen and (max-width: $break-small) {
  .location-input {
    margin-left: 0.25rem !important;
  }
}

.plus-outline-icon {
  margin-top: -4px;
  margin-left: 0.62rem;
}

.location-icons {
  position: relative;
  :first-child {
    z-index: 5;
  }
  :nth-child(2) {
    position: absolute;
    height: 43px;
    top: -2.65rem;
    left: 1.35rem;
    &.destiny-route-line {
      top: -2.4rem;
    }
  }
  .location-icon-sm {
    margin-left: 0.61rem;
  }
  &.icon-sm {
    margin-top: 10px;
  }
}